[2020-09-27 11:11] #219 closed

[2020-09-27 11:12] alvarobartt commented on #213
Hi @evstas87 and @dennislwm, thank you for reporting this issue!

This was already solved in https://github.com/alvarobartt/investpy/pull/205, in order to update investpy from source please use the following command:

``
pip install git+https://github.com/alvarobartt/investpy.git@master
``

Remember to star the repo, follow me here and on Twitter at https://twitter.com/alvarobartt so as to get not

[2020-09-27 11:12] #213 closed

[2020-09-27 11:13] alvarobartt commented on #201
Hi @Swopper050, @MatthieuH5565 and @shigerufw, thank you for reporting this issue!

This was already solved in https://github.com/alvarobartt/investpy/pull/205, in order to update investpy from source please use the following command:

``
pip install git+https://github.com/alvarobartt/investpy.git@master
``

Remember to star the repo, follow me here and on Twitter at https://twitter.com/alvarobart

[2020-09-27 11:13] #201 closed

[2020-09-27 17:25] royopa opened #220 "How to update csv in resources folder?"
Hi @alvarobartt !

I saw that the index symbol "XAUFIX=" is available on investing website (see https://www.investing.com/indices/lbma-gold-fixing-price), but this index is not linked on resources/indices.csv.

Could you explain  how to update the csv files inside resources folder? Or maybe how to get the news ids from investing page.
If you have any webscraper script maybe could be useful have th

[2020-09-28 07:49] alvarobartt commented on #176
Hi @lefig. thank you for reporting it and sorry for taking too long to answer I've been mad busy lately!

As you mention, Investing.com seems to have an IP Blacklist regarding the Stocks data which will end up in your IP being blacklisted when sending too much requests to that data. As you suggest, every request is being sent using a random User-Agent from a list of valid User-Agents, so the main

[2020-09-28 07:49] #176 closed

[2020-09-28 21:05] qulis opened #221 "Not all stocks"
Hi.
It try to get some information about AWF:
https://www.investing.com/equities/alliancebernstein-global-hig-closed
But:
print(investpy.stocks.search_stocks('isin', 'US01879R1068'))
RuntimeError: ERR#0043: no results were found for the introduced isin.

I tried another method to get stock's information but not all data were returned.

Any reason?)

[2020-09-30 12:10] LuisSousaSilva commented on #210
Solution here: https://github.com/alvarobartt/investpy/issues/208

[2020-09-30 16:32] mohamednei opened #222 "Way to Download all Egypt Stocks once time"
Are there is any way to download all Egypt Stocks historical data once time?

[2020-09-30 20:54] GitHunter0 commented on #53
Hey @alvarobartt , I'm still having the same issue with investpy version 1.0.

For example, this returns the error message "RuntimeError: ERR#0034: country euro zone not found, check if it is correct.":
`investpy.get_index_recent_data(index='STOXX 600',  country='euro zone', order='ascending', interval='Daily')`

Is there a workaround? I hope so, investpy is a fantastic package.

[2020-10-01 12:15] ferguswaterhouse opened #224 "Investpy and Pyinstaller"
Hi @alvarobartt

I have created an app using investpy which is awesome btw, just what I was looking for! I am now finally at the stage of packaging the script into an exe file using pyinstaller but I get the following error which seems to be linked to the invespy api:

NotImplementedError: Can't perform this operation for unregistered loader type

If you could help me with this it would be greatly

[2020-10-01 12:18] #224 closed

[2020-10-02 17:45] RobertoPaolinelli opened #225 "Unable to get Italian ETFs data"
Hello,
I'm trying to fetch italian ETF and I always come into an error

df = investpy.get_etf_recent_data(etf='WisdomTree Physical Gold',country='italy')
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\rpao\AppData\Local\Programs\Python\Python38-32\lib\site-packages\investpy\etfs.py", line 279, in get_etf_recent_data
    raise RuntimeError("ERR#0019: etf "

[2020-10-02 22:11] GitHunter0 opened #226 "Error trying to retrieve data from indices located in "euro zone" or "world""
Hey @alvarobartt , I'm still having issue #53  with investpy version 1.0.

For example, this returns the error message "RuntimeError: ERR#0034: country euro zone not found, check if it is correct.":
`investpy.get_index_recent_data(index='STOXX 600', country='euro zone', order='ascending', interval='Daily')`

Is there a workaround? I hope so, investpy is a fantastic package.

[2020-10-05 20:18] patrickongwong commented on #163
Hi @alvarobartt

I am reporting the same for RACE from NYSE, I seem to be able to search it via investpy.search() but not get its data

https://www.investing.com/equities/ferrari-nv

[2020-10-07 14:15] odufb opened #227 "Intraday data"
As far as I know  only daily weekly and monthly  data availble for the stocks.  is it possible to get intraday data such as 4h 1h 30m etc.

thank you for your great work.

[2020-10-11 16:21] legout commented on #227
@alvarobartt
Intraday data would be a really nice feature.

It is available using the following link:

For example, this is the link for Apple intraday data 5min resolution:

https://tvc4.forexpros.com/c05f9748c82ced69094051303ee7cac9/1602415618/1/1/8/history?symbol=NASDAQ:AAPL&resolution=5&from=1571311623&to=1602415683"

https://tvc4.forexpros.com/c05f9748c82ced69094051303ee7cac9/1602415618/1/1/8

[2020-10-12 05:41] odufb commented on #227
thank you @alvarobartt this solution good for me but one more last question . I couldnt understand the format of FROM and TO inputs. How can I convert  begining and end dates to integer

[2020-10-12 12:28] legout commented on #227
FROM and TO are unix timestamps.

Converting a datetime string to a unix timestamp is easy:

[code]
Note: "1602415618" is also an unix timestamp. Guess which one ;-)

BTW, I am not @alvarobartt

legout

[2020-10-13 02:35] pradeephyd opened #228 "Access all stocks data to avoid blocking IP address"
we know if we make too many requests IP will be blocked for some time.
to avoid this my idea is to access

https://www.investing.com/technical/personalized-quotes-technical-summary

On this page, under customize, button user can add his shortlisted stocks and refresh the page every second and access all stocks data.
@alvarobartt  is it makes sense,  it will be very useful someone can implement it.

[2020-10-13 08:45] sine-w opened #229 "Possibility of making from and to date in get stock and index api optional"
Hi,
First of all, thanks for your wonderful python library.

After reading the api reference, I found that, the when using api to get the historical price of stocks or indexes have to specify the start and end date.
I always want to load the whole historical data, i.e. from the very first date to the latest available date, so is it possible to make these two optional inputs, when these two values

[2020-10-14 20:31] alvarobartt commented on #229
Hi @sine-w! Thank you too for your kind words towards me and investpy!

Mmm thinking about that for a while, but I guess that I would create a new function to do so, since retrieving all the available data may lead to an increase on the retrieval time etc.

But thank you for proposing this, would definetely take this into consideration! Remember to star the repo, follow me here and on Twitter at h

[2020-10-14 20:34] alvarobartt commented on #228
Hi @pradeephyd! Thank you for this proposal as I think it is really useful, I'm figuring out on how to improve the package and its readability so that any of you can test all these features and implement them by yourselves if required. Anyway, I will have a look on this as I can include it on the next release since it is quite useful in order to avoid the IP-Blocking related with the requests sent

[2020-10-14 20:40] alvarobartt commented on #227
Hi both of you @odufb and @legout!

Of course intraday data is cool and a nice to have feature, but in this package just the Investing.com features are being covered, as this is an external feature I could maybe develop a new package for intraday data from the ForexPros site you shared. Would that be a possible/valid solution for you?

Just let me know! Remember to star the repo, follow me here an

[2020-10-14 20:40] #227 closed

[2020-10-17 18:33] LeonardoRick commented on #192
@alvarobartt is that possible to do? I was looking for something like that too
Thanks

[2020-10-19 09:10] legout commented on #227
Altough this is closed, I´ll reply once again:
Another source for intraday data provided by investing.com is:

https://advcharts.investing.com/advinion2016/advanced-charts/1/1/8/GetRecentHistory?strSymbol=6408&iTop=1500&strPriceType=bid&strFieldsMode=allFields&strExtraData=lang_ID=1&strTimeFrame=15M

Regards,
legout

[2020-10-19 09:17] qmhedging opened #230 "For commodity, Tocom Rubber and SGX rubber are not supported."
Hello,

I'd found that  Tocom Rubber(code JRUc1) and SGX rubber (Singapore RSS3 (code SRUc1) and TSR20 (code STFc1)) are not supported for this API.

Can these commodities be supported in the future?

Thank you very much.

[2020-10-19 09:19] qmhedging opened #231 "For commodity, can natural rubber futures be supported ?"
Hello,

I'd found that  Tocom Rubber(code JRUc1) and SGX rubber (Singapore RSS3 (code SRUc1) and TSR20 (code STFc1)) are not supported for this API.

Can these commodities be supported in the future?

Thank you very much.

[2020-10-19 09:23] qmhedging commented on #214
maybe can use this https://investpy.readthedocs.io/commodities_api.html

But it seems only data of main contracts

[2020-10-20 06:48] qmhedging opened #232 "For commodity，“MCX Aluminum Mini” has recent price data but “MCX Aluminum" has not."
For commodity，“MCX Aluminum Mini” has recent price data but “MCX Aluminum" has not.

"MCX Copper" has recent price data while "MCX Coppe Mini" has not.

Seems it's the issue of the investing.com website

[2020-10-20 07:04] CjS77 commented on #160
Hey, I've written a module in my fork of investpy for this. If you're interested I can push a PR.

It works like this:

[code]

[code]

![Screenshot from 2020-10-20 09-03-24](https://user-images.githubusercontent.com/7573551/96551862-3e622f00-12b3-11eb-9516-fa0ddaa52df5.png)

[2020-10-20 07:27] alvarobartt commented on #160
Hi @CjS77! Thank you for the proposal!

Currently we are taking some days to understand how to reformat the project as a lot of changes are coming as some collaborators will be joining me on the investpy development as stated in: https://twitter.com/alvarobartt/status/1317426156245843968 (BTW if you wish to, leave a follow so as to get notified of all the updates)

Maybe we can discuss including t

[2020-10-20 08:20] CjS77 commented on #160
No problem. To be clear, the code is done, and you can [view the diff here](https://github.com/alvarobartt/investpy/compare/master...CjS77:master).

You guys are welcome to do whatever you want with it.. it works well for me right now, but I won't have time to spend any more time on it, so if you don't use it, that's ok too :)

[2020-10-29 22:20] lefig commented on #221
This is a common problem for LSE still.

[2020-10-29 23:13] lefig opened #233 "Fundamentals do not work"
These are LSE quoted stocks such as BNKR

Loaded 'runpy'
invalid literal for int() with base 10: '137.13'
Stack trace:

[2020-10-31 15:24] alvarobartt commented on #233
Hi @lefig I'm currently applying some code refactoring, but I'll try to generate the v1.1 release tomorrow as that's one of the several bugs that have been fixed. 👍🏻

Thank you for reporting it anyway!

[2020-11-02 14:16] FranciscoJMB opened #235 "Unable to get financial summary for Country = Chile"
Hi!

when running this code
data = investpy.get_stock_financial_summary(stock='ANDINAB', country='Chile', summary_type='income_statement', period='annual')

I get the following error:
-> 1435             data[curr_row].append(int(row.text_content().strip()))
ValueError: invalid literal for int() with base 10: '1779025.11'

I guess the string must be converted to float first an then to integer

[2020-11-02 19:31] alvarobartt commented on #235
Hi @FranciscoJMB! Thanks for reporting this, this has already been solved in https://github.com/alvarobartt/investpy/pull/205, but as I did not uploaded the new investpy release, that's not available.

In order to fix that until the v1.1 release is out, you can install it using the following command:

[code]

Just let me know! Remember to star the repo, follow me here and on Twitter at https://twi

[2020-11-02 19:31] #235 closed

[2020-11-02 19:33] alvarobartt commented on #233
Hi @lefig, that has been already fixed and you can install the new release with the fix using the following command:

[code]

Hope this works for you! Closing this for now, LMK if there's something else wrong! 👍🏻

[2020-11-02 19:33] #233 closed

[2020-11-02 19:34] #204 closed

[2020-11-02 19:35] alvarobartt commented on #204
Closing this as it was already fixed by @se-jaeger in https://github.com/alvarobartt/investpy/pull/217 👍🏻

[2020-11-02 19:37] alvarobartt commented on #226
Hi @GitHunter0! 🤗 Thank you for your kind words and sorry for taking so long to answer!

This has already been fixed by @se-jaeger in https://github.com/alvarobartt/investpy/pull/217, so in order to update investpy so that you have all the latest features, please install it using the following command and everything should be fixed:

[code]

Just let me know! Remember to star the repo, follow me h

[2020-11-02 19:37] #226 closed

[2020-11-02 19:38] #218 closed

[2020-11-02 19:39] alvarobartt commented on #218
Hi @NSSmithPortfolio I already closed this as October ended! Thank you for your proposal! 🤗

Could you please create it on a different new issue so that I can include it in the v1.1 release? Thanks again!

[2020-11-02 19:43] alvarobartt commented on #208
Hi @davins90 and @IgorCavaca! 🤗

Thank you both for contributing! It's nice to see how you help each other. Sorry for taking so long to answer, but this issue has already been solved by @se-jaeger in https://github.com/alvarobartt/investpy/pull/217, so in order to update investpy so that you have all the latest features, please install it using the following command and everything should be fixed:

[2020-11-02 19:43] #208 closed

[2020-11-02 19:45] alvarobartt commented on #210
Hi @aktherpu, @elocke-abroaden and @LuisSousaSilva! 🤗

Thank you all for contributing! It's nice to see how you help each other.

Sorry for taking so long to answer, but this issue has already been solved by @se-jaeger in https://github.com/alvarobartt/investpy/pull/217, so in order to update investpy so that you have all the latest features, please install it using the following command and every

[2020-11-02 19:45] #210 closed

[2020-11-02 19:46] alvarobartt commented on #206
Hi @davins90! 🤗 Sorry for taking too long to answer...

Did you got it working? did you solved it? Please just let me know 👍🏻

[2020-11-02 19:49] alvarobartt commented on #197
Hi @Milad137! 🤗

Could you tell me the error to reproduce it? I thought I fixed the timezones issue on the v1.0 release, but it seems I did not... 😩 That information can be so useful to me towards fixing it. Thank you!

[2020-11-02 19:52] alvarobartt commented on #193
Hi @lefig!

I just saw this piece of code and it looks nice to me, however I'm yet to test it! Where are you retrieving the proxies from? A private proxy listing or just a public domain one? Just let me know as I'm really looking forward solving this issue regarding the IP limitations while retrieving stocks data from Investing.com! 👍🏻

[2020-11-02 23:09] NSSmithPortfolio opened #236 "Add pulling of cryptocurrency technical analysis and moving averages"
https://www.investing.com/indices/investing.com-ltc-usd-technical

I'd take any, but ideally could pull the different time frames.

[2020-11-03 13:57] lefig commented on #193
Hi alvarobartt,

Good to  hear from you currently I use a private proxy address but it works in principle with any public free site. There are many. But you need to rotate these.

A solution is needed because Investing.com will ban your address otherwise.

I would suggest that you leave the URL to the free/public site as configurable or passed in as an optional param by a client when making an API

[2020-11-03 13:58] GitHunter0 commented on #226
@alvarobartt , no problem man, thank you for the response!
I followed the instruction, however I am still receiving this message error "RuntimeError: ERR#0034: country euro zone not found, check if it is correct."
Maybe it is some problem with git installation method, would you please consider push the updated investpy to pip repository, so that I can run another test? (also it is faster to instal

[2020-11-03 14:05] alvarobartt commented on #193
Hi @lefig that sounds good! 👍🏻 Indeed I'll try my best to include that into the v1.1 release as previously mentioned. Also, regarding the missing stocks I'm working on it, as retrieving all the IDs can be a quite difficult task due to the bad indexing Investing.com does.

Anyway, did you tried `investpy.search_quotes()` as a workaround until the resources/ are updated?

[2020-11-03 14:40] alvarobartt commented on #226
Sure @GitHunter0! Probably later today I'll upload to PyPI the updated version (probably 1.1beta), so that you can easily install it and test it so as to see if the issue is fixed. 👍🏻

[2020-11-04 00:05] lefig commented on #193
Hi Alvaro,

Much obliged for all your hard work on this project. It has been some achievement over the past year or so as is reflected in it's popularity.

I think that what we need is a way to not have to have a static resources file. Easier said than done I know. But one problem them you will have is needing to update this list all the time as and when new equities and funds are released or clos

[2020-11-04 11:37] alvarobartt commented on #193
Thank you for your kind words @lefig 🤗

I invited some outside collaborators to investpy so as to have some help and we already discussed that, as removing the static resources can be a huge improvement and replacing those just by the Investing's Search Engine anyway, that would increase the elapsed time while retrieving data. So on, the current idea is to pay for a server and automate the update

[2020-11-05 08:48] alvarobartt commented on #116
Hi @przemekr!

First of all sorry for the delay, I'm checking the older investpy issues and I didn't get notified of that comment as I already closed the issue 😩 So sorry for that!

Could you please send me an example so as to reproduce that issue? If so you can either create a new one and let me know so as to include it on the v1.1 project board (as you have some sort of priority as this was one

[2020-11-05 08:53] alvarobartt opened #238 "API Reference not available on the HTML Documentation"
After the `docs/` update in c9e57cabb66fdccd51cecc996420a47526d4c332, the API Reference seems to be missing and it's too important as it contains a lot of information on functions' usage which may help a lot of users while trying to use investpy.

Check that it's currently missing as it's not available at https://investpy.readthedocs.io 😩

BTW: Remember to include the `examples/`, which should con

[2020-11-07 02:29] traderpedroso commented on #186
``

def dateloop():

  today = date.today()
  start_date = datetime.date(1991, 1, 1)
  delta = datetime.timedelta(days=1)

  while start_date <= today:
      start_date += delta
      start = start_date.strftime('%d/%m/%Y')
      end = today.strftime('%d/%m/%Y')
      df = investpy.economic_calendar(from_date=start,to_date=end)
      df.to_csv('calendar.csv', mode='a',header=False)

dateloop()
[co

[2020-11-07 15:02] lefig commented on #193
And thank you too. For all your hard work and patience.

But your effort has been appreciated and is reflected in your repo growth of user interest.

We have stuck with you through-out and I thought some time back that you benefit from outside support.

And as for proxy... yes a solution is needed because investing.com are rather clever at detecting these things. And they will block.

[2020-11-07 17:52] traderpedroso commented on #186
better than b4

[code]

[2020-11-08 00:41] GitHunter0 commented on #226
Hey @alvarobartt, I appreciate! Please let us know when you release version 1.1beta at pip 👍🏻
PS: Just one doubt, are you sure the fix of #217 from @se-jaeger is in the master branch?

[2020-11-11 13:49] SairamSI opened #239 "15minutes Candle Sticks data from investing.com for NSEI and any other symbols to excel"
I need to collect 15minutes Candle Sticks data from investing.com for NSEI and any other symbols to excel
Here I’m attaching ppt & excel to know my need

Please help me
[Data.pptx](https://github.com/alvarobartt/investpy/files/5524328/Data.pptx)
[data.xlsx](https://github.com/alvarobartt/investpy/files/5524336/data.xlsx)

[2020-11-12 15:12] odufb opened #240 "Ratios"
Hi All,
Is it posiblle get all ratios  with industry average under this link https://www.investing.com/equities/apple-computer-inc-ratios

[2020-11-16 16:03] alvarobartt commented on #226
Sure @GitHunter0 I just checked it and it was already merged into the master branch! Will try to release it later today, I've been mad busy these days... 👍🏻

[2020-11-16 16:05] mreismendes commented on #204
I still have the same trouble! Should I do something?

[2020-11-17 11:50] swainsubrat opened #241 "Data Missing from Bonds, Forex."
I've tried to pull bond data and forex data. earlier it was working fine. Now it's not pulling bond data. Also, the forex is missing in between.

[2020-11-27 06:41] CedricAnover opened #243 "Can't get rates-bonds financial futures"
Im not sure how to get the historical prices of the bond futures.

![image](https://user-images.githubusercontent.com/27037068/100418944-864c5100-30be-11eb-855e-b05809df9697.png)

These could be a good addition to the next update.

[2020-11-30 07:42] pythagorea1 opened #245 "Indices futures not exist"
Hello,

Thank you for creating a wonderful api, however I can't find indices futures.

I would appreciate it if you could tell me where indices futures is.

[2020-11-30 08:35] cheejiayuan512 opened #246 "Get Economic Calendar only returns a maximum of 4 days worth of events."
Hi there,
Firstly I would like to thank you for making this delightful library. It reduces the effort to webscrape for investing data by a ton. However, I can't help but notice that when I use a data range of more than 4 days at a time, it does not return the correct date range. Thank you once again!

[2020-12-03 20:38] thiagof commented on #245
For futures usage you'll have to search and use the API to retrieve data from the `SearchObject`.

[code]

Currently the package does not contain a list of `fxfutures`. By the way that would be super helpful to have.

[2020-12-04 08:47] alvarobartt commented on #246
Hi @cheejiayuan512, thanks for your kind words! 👍🏻

Could you please provide an example? And share the code you are using so that I can reproduce it myself and solve it?

[2020-12-04 08:49] alvarobartt commented on #245
HI both @pythagorea1 and @thiagof! 👍🏻

Yes, as Thiago mentions currently the Index Futures feature is not included, but it will, as a lot of you are requesting it! Also, the sample code Thiago is sharing with you seems to solve the issue, as the `investpy.search_quotes` function is using Investing.com Search Engine.

More information available at: https://github.com/alvarobartt/investpy/wiki/inves

[2020-12-05 15:02] andreaiacoponi opened #247 "Symbol returned by search_etfs not always corresponds to the one found on website"
investpy.search_etfs(by='isin', value='LU0508799334') return only 1 ETF with symbol CBBUND

Searching the same ISIN on investing.com still returns 1 ETF, but the symbol is 5X60.

[2020-12-12 15:32] msh855 opened #250 "Fund data is missing"
This fund's data is missing:

Rathbone = ["GB00BH0P2M97"]

The above is the ISIN of the Fund

[2020-12-17 16:33] G177E opened #252 "Data for Argentine Mkt"
Hi alvarobartt, great library! It helped me a lot!.
I´m having troubles with two symbols X and TRIP when I try to pull historic data from Argentine market, could you please check?
I´ve ran investpy.get_stocks(country='Argentina') to know if they show up with no luck. Thanks!

[2020-12-20 23:05] phenc opened #253 "Error 406 encountered when using investpy.get_stock_information"
A "ConnectionError: ERR#0015: error 406, try again later" has started to occur since few hours ago when calling the said function

[2020-12-21 11:53] MatthieuH5565 commented on #160
Hello

is there any way to add the "ScreenerParams()" to the investpy module?

[2020-12-21 14:38] nuwandwo commented on #235
@alvarobartt . But for me i get this error , when tried to install.

ERROR: Error [WinError 2] The system cannot find the file specified while executing command git clone -q https://github.com/alvarobartt/investpy.git 'C:\Users\nuwanw\AppData\Local\Temp\pip-req-build-mt72t63c'
ERROR: Cannot find command 'git' - do you have 'git' installed and in your PATH?

[2020-12-22 08:43] alvarobartt commented on #235
Hi @nuwandwo as you can read on the logs the error is due to a problem with your Git installation (maybe you don't have it installed) please check this: https://git-scm.com/book/en/v2/Getting-Started-Installing-Git Then try the provided solution and let me know 🤗

[2020-12-22 08:45] alvarobartt commented on #235
BTW you can also just download this repository as a ZIP file and then with a terminal inside the directory in your local system where the `setup.py` file is placed use this command: ``pip install .``, which will install the latest investpy version from source.

[2020-12-22 08:51] alvarobartt commented on #160
Sure! I'm currently mad busy (work plus MSc thesis) but I'll get back to this during mid January! 🤗

[2020-12-22 08:54] MatthieuH5565 commented on #160
On Tue, 22 Dec 2020 at 10:51, Álvaro Bartolomé <notifications@github.com>
wrote:

Awesome no stress.

Good luck with your studies all the best.

[2020-12-22 09:09] alvarobartt commented on #160
Thanks a lot @MatthieuH5565! Happy holidays BTW 👍🏻

[2020-12-22 20:23] G177E commented on #222
Hi mohamendnei
I use get_stocks function to search by county, then I make a Dataframe and last with a loop download one by one automatically within specified date range. Hope it helps.

# ##########CHECK TICKERS BY COUNTRY###########
stocks_df = investpy.get_stocks(country='Argentina')
print(stocks_df)
df =pd.DataFrame(stocks_df)
##########SELECT TICKERS#####################
symbols=df["symbol"]
f

[2020-12-23 23:00] alvarobartt commented on #222
Hi @mohamednei, the solution @G177E provided looks ok to me, check it and let me know if you have any issue! 🤗

BTW @G177E I edited your comment so as to include the Python code formatting, for you to know, you need to surround code on GitHub comments with three ` followed by the programming language name so in this case it's ```python at the start and ``` at the end.

[2020-12-24 00:25] G177E commented on #222
Hi Alvaro, thanks, good to know. Awesome job with investpy.

[2020-12-28 23:06] GitHunter0 commented on #188
Some Brazilian stocks are also missing. For example, this returns `RuntimeError: ERR#0018: stock brev11 not found, check if it is correct.`
[code]

[2020-12-28 23:44] GitHunter0 opened #254 "Dow Jones index unavailable (RuntimeError: ERR#0045)"
The command below is returning `# RuntimeError: ERR#0045: index dow jones us not found, check if it is correct.`

[code]

Also, #226 is still an issue for me.

I'm using the latest development version from "developer" branch. I tried the "master" branch too.

My environment information:

[code]

[2020-12-28 23:56] GitHunter0 opened #255 "as_json=True makes the latest date truncate at 31/12/2014"
When `as_json = True`, the latest date retrieved is truncated at 31/12/2014

For example, that happens in the two examples below:
[code]

I'm using the latest development version from "developer" branch. I tried the "master" branch too.

Thank you for your time!

My environment information:

sinfo       0.3.1
-----
IPython             7.19.0
jupyter_client      6.1.7
jupyter_core        4.7.0
----

[2020-12-31 19:17] arainboldt opened #256 "Stock List method"
Hi,

Great package! I really appreciate its simple and useful api. It would be better, however, to have stock/etf/...etc data updated, or update-able, instead of being stored permanently in the package's resources directory. IPOs, new fund offerings and the like are frequent in the US markets and consequently the data needs to be updated frequently in order to stay relevant and be useful.

You mig

[2021-01-01 18:49] savemetherain opened #257 "How can i see 1 year data"
Hi everyone,
I just wonder how can I see 1-year data with this code.
I just want to see 1 stock of 1 year period.
I can see just 5 day period.
I'm not good at coding sorry about that.

**i found the solution.
this post could be deleted.**

[2021-01-01 19:08] savemetherain commented on #257
i did something like that but this is useless

`import investpy
from datetime import datetime, timedelta

def vericekme(modified_date):
    df = investpy.get_stock_historical_data(stock='AAPL',
                                            country='United States',
                                            from_date=modified_date,
                                            to_date="01/01/2021")

[2021-01-02 01:00] andrewni4313 opened #258 "No Stock Split Data"
Hello,

Thank you for creating this wonderful API. I see there is a way to get information on dividends, however, I can't find a way to get information on stock splits.
I would appreciate it if you could tell me how to do so.

Thanks!

[2021-01-02 02:30] lkangas opened #259 "get_stock_financial_summary crashes on float parsing"
Trying
`investpy.stocks.get_stock_financial_summary('REG1V', country='finland')`

crashes in
`stocks.py, line 1435, in get_stock_financial_summary
    data[curr_row].append(int(row.text_content().strip()))

ValueError: invalid literal for int() with base 10: '49.47'`

Should probably be float?

[2021-01-02 17:50] #257 closed

[2021-01-02 18:12] alvarobartt commented on #257
Hi @savemetherain I'm glad you were able to find out that `data.head()` just prints the first 5 entries even though all the information is available in the data object 🤗 Feel free to ask as much questions as you need to! 👍🏻

[2021-01-04 09:42] juthebest opened #260 "Retrieve UK, China and US PMI"
Hihi, seeking help if we are able to retrieve UK, China and US PMI! Many thanks!

[2021-01-05 20:41] paulhblower opened #261 "Retrieve central bank interest rates"
Firstly, huge appreciation for this package - so helpful! Thank you.

Just wondering if it would be possible to have central bank benchmark interest rates in the package? I haven't found them so far, but I may be mistaken. If helpful, I have uploaded a txt file to GitHub, of all the relevant interest rates that would be of interest (hopefully to others as well as myself). Thanks!

[https://raw.git

[2021-01-05 22:27] MrDrinkwater commented on #225
I'm also having problems to retrieve ETF data.

For instance, the SPDR® MSCI World UCITS ETF (SPPW)
[https://www.investing.com/etfs/spdr-msci-world-ucits-lse-usd?cid=1165086](url)

`ETF = investpy.get_etf_historical_data(etf = 'SPWW', country = 'germany', from_date='01/01/2020', to_date='31/12/2020')`

I always get this error:
`RuntimeError: ERR#0019: etf spww not found in germany, check if it is

[2021-01-06 10:37] BoxTrot opened #262 "Fatal error in get_fund_historical_data() for certain combinations of start_date and end_date"
When the start date and the end_date are more than 19 years apart, the function attempts to construct a new end_date that is less than 19 years apart using the start_date. However, if the start_date is on the last day of the month, the function constructs an invalid date at 465 in funds.py by adding 1 to the day number (excerpt below; problem line highlighted).

This is easily reproducible by call

[2021-01-07 00:54] snvv opened #263 "Please can you add Exchange for stock retrival"
Thank you for the very useful program!!!
Currently, I have a problem retrieving stock from the German stock market. The reason is that they traded in various exchanges and the only way to distinguish them is by using the exchange they traded. That Information exists in invest.com, see example.
Thank you
Sotiris

**Example:**
Name | Symbol | Exchange | Last
PayPal Holdings Inc | 2PP | TradeGate | 1

[2021-01-12 18:04] faralagua opened #266 "Issues with python 3.9"
I am triying to use investpy in python 3.9 and i am having a problem running my code:
import investpy
df = investpy.get_stock_historical_data(stock='AAPL',
                                        country='United States',
                                        from_date='01/01/2010',
                                        to_date='01/01/2020')
print(df.head())
just using the example that you publ

[2021-01-12 22:36] alvarobartt commented on #266
Cool! Thank you for reporting it @faralagua 👍🏻

I will tackle it next week as currently I am mad busy, but I want to include Python 3.9 support ASAP, so stay tuned as next week this issue will be most likely solved! 🤗

[2021-01-12 23:58] MrDrinkwater opened #267 "Feature request: get underlying index to get_etfs_dict()"
Hi Alvaro,

I just found Investpy and I think it's the best python module around for scraping financial data.
My investment style is mostly focused on ETFs and since there are so many of them  I want to try to do some data analysis to design my "ideal" portfolio.
I am new to quantitative finance, but I have some skills in coding and statistics  I'd like to use for something useful ;)

However... s

[2021-01-13 11:35] BlaiMunoz opened #268 "Intradia data would be nice"
Hi!

First of all, thank you for creating this awesome library.

It would be very nice if the function get_stock_historical_data could accept more interval options, not only daily, weekly and monthly.

Thanks!

[2021-01-13 11:35] BlaiMunoz opened #269 "Intradia data"
Hi!

First of all, thank you for creating this awesome library.

It would be very nice if the function get_stock_historical_data could accept more interval options, not only daily, weekly and monthly.

Thanks!

[2021-01-13 11:57] #268 closed

[2021-01-13 14:56] alvarobartt commented on #269
Hi @BlaiMunoz, thanks for the kind words! 🤗

I'm the first one that would like to have intraday data on investpy, but AFAIK the Investing.com internal API does not support intraday data as that data is being sent every couple of seconds to the web (which is connected to a websocket). I did a little bit of research over it but I got no conclusions.

Anyway some investpy users have proposed https://

[2021-01-15 15:37] budik601 opened #270 "OTC data missing"
Hello,
I would like to get list of all tickers, but when I use "investpy.get_stocks(country=None)", there are no OTC tickers. Is there a way how to get OTC tickers? (e.g. tickers MPNGF,CHLKF,SFTBF,DCMYY,NTTYY, ...)

Thank you
Jan

[2021-01-16 05:25] freddie3399 commented on #57
Hi Alvaro,

Could you please write the complete code from

1. extracting multiple stocks historical data (AAPL, GOOG)

2. structure the data under
Column
'AAPL','Date','Open','High','Low','Close','Volume','Currency',GOOG','Date','Open','High','Low','Close','Volume','Currency'

3. export to CSV or Excel

I'm very new to programming. Appreciate your kind guidance and support along my learning journe

[2021-01-16 17:24] alvarobartt commented on #57
Sure! I'll try to prepare a sample Python code for you to do that 🤗

[2021-01-18 00:23] Smsak opened #271 "NIO Inc not found"
I'm trying to get the information for Nio Inc Class A ADR (NIO) on the NYSE, but the function does not seem to find, could you please fix it?

[2021-01-18 17:32] fp-repo commented on #259
I had a similar error with the following call:
`get_stock_financial_summary(stock='PIRC', country='Italy', summary_type='income_statement', period='quarterly')`

The result is an error in line 1435: "ValueError: invalid literal for int() with base 10: '1277.4'."
I guess the problem is somewhere in the conversion.

[2021-01-18 20:12] alvarobartt commented on #259
Thanks for reporting it @fp-repo! Will try to fix this ASAP, `investpy==1.1` needs to be released 🔥

[2021-01-22 11:08] AF20 opened #272 "'data' ==> 'indices_data.py' ==> impossible to get 'world' indices like 'TRCCRB'"
File "C:\Users\Andrea\AppData\Local\Programs\Python\Python36\lib\site-packages\investpy\indices.py", **line 498, in get_index_historical_data**
    **raise RuntimeError("ERR#0034: country " + country.lower() + " not found, check if it is correct.")**

[2021-01-22 17:18] snvv opened #273 "Stock Sector and Industry"
Hello
Is it possible to retrieve sector and/or industry information for a stock?
Thank you

[2021-01-24 22:37] rick-62 commented on #225
investpy relies on static CSVs for names, symbols and investing.com urls etc. These CSVs are under [resources](https://github.com/alvarobartt/investpy/tree/master/investpy/resources) in the code. Check them out to verify the name you are using for the ETF, and what is available.

Unfortunately SPWW is not available. Instead you would need to use SWRD for the Milan/Amsterdam stock exchange. The dat

[2021-01-24 22:45] RobertoPaolinelli commented on #225
Thank you for your kind reply: I will check it!
How often is the CSV updated?
Can every contributor update it?

Best Regards

[2021-01-25 15:08] SladeSantos opened #275 "investpy.technical.moving_averages - 406 Not Acceptable"
Good afternoon,
Checks whether the function is closing after consultation.
#investpy.technical.moving_averages

Or if the problem is just the page outside the area:

https://www.investing.com/currencies/eur-usd

[2021-01-25 15:35] alvarobartt commented on #275
Hi @SladeSantos! Could you please provide more information? Like for example the sample Python call you are using to reproduce the error myself and try to solve it? Thanks! 👍🏻

[2021-01-25 15:37] alvarobartt commented on #273
Hi @snvv!

Please check the function `investpy.get_stock_information()` it may contain the data you are looking for! Let me know if that does work for you 🤗 If not, please share with me the URL from Investing.com where that information is available from the web and I'll try to include it into `investpy`.

[2021-01-25 15:42] alvarobartt commented on #272
Hi @AF20! AFAIK the world indices are not included there, please check the following file [investpy/resources/indices.csv](https://github.com/alvarobartt/investpy/blob/master/investpy/resources/indices.csv) and let me know if there's any value on the country column with "world", if not, please could you provide the Investing.com URL with the information you are looking for?

Also notice that there

[2021-01-25 15:42] SladeSantos commented on #275
In fact, the code was working normally. However, as soon as the page https://www.investing.com/currencies/eur-usd went down, the API was no longer able to fetch the data.

At https://www.investing.com/currencies/eur-usd, when trying to access the error is displayed: 406 Not Acceptable

Anyway, follow the code:

mav1hr = investpy.technical.moving_averages (name = 'EUR / USD', country = None, produc

[2021-01-25 15:45] alvarobartt commented on #270
Hi @budik601!

Could you please share with me an Investing.com URL which contains the data you are looking for so that I can evaluate if it's worth integrating a new feature for that or not? Thanks a lot! 🤗

In the mean time, please check the function `investpy.search_quotes()` which uses Investing.com's search engine and will let you retrieve the data from the OTC tickets you are looking for. For

[2021-01-25 15:47] alvarobartt commented on #275
Ok, cool @SladeSantos! Will try to reproduce the error and let you know if there's any fix for this, as the HTTP 406 code is always related to an Investing.com limitation whenever you send too many requests. But let me check it! 👍🏻

BTW is the error still happening?

[2021-01-25 15:54] budik601 commented on #270
Hi @alvarobartt . I need to download only list of all OTC tickers, but I solved it. Here is solution with selenium and chromedriver:

`from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
from bs4 import BeautifulSoup
import lxml
import time
from tqdm import tqdm

driver = webdriver.Chrome('/home/jan/Notebooks/chromedriver')
nyse = 'https://www.investi

[2021-01-25 16:30] SladeSantos commented on #275
The error persists!
But, I believe this is it. I was testing the code and made several requests in a row.

Therefore, I questioned whether at each request he completed the process.

I am currently making an appointment every minute.

[2021-01-25 16:36] alvarobartt commented on #270
Ok sorry for not being able to help you sooner! 😩 But it's cool that you managed to find a solution for this issue you had!

If you don't need anything else, please close this issue 👍🏻

[2021-01-25 16:39] alvarobartt commented on #275
I think you need to wait before sending more requests as Investing.com limits you for some hours, so before sending those requests make sure that you can access https://www.investing.com/equities/ without any problem. Otherwise the only solution is to wait 😩 and next time try to wait more time between each request as Investing.com has some sever limitations regarding the requests to their stocks/e

[2021-01-25 16:40] alvarobartt commented on #275
BTW let me know if you need anything else or if the error persists even though you can access the URL without any issues, and if you don't need anything else, please close this issue! 🤗

[2021-01-25 16:42] SladeSantos commented on #275
Thank you for your attention and clarification!

This was basically the problem! I will follow the suggested recommendations;)

[2021-01-25 16:42] #275 closed

[2021-01-25 16:57] #270 closed

[2021-01-25 16:58] ravidparikh92 opened #276 "Spelling Mistake in indices.csv"
I noticed that in the indices.csv file, the spelling for Israel  in the country column is "Israel" for some indices and "Israeli" for some indices. While in the constant.py file, the spelling for Israel is listed correctly ("Israel"). This issue prevented me from downloading TA35, TA 90 and TA125 indices for Israel as for these indices the country in the "indices.csv" file was listed as "Israeli".

[2021-01-25 18:30] alvarobartt commented on #276
Thank you for spotting this error! I'll update the `indices.csv` file as soon as possible so that all those stocks are grouped together 👍🏻

[2021-01-25 18:39] alvarobartt commented on #276
Already solved! 🤗

To install the current development version use the following command:

[code]

Remember to star the repo, follow me here on GitHub and on Twitter at https://twitter.com/alvarobartt so as to get notified from all the updates and projects I'm working on! ⭐

[2021-01-25 18:39] #276 closed

[2021-01-25 18:47] ravidparikh92 commented on #276
Thank you very much

[2021-01-25 22:00] ScottJRoberts commented on #57
Can I also see that python code sample??

[2021-01-26 08:28] alvarobartt commented on #57
Sure! I'll try to share it with you later today as I'm currently working and I need to create that script from scratch! 👍🏻

[2021-01-26 20:32] rick-62 commented on #225
@RobertoPaolinelli

I had a look at the CSVs and looks like they were last updated about 10 months ago, but the most stable release was August 2020. I don't see why we couldn't contribute, although it's unclear where the data originated from, and whether they have been generated automatically.

I'd recommend also specifying the **stock_exchange** as an additional argument, if possible. This would

[2021-01-27 10:25] SladeSantos opened #277 "function: investpy.technical - add 1 minute interval"
Good Morning!
Friend, would you add the 1 minute interval in the function: investpy.technical.moving_averages (name = 'EUR / USD', country = None, product_type = 'currency_cross', interval = '5mins')?

[2021-01-27 17:13] alvarobartt commented on #277
Hi @SladeSantos! 🤗

I can add it if it's available at Investing.com, so could you share the URL where I can check that it's available? Once I check that, if Investing.com provides that information, including it in `investpy` is trivial, so just let me know and I'll include it if possible.

BTW give it a look at [ta](https://github.com/bukosabino/ta) which is a project from @bukosabino, you may lik

[2021-01-27 20:23] SladeSantos commented on #277
Follow the link: https://www.investing.com/currencies/eur-nzd-technical

In any currency pair there is the option of technical analysis for the interval of 1min, 5min, 15min ...

In this case, in the API we only have the option of 1min.

[2021-01-27 21:26] alvarobartt commented on #277
Ok thanks @SladeSantos I will include this tomorrow as well as the tests so that you can start using this from the source version. I will give you more details tomorrow regarding the installation from source, so that you can just follow those steps! 👍🏻

[2021-01-28 13:28] SladeSantos commented on #277
Right friend,
I'm waiting!

Thanks for listening!
Good Morning!

[2021-01-29 07:32] anhanh11001 opened #278 "Bug on converting string to int value"
`line 1435, in get_stock_financial_summary
    data[curr_row].append(int(row.text_content().strip()))`

`ValueError: invalid literal for int() with base 10: '7715168.69'`

[2021-01-29 07:39] anhanh11001 commented on #278
Already fixed

[2021-01-29 07:39] #278 closed

[2021-01-29 08:22] alvarobartt commented on #278
Cool! Read the comment I left you in the PR https://github.com/alvarobartt/investpy/pull/205, where you will find all the information to fix this! 👍🏻 Releasing the v1.0.1 later today!

[2021-01-29 13:04] SladeSantos commented on #277
investpy -> utils -> constant.py

INTERVAL_FILTERS = {
    '5mins': 60*5,
    '15mins': 60*15,
    '30mins': 60*30,
    '1hour': 60*60,
    '5hours': 60*60*5,
    'daily': 60*60*24,
    'weekly': 'week',
    'monthly': 'month'
}

Insert '1min' : 60,

[2021-01-29 13:18] markus080402 opened #279 "Create a file for people to add missing stocks in stocks.csv"
Stock https://www.investing.com/equities/xd-inc-company-profile missing in stocks.csv

[2021-01-29 14:15] alvarobartt commented on #279
Sure! @markus080402 Indeed that file is already open to edits 🤗

All the resources used by `investpy` are available at https://github.com/alvarobartt/investpy/tree/master/investpy/resources

Feel free to edit those files including the missing financial products! 👍🏻 Remember that you can also use the `investpy.search_quotes()` function to find the missing stocks, etc. More information on its usage

[2021-01-29 14:17] alvarobartt commented on #277
Ok I will include this in a couple of hours! 🤗 Thanks a lot!

[2021-01-29 14:22] markus080402 commented on #279
Thanks @alvarobartt for the answer.

From what I understand, stocks.csv is generated by you and the closed source code of investpy, do you mean that users should manually add missing stocks to stocks.csv?

If so, it could be clean to keep that separate, hence let stocks.csv only contain stocks generated by your closed code, and then add a new file where users manually add missing stocks. What do y

[2021-01-29 14:35] alvarobartt commented on #279
A long time ago I thought of including a function per each search result from the `investpy.search_quotes()` function, so that users could dynamically modify those files and then suggesting them to create a PR with the missing data or something like that 😩 Anyway I did not come up with any solution I consider clean yet...

What you say anyway makes sense, I may create an extra file to include the

[2021-01-29 15:13] markus080402 commented on #279
@alvarobartt thanks, please do add the extra file, it would make things a lot easier.

[2021-01-31 11:13] fadeyev opened #280 "Add XAU based cross currency rates, like XAU/USD to the config"
Now it gives error when trying to request investpy.get_currency_cross_historical_data for XAU/USD, though investing.com has this data - seems like currency_crosses.csv doesn't have this data

[2021-01-31 12:31] alvarobartt commented on #280
Hi @fadeyev! I may need to generate an updated version of `currency_crosses.csv`, thanks for reporting it!

[2021-01-31 12:32] alvarobartt commented on #277
Sorry for the delay, will be tackling this today! 👍🏻 I'll generate an updated version of investpy 🔥

[2021-01-31 12:42] alvarobartt commented on #266
Hi @faralagua! 🤗 I've just tested the installation and `pytests` with Python 3.9 and it works properly, could you please install the package from source as it follows?

``pip install git+https://github.com/alvarobartt/investpy.git@master``

Remember to star the repo, follow me here and on Twitter at https://twitter.com/alvarobartt so as to get notified from all the updates and projects I'm working

[2021-01-31 12:45] alvarobartt commented on #267
Hi @MrDrinkwater thanks for your kind words towards the project! 🤗

Could you please give me more details even though it does not have to be technical at all, just give me more details of what you are trying to do but currently cannot with `investpy` and I'll try to help you as much as I can!

[2021-01-31 12:50] alvarobartt commented on #246
Hi @cheejiayuan512! Could you provide more information regarding this issue? 🤗

[2021-01-31 13:02] alvarobartt commented on #259
Hi @fp-repo! The new investpy release is out! 🔥 To install it please use the following command:

``
pip install investpy --upgrade
``

Remember to star the repo, follow me here and on Twitter at https://twitter.com/alvarobartt so as to get notified from all the updates and projects I'm working on! ⭐ :octocat:

[2021-01-31 13:02] #259 closed

[2021-01-31 13:03] alvarobartt commented on #277
Hi @fp-repo! The new investpy release is out! 🔥 To install it please use the following command:

``
pip install investpy --upgrade
``

Remember to star the repo, follow me here and on Twitter at https://twitter.com/alvarobartt so as to get notified from all the updates and projects I'm working on! ⭐ :octocat:

[2021-01-31 13:03] #277 closed

[2021-01-31 13:11] alvarobartt commented on #186
Hi @guanm326 and @traderpedroso! 🤗 Could you give me more details regarding this issue so as to solve it? And could you please also chech whether this is still happening in the latest investpy release or not?

``
pip install investpy --upgrade
``

Remember to star the repo, follow me here and on Twitter at https://twitter.com/alvarobartt so as to get notified from all the updates and projects I'm

[2021-01-31 20:00] AF20 commented on #272
Hi @alvarobartt, this is the investing url of the instrument: https://www.investing.com/indices/thomson-reuters---jefferies-crb

In the file investpy/resources/indices.csv there is this instrument:
![image](https://user-images.githubusercontent.com/24624333/106396150-762a5800-6406-11eb-8d3a-f96f1aaf65e1.png)

I don't understand how to use the function, I tried:
search_results = investpy.search_quo

[2021-01-31 20:14] alvarobartt commented on #272
Yeah, it seems that world is not included among all the possibilities... I'll check this now! :+1:

[2021-01-31 21:44] alvarobartt commented on #272
As far as I can see, you are not using the proper function... I mean you can either use the search engine with the function `investpy.search_quotes()` or you can also use the index retrieval functions as `investpy.get_index_recent_data()` or `investpy.get_index_historical_data()`! 👍🏻

For your concrete example it should be like:

[code]

Or the search function without using the country filtering:

[2021-02-01 08:40] manueldiazrod97 opened #282 "Dates wrong"
Hi bro im a newbie so maybe there is no problem so if there is no an error sorry for the lost of your time .

but for example  this is my code :
 investpy.get_index_historical_data(index= "S&P/BMV IPC" ,
                                                  country='Mexico',
                                        from_date='01/01/2005',
                                         to_date= '31/12/2020',i

[2021-02-01 09:08] alvarobartt commented on #282
Hi @manueldiazrod97! It's ok you don't bother me 🤗

Could you provide a screenshot of the code and its output so that I can check it? I think that you want to retrieve the historical data from 2005 to 2020, but `investpy` is also retrieving data from the last day of 2004. am I right? Just let me know 👍🏻

[2021-02-01 10:39] MrDrinkwater commented on #267
Dear Alvaro,

What I am suggesting is to add the underlying index of an ETF to the
results of the function get_etfs_dict().
For instance, as shown in the picture below, the underlying index for the
Etf with isin IE00B78JSG98 is the MSCI USA Quality NR USD. ( I also noticed
that some ETFs seem to not have an underlying index, like isin:
CA85220Q1072)

I may be wrong, but from what i've done so far

[2021-02-01 10:51] JuCarm commented on #267
I would also appreciate this feature, if it is possible.
It would be nice to be able to list all ETFs on investing.com that have a given underlying index, in order to compare them.

[2021-02-01 11:00] alvarobartt commented on #267
Hi @MrDrinkwater and @JuCarm! I'll implement this later today and will let you know whenever the new bug fix release comes out, it should be `investpy v1.0.2` as `investpy v1.0.1` was released some days ago!

Could you please share the image again @MrDrinkwater? As I think that you need to paste it through the GitHub comment, not through the email, as it is not showing 😩

Thank you both for the su

[2021-02-01 12:24] MrDrinkwater commented on #267
Image added!

Thank you again for your awesome work

[2021-02-01 13:29] alvarobartt commented on #267
Cool! Thanks @MrDrinkwater I'll update the `investpy.get_etfs_dict()` function later!

Thank you also for your kind words towards `investpy`! 🔥

[2021-02-01 23:32] manueldiazrod97 commented on #282
This is my code:
![Captura de Pantalla 2021-02-01 a la(s) 17 28 51](https://user-images.githubusercontent.com/60160380/106530967-f73f2900-64b2-11eb-85e2-318e0e771d4f.png)

This is the output:

![Captura de Pantalla 2021-02-01 a la(s) 17 29 23](https://user-images.githubusercontent.com/60160380/106531013-0920cc00-64b3-11eb-817a-a353ada0e37e.png)

this are  the results  from investing.com:

![Captur

[2021-02-02 08:47] alvarobartt commented on #282
Thanks for the detailed information @manueldiazrod97! I get what you mean with the 2004 date that should not be there, but regarding the rest of the dates, the output format is the last day of each month as when using the monthly interval, the months needs to be over so that Investing.com can put all the data together. So the format will remain the same, but I will check this 2004 issue, as AFAIK

[2021-02-04 09:09] alvarobartt commented on #238
Bump!

[2021-02-04 09:14] alvarobartt commented on #256
Hi @arainboldt! That sounds great, anyway I'm still not sure how to proceed with this issue, some solutions were proposed in #279 but as said, not sure yet...

Anyway, feel free to propose any solution! 👍🏻 Another option for you to get the most updated data is to use the `investpy.search_quotes()` function to use Investing.com search engine instead of the static files. More information regarding t

[2021-02-04 09:16] alvarobartt commented on #256
So I'll be listening to your proposal/s 👍🏻 Let me know if you have any feasible solution in mind!

[2021-02-04 09:20] alvarobartt commented on #262
Thanks for reporting this issue @BoxTrot! I'll be fixing it this week so that best-case scenario this weekend I'll be releasing the 1.0.2 `investpy` version including this bug-fix and all the ones already solved!

I'll let you know whenever this is ready! 🔥

[2021-02-05 05:19] kungouf opened #283 "technical.py files shows 11 indicators but the function only returns 5"
Hello

first many thanks for working and developing the library
The technical.py files shows 11 indicators but the function only returns 5 (Up to ADX)
i would be particularly be interested in CCI ( reference 6) and highs/lows(reference 8)
is that a recent limitation, as i couldnt find a related parameter (  technical_indicators(name, country, product_type, interval='daily') ) to display more indic

[2021-02-05 08:30] alvarobartt commented on #283
Hi @kungouf, thanks for your kind words about my job! I'm glad you liked it 🤗

Regarding the issue you're mentioning I'm not sure if that's either an `investpy` issue or an Investing.com issue, as maybe they provide less information... Could you please provide me a sample call to that function and also the Investing.com URL you should expect?

Thank you!

[2021-02-05 09:26] arainboldt commented on #256
hey @alvarobartt thanks for following up and for the invitation for proposals. I'll read through the linked issue and the code again and get back to you with my thoughts.

all the best and stay safe!

[2021-02-05 09:40] kungouf commented on #283
Hi @alvarobartt  you are so fast replying!

import investpy

data = investpy.technical_indicators(name='Crude Oil WTI', country='United States', product_type='commodity', interval='5mins')

print(data.head())

Thanks to your work for the community!

[2021-02-05 09:42] alvarobartt commented on #283
Hi again @kungouf! Could you please also send me the Investing.com URL for Crude Oil USA? Big thanks! 🤗

[2021-02-05 10:11] kungouf commented on #283
Sure here is the link where you can access to CCI and other indicators in chart !

https://m.uk.investing.com/commodities/crude-oil?utm_source=investing_app&utm_medium=share_link&utm_campaign=share_instrument

[2021-02-05 10:15] kungouf commented on #283
You can observe that for the code sample using BBVA or apple that the result is the same (indicators displays only 5 ) thanks !

[2021-02-06 12:07] alvarobartt commented on #283
Hi @kungouf after some tests I've just found out that you may be using `data.head()` to print the indicators, while the `.head()` function just displays the first 5 rows of a `pandas.DataFrame`, but the data is there. You can either iter through the `pandas.DataFrame` or print it, both options provided below:

[code]

Test this and whether this was your error or not, because I've tested multiple c

[2021-02-06 12:07] #283 closed

[2021-02-06 12:08] alvarobartt commented on #283
BTW make sure to update your package with the following command as the 1.0.1 has just released :sparkles: and contains a new interval (1min) when it comes to technical data retrieval!

[code]

[2021-02-06 12:28] alvarobartt commented on #282
Hi again @manueldiazrod97! I've tested the function and this is what I get:

![imagen](https://user-images.githubusercontent.com/36760800/107118080-fa556300-687e-11eb-8407-e735b9121491.png)

I think the error may come when doing the conversion from `timestamp` to Date due to your region (which I think that it's from outside Europe) so the skew between our times is the issue why you are also receiv

[2021-02-06 12:32] alvarobartt commented on #282
As I'm using this line to do the conversion:

[code]

I think I should use GMT conversion rather than UTC (Local time) conversion, let me modify it in the current branch and then you can install it as it follows from source. Then once you check that it also works from your country I'll generate the stable 1.0.2 release officially so that you can install it from PyPI rather than from source. 🤗

[co

[2021-02-06 13:22] alvarobartt commented on #186
Hi @guanm326 and @traderpedroso! 🤗 This issue has just been fixed and will be available in the next investpy release which will be the v1.0.2 🔥

Thanks for your support! You can already use it installing investpy from source with the following command:

[code]

[2021-02-06 13:22] #186 closed

[2021-02-06 13:27] alvarobartt commented on #267
Ok @MrDrinkwater and @JuCarm  so this issue is related with investpy's missing data, I'll try to re-generate the etfs.csv including the field you are looking for just as done for Funds and Certificates 👍🏻 This may take some more days, but for sure this will be ready for v1.0.3 in the bestcase scenario.

Thank you for reporting it! Remember to star the repo, follow me here and on Twitter at https:/

[2021-02-07 04:52] kungouf commented on #283
Alvaro thank you so much, indeed the display function for head was not the appropriate all to access all fields of the panda.Dataframe! indeed the suggested example works and i have the latest version to get 1min interval which is just great!

 Lastly, the above give the latest technical available for the instrument.
Which function can be used to get the price corresponding to the technical at tha

[2021-02-07 10:27] alvarobartt commented on #283
Hi @kungouf! I'm glad this was useful to you 🤗

Regarding the current price you can use the following piece of code, where the latest close price is the current price (if the market is still open, if it's already closed that's the close market value of that day):

[code]

Remember to star the repo, follow me here and on Twitter at https://twitter.com/alvarobartt so as to get notified from all the

[2021-02-07 10:49] kungouf commented on #283
hi thanks for the above, however in order for the calculation to be accurate the analytics and the price should be the exact one at the same time (one minute difference can represent a catastrophic gap), is there a possibility to include the current price returned with the other analytics?
 many thanks

[2021-02-07 11:44] alvarobartt commented on #283
Not sure! Can you open a new issue where you request this? BTW you need to include the Investing.com URL of the technical indicators of any product and check whether that concrete page contains the value which has been used for that calcultion. As if Investing.com does not contain that data in the same page I would not be able to provide an exact value for the value at that time... 🤗

[2021-02-07 12:03] kungouf commented on #283
sure i will open a new issue, i think it can definitely be retrieved from the investing page. price and analytics are both available against the streaming chart page, i will open a new issue now thanks!

[2021-02-07 12:11] kungouf opened #284 "technical.py retrieval of price"
Hello,

Could the price also be retrieved in the result of technical.py, as the technical has to be linked to the analytic the exact time it is corresponding to the price action?

the price + analytics (CCI for instance) can be retrieved in the same page below, if you could just include the price it would be a huge improvement, as the exact technical as to correspond to an exact time stamp and pri

[2021-02-07 12:46] alvarobartt commented on #284
Thanks, @kungouf! Then I'll try to retrieve both the price and the timestamp in which the current technical indicators have been calculated. In the following screenshot, I've highlighted the new fields to include, let me know if those as the ones you think should be included here! 🤗

![imagen](https://user-images.githubusercontent.com/36760800/107146845-dfe8bb80-694a-11eb-8114-9056f830d04f.png)

[2021-02-07 13:11] #238 closed

[2021-02-07 14:16] kungouf commented on #284
yes this would be amazing, and i think if you could add the ticker of the contract in the Panda dataframe that would be amazing! so every future has a month reference, like Mar21, but April21 has a different one etc. So if you could just add the ticker as well to recognise the month of the future so we can store the information for the time series, or if its a STOCK just the regular ticker code, t

[2021-02-07 14:34] kungouf commented on #284
these are the correct fields indeed , youre such a star Alvaro muchas gracias!

[2021-02-07 14:47] alvarobartt commented on #284
Thanks a lot for your kind words @kungouf! 👍🏻 So in this case you also want me to include "Crude Oil WTI Futures - Mar 2021 (THI)"? Just clarify that and this will be included in the v1.0.3 release including also some other fixes and issues solved.

[2021-02-07 14:54] kungouf commented on #284
Hi Alvaro!
yes i would like the instrument name and ticker to be included (every month has a different ticker)
i understand that the line "Crude Oil WTI Futures - Mar 2021 (THI)" includes a lot of information:
- instrument and underlying of the future (crude oil)
- maturity (March 2021)
- ticker of the month contract (THI)
so i would be three fields
14 THI
15 Crude Oil WTI Futures
16 Mar 2021

Tha

[2021-02-07 16:10] kungouf commented on #284
But if it's a bit complicated , you can just add "Crude Oil WTI Futures - Mar 2021 (THI)" as it is

[2021-02-07 17:37] KIC commented on #253
this is true for the following functions:
* ip.get_commodity_information
* ip.get_stock_information
* ip.get_stock_company_profile

while all the other get_*_information functions work as expected. I have the suspect that the above functions actually have a different problem than the 406 indicates -> rate limit

PS the `ip.get_stock_financial_summary` function does never return ...

[2021-02-07 19:47] gustavsps commented on #250
This fund's data is also missing:

0P00018IDH

The above is the ISIN of the Fund

[2021-02-08 08:19] alvarobartt commented on #253
Hi @phenc and @KIC! Thank you for reporting this issue 👍🏻

As KIC says those functions tend to throw that concrete exception as somehow Investing.com is limiting the requests just for stock data, which does not make much sense, but AFAIK that's an Investing.com issue that I cannot handle 😩 Some alternative solutions have been proposed such as letting the users define a proxy for the requests modul

[2021-02-08 08:22] alvarobartt commented on #284
Cool @kungouf I'll try to find a way to retrieve that information for any financial product and if that does not apply to every product I will just retrieve the plain information as `name`, `timestamp` and `value`, but I will still try to see how this could be done and applied to every financial product! 😄

[2021-02-08 08:26] alvarobartt opened #285 "Trigger GitHub Actions just on changes to either the tests or the src code"
Currently, the GitHub Actions build is being triggered on each commit to every branch, but it just needs to be triggered whenever any change/modification is being done in either the source code under `investpy/` or the tests under `tests/`.

Should be something similar to:

[code]

[2021-02-08 08:29] #266 closed

[2021-02-08 12:21] kungouf commented on #284
that sounds great thanks Alvaro for looking into! BTW do you have a rough estimation on when 1.0.3 might be released? Muchas gracias!

[2021-02-08 12:49] alvarobartt commented on #284
Yes @kungouf, I'll try to release it during this week (don't know exactly the date as there some things to change 😩 so sorry for that)

[2021-02-08 14:04] kungouf commented on #284
thumbs up cheers Alvaro for the great work!

[2021-02-09 17:26] #285 closed

[2021-02-09 18:13] #196 closed

[2021-02-09 18:15] alvarobartt commented on #196
Sorry for having tackled this issue too late 😩 Anyway, thanks a lot for reporting it @Nicolabo!

I've already solved it and it will be released later this week in the `v1.0.3 release` (including some other bug-fixes and improvements) ✨

Remember to star the repo, follow me here and on Twitter at https://twitter.com/alvarobartt so as to get notified from all the updates and projects I'm working on!

[2021-02-09 18:19] alvarobartt commented on #246
Hi again @cheejiayuan512, this has been already fixed in the __v1.0.2 investpy release__, which is already out and you can download using the following command:

[code]

__Note__: a similar issue was reported, you can find more information there! https://github.com/alvarobartt/investpy/issues/186

Remember to star the repository, follow me here and on Twitter at https://twitter.com/alvarobartt so

[2021-02-09 18:19] #246 closed

[2021-02-09 18:22] alvarobartt commented on #197
Hi again @Milad137 🤗 I've just removed the UTC timezone from that function so as to avoid misunderstandings! I'll close the issue, but can you still provide me more details? I'll appreciate it!

[2021-02-09 18:22] #197 closed

[2021-02-09 20:53] angel-mi-alvarez opened #286 "crash when "fund_names" contain "tilde" get_fund_historical_data()"
the function get_fund_historical_data() fails to retrieve data when the fund name contains a "tilde" (removing the "tilde" works fine) J

This can reproduce the issue:
df = investpy.get_fund_historical_data(fund='Renta 4 Multigestión 2 Sant Ignasi Fund Fi', country='spain',from_date='01/01/2010', to_date='01/01/2019')

This code below might help to remove the weird characters from the fund names

[2021-02-09 21:31] alvarobartt commented on #286
Thanks for reporting this issue @angel-mi-alvarez! I'm currently working on the v1.0.3 release, so this issue will be solved in the next days 👍🏻 The new release should be out by the end of this week! I will ping you in case I need more information but I think that this is enough to reproduce the issue. Thanks again!

[2021-02-09 21:32] alvarobartt commented on #286
Can you also tell me which investpy version are you using?

__Tip__: `print(investpy.__version__)`

[2021-02-10 08:22] jpcf opened #287 "Error when trying to search for Fund. Funds exists on investing.com, but library says it doesn't."
Whenever I try to search for the fund "PostFinance Pension 100", either by using
`investpy.funds.search_funds(by='name',` value='PostFinance Pension 100')
or even by its isin
`investpy.funds.search_funds(by='isin', value='CH0484781684'
I get the error
RuntimeError: ERR#0019: fund postfinance pension 100 not found, check if it is correct.

However, this fund does exist on investing.com, as you can

[2021-02-10 08:27] alvarobartt commented on #287
Hi @jpcf! Thanks for reporting this issue, currently we have a lot of problems regarding the missing data as those CSVs are generated with a script that relies on Investing.com which means that if there's an indexing problem on their side we cannot solve it 😩

Anyway, a while ago I created a support function for the missing financial products (missing on the static CSV files but available in Inves

[2021-02-10 08:31] alvarobartt commented on #287
AFAIK in your case, the code should be something similar to:

[code]

__DeprecationWarning__ ⚠️: in the `investpy v1.0.3` release that will be out later this week, there will be a minor change, which is that in case you specify just `n_results=1`, you will receive a value, not a list of values.

[2021-02-10 08:35] jpcf opened #288 "Searching by name,country is useless. Why not searching directly by ISIN?"
The ISIN is a **unique** identifier for a given fund. Why are we always required to also search for "country" in functions like `get_fund_historical_data`? This just adds unnecessary clutter to the code. The ISIN codes already start by a country code, so this could be automatically parsed by any function.

[2021-02-10 08:40] jpcf commented on #287
Thanks, I will try this workaround! ;)

[2021-02-10 09:06] alvarobartt commented on #288
Thanks, @jpcf! I'll take this into consideration as I didn't know that and I think that everything that is making `investpy` easy to use should be done. I don't think I'll be able to include this in the `v1.0.3` later this week but for sure I'll try my best to include it in the `v1.0.4` later this month (or maybe in the `v1.1.0` as that can be a breaking change for all the users using it.

[2021-02-10 09:07] alvarobartt commented on #287
Hope this was useful to you! Remember to star the repo, follow me here and on Twitter at https://twitter.com/alvarobartt so as to get notified of all the updates and projects I'm working on! ⭐ :octocat:

[2021-02-10 10:05] AF20 commented on #272
data = investpy.get_index_recent_data(index='TR/CC CRB')
==> this is not working like this ==> TypeError: get_index_recent_data() missing 1 required positional argument: 'country'.

data = investpy.get_index_recent_data(index='TR/CC CRB', country = 'world')
==> raise RuntimeError("ERR#0034: country " + country.lower() + " not found, check if it is correct.")

search_results = investpy.search_quote

[2021-02-10 11:34] alvarobartt commented on #272
Yeah I messed up in the first code block, I forgot you were supposed to use the `country` parameter too 😩 Anyway, the search function should work... Let me check it later so as to see if the commodity index you want to retrieve can be retrieved using the search function!

Anyway, later this week `investpy v1.0.3` will be released with some bug-fixes and improvements mainly in `investpy.search_quot

[2021-02-10 12:34] KIC commented on #253
If this is really the case then one might consider using [TorPy](https://github.com/torpyorg/torpy). For sure this doesn't make things faster but at least we can get the data. And they have a zero external (like tor client) dependency drop-in replacement for the requests library which would make things rather easy from an implementation point of view.

[2021-02-10 13:15] alvarobartt commented on #253
Thanks for the suggestion @KIC I didn't know about this package, I'll give it a try! 👍🏻

[2021-02-10 15:57] angel-mi-alvarez commented on #286
Cool. Gracias

On Tue, 9 Feb 2021, 22:31 Álvaro Bartolomé, <notifications@github.com>
wrote:

[2021-02-10 18:09] alvarobartt commented on #286
Already solved @angel-mi-alvarez! BTW thanks a lot for spotting this as some other files were still containing this bug 🔥 You can install investpy from source so as to check whether this works now for you or not. Let me know it! The v1.0.3 release will be out later this week.

To install it from source please use the following command:

[code]

Remember to star the repository, follow me here and o

[2021-02-10 18:09] #286 closed

[2021-02-10 18:54] alvarobartt opened #289 "create investpy usage examples"
Create examples in the following directory [examples/](https://github.com/alvarobartt/investpy/tree/master/examples) as stated in the README.

[2021-02-10 19:02] alvarobartt commented on #253
BTW @KIC I've just seen your project [pandas-ml-quant](https://github.com/KIC/pandas-ml-quant) and I encourage you to include it in the README.md section of this repository in the "Utilities" section, which is basically forking the project, including your project in the list with a short description of the project and your username 👍🏻 Feel free to do it! I'm cool with you including your repository

[2021-02-11 16:37] alvarobartt commented on #146
Coming back to this issue for `v1.1.0`! 👍🏻 Profile the main functions with [scalene](https://github.com/emeryberger/scalene), @calabres97, @juanjucm, or @gabrielmbmb feel free to help with the `investpy` profiling to avoid high CPU consumption and to optimize the code. A nice start point can be the stock related functions, which are the most used ones! 🔥

[2021-02-11 20:29] gabrielmbmb commented on #146
Hi @lefig, I've trying some code snippets to retrieve the recent data from a list of stocks using the `concurrent.futures.ThreadPoolExecutor`. Here is my code:

[code]
Using a higher number of `max_workers` has led to faster data retrieval. Using 10 workers the elapsed time was ~36 seconds, while using only one worker the elapsed time was ~340 seconds.

[2021-02-11 21:35] #262 closed

[2021-02-11 21:36] alvarobartt commented on #262
Thanks a lot @BoxTrot! 🔥 This has already been solved and will be available in the `v1.0.3` release in a couple of days.

[2021-02-11 21:38] alvarobartt commented on #247
Hi @andreaiacoponi! Thanks for reporting it, this is a known issue, as the static files need an update 😩 Anyway, in the meantime feel free to use the `investpy.search_quotes()` function for the most updated data, since that function it's using Investing.com search engine!

More information on how to use this function available at https://github.com/alvarobartt/investpy/wiki/investpy.search_quotes(

[2021-02-11 21:39] alvarobartt commented on #243
Hi @CedricAnover thanks for proposing this feature! 👍🏻

Could you please send me the Investing.com URL so that I can see how to integrate this feature in an upcoming investpy release? Thanks again!

[2021-02-11 22:25] angel-mi-alvarez commented on #286
Hi Alvaro,

still not working for me, I followed your instructions to re-install the
updated library

pip install git+https://github.com/alvarobartt/investpy.git@master

fondo='Ubs Mixto Gestión Activa I Fi'
df2 = investpy.get_fund_recent_data(fund=fondo, country='spain')
print(df2)

---------

---------------------------------------------------------------------------RuntimeError

[2021-02-12 08:34] alvarobartt commented on #286
Hi @angel-mi-alvarez, let me check that later 👍🏻 I checked that a couple of times but maybe I did something else! BTW I saw you sent me a previous mail but I'm not able to see it, just a slice of it, can you resend it to alvarobdc@yahoo.com or via Twitter at @alvarobartt?

I think that's because you answered to the issue from your mail and attached images, so it didn't show on GitHub 😩

[2021-02-13 13:00] gelono opened #290 "AttributeError: 'PandasArray' object has no attribute '_str_lower'"
When trying to use the method "investpy.get_index_historical_data (index = 'S & P 500 Energy', country = 'United States', from_date = '01 / 01/2010 ', to_date = '01 / 01/2020')" I get the error:
AttributeError: 'PandasArray' object has no attribute '_str_lower'

Interestingly, everything worked fine a few days ago.

[2021-02-13 13:15] missing0313 commented on #111
Hi @alvarobartt !
Sorry to bother you.
I'm from China, too. After using VPN, I can access Investing.com directly on the website, but same error still happens, which is "ERR#0004: data retrieval error while scraping".
Hope you can help me. Thanks!

[2021-02-13 14:31] gelono commented on #290
Problem was solved.

[2021-02-13 14:42] alvarobartt commented on #290
Hi @gelono! So the issue is solved? Was it an `investpy` issue?

[2021-02-13 15:11] gelono commented on #290
Yes, the issue was solved. No, this is the Pandas problem. I have downgraded the Pandas version.

[2021-02-13 15:47] alvarobartt commented on #290
Mmm then that's interesting, what pandas version where you using if I may ask? As we may need to update the call to `str.lower()` if that's deprecated in the latest pandas version...

Either that or just fixing the pandas version (pinning the pandas version in the `requirements.txt`)!

Thanks in advance!

[2021-02-13 19:36] gelono commented on #290
I'm sorry. I was wrong. When I was using Pandas 1.2.2 I had a problem with the "statsmodels" library. I had to downgrade Pandas to 1.1.3. After that Investpy didn't work. And then I updated Pandas to 1.1.5 and Investpy works fine.

[2021-02-14 21:04] KIC commented on #253
unfortunately the investpy functionality is currently broken 🙈. but I will fix it soon and update the readme as suggested. thank you very much for the opportunity.

[2021-02-15 15:43] lkangas commented on #152
Any news on this? Stocks.csv looks like 10 months old and is missing lots of new stocks.

I also found some funds that changed names a while back and updates don't end up to the static lists.

[2021-02-15 16:36] alvarobartt commented on #152
Hi @lkangas, I need to pay for a server so as to run the script that generates those files, as it takes some time due to the Investing.com limitations, so you will need to wait a little bit more... Sorry! 👍🏻

Anyway, in the meantime, you can use the `investpy.search_quotes()` functionality that lets you use the Investing.com search engine so as to retrieve all the information indexed in Investing.

[2021-02-15 17:54] jmsckv commented on #258
Hi,
I can second that. It's a great library, unfortunately for my particular use case I would need stock split information.
Kind regards!

[2021-02-15 20:37] alvarobartt commented on #258
Thank you both @andrewni4313 @jmsckv!

Can you share the Investing.com URL for that information? It can be a specific stock URL, I just need to figure out if we can include it into `investpy` or not 🤗 It may not be available for the upcoming release, `v1.0.3` but will try to tackle this for the next one (later this month in the best-case scenario).

In the meantime remember to star the repository

[2021-02-15 20:53] lkangas commented on #152
Thanks, I think search_quotes will solve my problems!

[2021-02-15 23:34] jmsckv commented on #258
@alvarobartt
I did not find any stock split information on investing.com. So I am afraid I cannot tell you how to get this information...
One test case would be Tesla "TSLA" who did a 1/5 split on 31 Aug 2020.

[2021-02-16 00:18] andrewni4313 commented on #258
@alvarobartt
The stock split calendar could potentially work but I am unsure how to find it for each specific stock: [https://www.investing.com/stock-split-calendar/](url)

[2021-02-16 08:33] alvarobartt commented on #258
Ok, then @andrewni4313 I will try to include it ASAP 😄 Can you share a screenshot highlighting the information you would like to have?

[2021-02-16 09:30] jmsckv commented on #258
@alvarobartt @andrewni4313

I would filter as follows: type in ticker symbol, clear country filter.

<img width="648" alt="Bildschirmfoto 2021-02-16 um 10 26 27" src="https://user-images.githubusercontent.com/60093009/108043866-e3163280-7041-11eb-9c85-eb55b72c20ec.png">

What do you think?

[2021-02-16 11:01] martinemilander opened #291 "Financials"
Hi

Great work.

Is it possible to add a financials end point, in order to get income statement, balance sheet, cash flow?

Regards
Martin

[2021-02-17 04:57] savemetherain commented on #291
It would be great. I am trying to do it but couldnt. This is the only thing that i needed.

[2021-02-17 08:30] alvarobartt commented on #291
Hi, @martinemilander and @savemetherain! Can you please send me a screenshot of the Investing.com webpage for the information you want me to include? I'll try to include it in the `investpy v1.1.0` release 🤗

[2021-02-17 08:32] alvarobartt commented on #291
Maybe this is the function you are looking for: `investpy.get_stock_financial_summary()`. More information about its usage available at: https://investpy.readthedocs.io/_api/stocks.html#investpy.stocks.get_stock_financial_summary

[2021-02-17 08:41] savemetherain commented on #291
![IMG_20210217_113801](https://user-images.githubusercontent.com/76849059/108177868-cf87cc00-7114-11eb-9276-1c77129ff363.jpg)

Income statement, balance sheet, cash flowcand ratios tables would be great... No need for charts. The values is enough.
This is like life and death issue for me :p

[2021-02-17 16:13] martinemilander commented on #291
`investpy.get_stock_financial_summary()` is the summary but there's still a lot of good stuff left in the statements (such as shares outstanding or current assets), which isn't returned.

I was also thinking about the dividends and earnings sections of the financials page, which would be amazing to be able to retrieve. See below for screenshots.

![B847FDDB-3656-4C3F-B23A-D48B7187281D](https://use

[2021-02-17 18:54] kamarani1989 opened #292 "Reg: Data extraction"
exchange : MCX, while the metals(Copper,Lead,zinc,nickel,aluminium) expiry is 5 days prior to the expiry date, after  that next contract data has a significance,while investpy doesn't allow me extract next contract data or 2nd month continuous data.Any solution for this

[2021-02-17 19:03] alvarobartt commented on #292
Hi @kamarani1989, can you give me more details, please? 🙏🏻

[2021-02-18 05:55] kamarani1989 commented on #292
MCX COPPER 26 FEB 2021--- EXPIRY IS 26TH FEB ,but actual trading stops at 19th FEB AFTER WARDS PHYSICAL DELIVERY (TENDER PERIOD STARTS), LIKE WISE ZINC,ALUMINIUM,NICKEL,LEAD EVERY  CONTRACT EXPIRY, BEFORE 5 DAYS ACTUAL TRADING IN THESE IS NOT ALLOWED,SAME APPLIES TO GOLD, SILVER  EXPIRY DATE IS 05 MAR 2021 BUT TRADING IS ALLOWED TILLL 26TH FEB...

[2021-02-18 06:05] kamarani1989 commented on #292
above phenomenon is observed in the volumes of base metals and bullions 5 trading days prior expiry date ,it significantly drops because the actual trading happens in next contract. According to my understanding either providing 2 continuous contracts or contract wise data could help.. pls suggest any other solution if u have.

[2021-02-19 07:59] pourquoi42 commented on #226
I just installed investpy from master. I agree with GitHunter0.... the issue still remains.

[2021-02-19 08:08] pourquoi42 opened #293 "Can't retrieve data from indices located in "euro zone""
Seems there is a regression of https://github.com/alvarobartt/investpy/issues/226

I've installed investpy from master today with
`
pip install git+https://github.com/alvarobartt/investpy.git@master
`

(I also tried it with v1.0.1 and v1.0.2)

`
`

Out[5]:
        country                       name                  full_name     symbol currency               class          market
1667  euro zone

[2021-02-19 09:08] mertokuyaz commented on #291
Hello, this is an awesome idea.

 I also need the function to get income statement, balance sheet, cash flow. As this is one of the most important factor when investing.

Keep up the good work. @alvarobartt

[2021-02-19 09:37] alvarobartt commented on #293
Hi @pourquoi42! I'll check this later today and fix it 👍🏻 Can you check if this happens also for other financial products? Anyway, I'll try to fix this and include it in the `investpy v1.0.3` release.

[2021-02-19 20:10] sobcza11 opened #294 "Retrieving Economic Data"
Hello world,

This is my first GitHub "issue comment" so my apologies if any mistake.

I am not reporting an issue, I am reporting a desire to be able to pull economic data from investing.com.

We can currently pull commodities, bonds, stock etc data but I would like to pull economic data as well; examples below:

https://www.investing.com/economic-calendar/m2-money-stock-366

https://www.investin

[2021-02-20 18:34] kamarani1989 commented on #292
sir, can you suggest me a solution for this

[2021-02-21 19:57] alvarobartt commented on #206
Sorry for taking so long to solve this issue even though it was easy to fix but I though it was already fixed 😩

Thank also @GitHunter0! He/She has been tracking this issue for so long as well as proposing solutions!

To install the latest version with this bug fix as well as some other fixes, please install it as it follows:

[code]

Remember to star the repository, follow me here at https://gith

[2021-02-21 19:57] #206 closed

[2021-02-21 19:58] alvarobartt commented on #293
Sorry for taking so long to solve this issue even though it was easy to fix but I though it was already fixed 😩

Thank also @GitHunter0! He/She has been tracking this issue for so long as well as proposing solutions!

To install the latest version with this bug fix as well as some other fixes, please install it as it follows:

[code]

Remember to star the repository, follow me here at https://gith

[2021-02-21 19:58] #293 closed

[2021-02-21 19:59] alvarobartt commented on #42
@marineanalytica Sorry for taking so long to solve this issue even though it was easy to fix but I though it was already fixed 😩

To install the latest version with this bug fix as well as some other fixes, please install it as it follows:

[code]

Remember to star the repository, follow me here at https://github.com/alvarobartt and on Twitter at https://twitter.com/alvarobartt so as to get notifi

[2021-02-21 19:59] alvarobartt commented on #53
@marineanalytica @GitHunter0 Sorry for taking so long to solve this issue even though it was easy to fix but I though it was already fixed 😩

To install the latest version with this bug fix as well as some other fixes, please install it as it follows:

[code]

Remember to star the repository, follow me here at https://github.com/alvarobartt and on Twitter at https://twitter.com/alvarobartt so as t

[2021-02-21 20:01] alvarobartt commented on #208
@davins90 @IgorCavaca Sorry for taking so long to solve this issue even though it was easy to fix but I though it was already fixed 😩 Now both "world" and "euro zone" data retrieval is available!

To install the latest version with this bug fix as well as some other fixes, please install it as it follows:

[code]

Remember to star the repository, follow me here at https://github.com/alvarobartt an

[2021-02-21 20:02] alvarobartt commented on #210
@aktherpu, @elocke-abroaden and @LuisSousaSilva Sorry for taking so long to solve this issue even though it was easy to fix but I though it was already fixed 😩 Now both "world" and "euro zone" data retrieval is available!

To install the latest version with this bug fix as well as some other fixes, please install it as it follows:

[code]

Remember to star the repository, follow me here at https:/

[2021-02-21 20:02] alvarobartt commented on #226
@GitHunter0 @pourquoi42 Sorry for taking so long to solve this issue even though it was easy to fix but I though it was already fixed 😩 Now both "world" and "euro zone" data retrieval is available!

To install the latest version with this bug fix as well as some other fixes, please install it as it follows:

[code]

Remember to star the repository, follow me here at https://github.com/alvarobartt

[2021-02-21 20:03] alvarobartt commented on #293
@pourquoi42 Sorry for taking so long to solve this issue even though it was easy to fix but I though it was already fixed 😩 Now both "world" and "euro zone" data retrieval is available!

To install the latest version with this bug fix as well as some other fixes, please install it as it follows:

[code]

Remember to star the repository, follow me here at https://github.com/alvarobartt and on Twitt

[2021-02-21 20:05] alvarobartt commented on #208
BTW @davins90 I'd love to see that Streamlit UI 👍🏻 Feel free to create a PR so as to include the project you created using investpy in the following section of the README: https://github.com/alvarobartt/investpy#related-projects

It's as easy as forking the repository, including a couple of lines describing your project in the section "Related projects" and then create a PR so as to merge your for

[2021-02-22 01:30] GitHunter0 commented on #293
@alvarobartt , for the tests I just made, the issue is solved, thank you!

[2021-02-22 06:45] kungouf commented on #284
H i Alvaro , cheers for your work and release of v 1.0.3 , i downloaded the file but was the technicalpy price, datetimestamp and name of instrument can now be retrieved or this will be part of a later release?  thanks

[2021-02-22 08:23] alvarobartt commented on #284
Hi @kungouf! 👍🏻 Not yet, these changes will come with the next release `v1.0.4`, this weekend in the best-case scenario, anyway I think that either later this month or early March the new release will come including the features you proposed as well as other interesting features! But I just wanted to let you know that I'm working on this already 😄

[2021-02-22 08:27] alvarobartt commented on #284
Oh, I forgot to mention that I'll be including a parameter that by default is False, which means that the extra information will not be returned because as you saw there's no clean way to include that data into the returned `pandas.DataFrame` due to the column names, but with this flag, you will be able to receive as output the `pandas.DataFrame` with the indicators, the current price and the time

[2021-02-22 08:29] alvarobartt commented on #293
Thanks a lot for the feedback @GitHunter0! 👍🏻 Please let me know if there's any other issue

[2021-02-22 08:43] alvarobartt commented on #292
@kamarani1989 I need you to provide me the following:

- The `investpy` function and code you are using to retrieve the data.
- The Investing.com URL that contains the data/information that is missing as I need to make sure that your request can be solved using Investing.com data.
- Additionally, provide a screenshot of the Investing.com URL and highlight the data that is missing so that I can inc

[2021-02-22 08:50] kungouf commented on #284
Sure that sounds great Alvaro thanks for the update here , I will be looking forward to the next release !

[2021-02-22 12:58] kamarani1989 commented on #292
FUNCTION I USE IS :
tickers= ['MCX Gold 1 Kg','MCX Silver','MCX Crude Oil WTI','MCX Natural Gas','MCX Copper','MCX Zinc','MCX Lead','MCX Nickel',"Aluminum"]
comex_ticker = ['gold','silver']

import investpy
dfs=[]

for ticker in tickers:
    df = investpy.commodities.get_commodity_recent_data(commodity=ticker,
                                                 interval='Daily',

[2021-02-22 13:49] alvarobartt commented on #294
Hi @sobcza11! As I already told you via LinkedIn, I'll be working on this for the next investpy release, and after some time thinking about how to tackle this I may create a new function so as to let the users search different economic events using Investing.com search engine, something similar to the functionality implemented in `investpy.serrach_quotes()`.

So on, you should expect something sim

[2021-02-22 13:52] alvarobartt opened #297 "investpy.search_quotes() to return a single result when n_results=1"
`investpy.search_quotes()` function with `n_results=1` should just return the top search result, not a list of one element, which is the current output.

__Note__: before completing this issue, I'll include an example comparing the previous output versus the new one.

__Disclaimer__: the description of this issue is less detailed as I've spotted it and I know all the details already,  so don't tak

[2021-02-22 14:52] sobcza11 commented on #294
Thanks! I look forward to the release! Cheers again!

[2021-02-23 11:36] #290 closed

[2021-02-25 16:16] #297 closed

[2021-02-26 18:33] kamarani1989 commented on #292
sir any temporary solution u may give for the above issue, actually i m doing lot of manual work

[2021-02-28 14:31] kamarani1989 commented on #292
1)Below tickers are available in investing.com while the same are not available in invespty library.
2)how to get the commodity  data using the tickers  like 'MZIH1' ,'MLDH1',etc.

TICKER | COMMODITY | EXCHANGE

NRSc1 | MUSTARD SEED FUTURES | NCDEX
NRSc2 | MUSTARD SEED FUTURES | NCDEX
NCHc1 | Chana Gram Futures | NCDEX
NCHc2 | Chana Gram Futures | NCDEX
NCHc3 | Chana Gram Futures | NCDEX
NCSc1 | C

[2021-03-02 07:16] alvarobartt commented on #169
Hi @typhoon71 sorry for coming back to this too late, could you please check whether this issue is still happening? Because AFAIK this was already solved, but I want to make sure 😃

To let you know I'm currently preparing the new investpy release so I'm going through all the old issues as some of them are solved but not closed 😩

Thanks a lot!

[2021-03-02 08:14] typhoon71 commented on #169
I'll check and let you know; indeed it may be fixed already but I want to test my script to be 100% sure.

[2021-03-02 10:46] alvarobartt commented on #169
Cool @typhoon71! 👍🏻 Feel free to close the issue if the feedback is positive

[2021-03-02 11:44] typhoon71 commented on #169
OK, I can confirm the dates are treated correctly, I forgot to close this when they got fixed.
I checked my code and my own workaround is commented out.
Closing as solved.

[2021-03-02 11:44] #169 closed

[2021-03-02 18:44] mrkgoh opened #298 "Missing ISIN: MY5274 Hong Leong Capital Berhad"
If you run :
ip_df = investpy.get_stocks(country='malaysia')

The following stock is missing from the list.
ISIN: MY5274 Hong Leong Capital Berhad

If you check investing.com the stock exists in
https://www.investing.com/equities/hong-leong-capital-bhd

[2021-03-02 18:48] alvarobartt commented on #298
Hi @mrkgoh thank you for reporting it! 👍🏻 This is a common issue as the static files are not updated, but in the meantime, you can use the `investpy.search_quotes()` function instead, I think that you can retrieve the results you are looking for like explained in: https://github.com/alvarobartt/investpy/wiki/investpy.search_quotes()

Hope this is useful to you!

[2021-03-02 20:18] PieroValdebenito commented on #284
I will be waiting for the next release too 😄

[2021-03-02 23:45] Jihad opened #299 "Stocks retrieval getting wrong symbols"
Hello there,

I'm using both:
`inpy.get_stock_recent_data("2222", 'Saudi Arabia')`

and
`inpy.get_stock_historical_data(stock, country, "from_date", "to_date", as_json=False, order='ascending')`

For Middle east market, especially country="Saudi Arabia"

I noticed there are multiple stocks getting this error:
`Traceback (most recent call last):
  File "/Users/jihad/Dev/miniconda3/envs/stocksData/l

[2021-03-03 02:26] mrkgoh commented on #298
Hi @alvarobartt , thank you for your prompt response.

I have tried your suggested method and it seems that 'malaysia' as a country is not supported yet under investpy.stock_quotes(). Here is what I have tried:

import investpy
search_results = investpy.search_quotes(text='hong leong', products=['stocks'], countries=['malaysia'], n_results=5)

Error I got :

---------------------------------------

[2021-03-04 16:19] gf10-ops commented on #273
Hi,

That function does not provide sector and industry (Company profile data). For example, AAPL Technology and Communications Equipment. It would be really nice to have this data.

[2021-03-04 16:27] alvarobartt commented on #273
Ok, thanks for reporting that @gf10-ops I'll for sure include it this weekend so as to finally release the v1.0.4 version! Stay tuned as some cool features will be in beta before the v1.1.0 release is out 🔥

[2021-03-06 17:54] anhanh11001 opened #300 "Provide current assets/liabilities"
In the function `investpy.get_stock_financial_summary` with balance sheet, please also provide loading current assets and liabilities

[2021-03-06 18:58] alvarobartt commented on #300
Hi @anhanh11001 thanks for proposing this issue! 👍🏻 Can you please send me more information e.g. screenshots of the Investing.com site with the information you are requesting?

[2021-03-06 19:06] anhanh11001 commented on #300
<img width="678" alt="Screenshot 2021-03-07 at 02 05 03" src="https://user-images.githubusercontent.com/36192582/110217953-90fe5980-7ee9-11eb-930c-78f997f6f845.png">

Inside the image, there are `Total Current Assets` and `Total Current Liabilities`

[2021-03-07 04:10] david2588e commented on #111
Hallo All:
For Chinese visitor, using VPN can help solve this issue and I checked it .
It works well,but maybe improve it via software, to get the data without VPN is better.
Maybe the data header is not compatible to the existing setting
Thanks

[2021-03-07 09:46] alvarobartt commented on #300
Hi @anhanh11001

[2021-03-08 03:02] anhanh11001 commented on #300
Thanks, 👍 Keep up the good work, this lib has been helping me a lot

[2021-03-09 16:58] ymyke opened #302 "DOT/Polkadot missing in crypto?"
Thanks for the package!

DOT seems to be missing:

`investpy.crypto.get_cryptos().query("symbol == 'DOT'")`

Turns up nothing.

Any idea why it is missing and what I can do to fix this?

[2021-03-09 19:24] alvarobartt commented on #302
Sure @ymyke I'll update the `crypto.csv` file for the next release, which will be `v1.0.4` hopefully later this week! 👍🏻

[2021-03-10 20:06] jonesmartins opened #303 "Change date format from DD/MM/YYYY to YYYY-MM-DD"

[2021-03-10 22:17] #303 closed

[2021-03-11 08:42] alvarobartt commented on #299
Hi @Jihad! Thank you for spotting this issue 👍🏻 It's due to the fact that the static data may not be up-to-date, and updating it is really tricky, so in the meantime, I encourage you to use the `investpy.search_quotes()` functionality which retrieves the most updated data as it's using Investing.com search engine.

More information available at: https://github.com/alvarobartt/investpy/wiki/investp

[2021-03-12 20:04] saumatony opened #304 "investpy.economic_calendar data before 2009 looks incorrect"
When running investpy.economic_calendar() with dates 2008 or earlier using January of the year to test:

[code]
And then comparing the data when changing the dates to or later:
[code]

The results pre-2009 seem incorrect. Most of the data pre-2008 are appearing on Jan. 1st, but post-2009, the data is appearing in what seems to be the correct dates.

I am using v. 1.03

[2021-03-12 20:19] saumatony commented on #304
Seems this is a problem with the data from investing.com itself.

Retracting my issue.

[2021-03-12 20:19] #304 closed

[2021-03-13 08:51] alvarobartt commented on #304
Hi @saumatony, thanks for reporting this issue. Anyway, can you send me the URL of the Investing.com issue? If that's their issue I'll not be able to fix it, but anyway it's nice that you spotted this :+1:

[2021-03-14 18:33] kungouf commented on #284
Hi Alvaro ! Hope you are doing well ! When do you think the next release with the improvement can mmbe made ? Thanks !

[2021-03-14 18:34] kungouf commented on #284
You don't need to put the product name and tenor if that too complicated, I've actually got some piece of code ready and would be happy just to use the price with the technicals !

[2021-03-18 15:41] mrjapon opened #309 "Failing connecting to Investing.com for any data"
When executing a basic order:
<<
import investpy
df__ = investpy.get_stock_recent_data(stock='bbva', country='spain')

An error occurs (see below). Not sure if it's a problem with my connection or installation, or a general issue.

HTTPSConnectionPool(host='www.investing.com', port=443): Max retries exceeded with url: /instruments/HistoricalDataAjax (Caused by SSLError(SSLCertVerificationError(1,

[2021-03-18 16:17] alvarobartt commented on #309
Hi @mrjapon, I've just tested it and it works fine for me, see below.

[code]

Maybe that issue has anything to do either with your connection or with the Investing.com status at the moment you sent the request, but `investpy` seems to be working fine. Let me know if the error persists, and provide me more information so that I can help you! 🤗

[2021-03-18 16:21] mrjapon commented on #309
Just checked my connection (I use a VPN) and that was the problem, the VPN. Without the VPN connection active, it works perfectly.

Thank you!!

[2021-03-18 16:49] #309 closed

[2021-03-20 16:03] MohammedAlawami commented on #224
Hello @ferguswaterhouse
Did you solve this issue? I'm facing the same problem

[2021-03-20 19:50] alvarobartt commented on #224
Hi @ferguswaterhouse, can you provide more details? Is that something that was failing from your side, or was it an `investpy` related issue? Please let me know! 👍🏻

Can you give me more information so as to reproduce the issue, @MohammedAlawami? Or at least more information so that I can easily reproduce it in order to solve it in case this is an `investpy` related issue of course. Thanks! 🤗

[2021-03-20 20:18] MohammedAlawami commented on #224
Hello @alvarobartt Thank you for your support.

After I packaged my program with [pyinstaller](https://github.com/pyinstaller/pyinstaller) and try to run the exe file I get this error

`
 File "investpy\commodities.py", line 504, in get_commodity_historical_data
 File "pkg_resources\__init__.py", line 1120, in resource_exists
 File "pkg_resources\__init__.py", line 1391, in has_resource
 File "pkg

[2021-03-20 21:55] MohammedAlawami commented on #224
@alvarobartt I was able to solve the issue by using an unmerged branch in pyinstaller
Thanks a lot.

[2021-03-22 07:19] Egoistically commented on #302
If anyone doesn't want to wait for the update for whatever reason, you can modify the `crypto.csv` file yourself.
The only "tricky" value is the id (int), which can be found by inspecting page source in the form of `pid-{id}-last` (inside `price js-currency-price`).

[2021-03-22 18:52] alvarobartt commented on #302
Hi @ymyke and @Egoistically, the `cryptos.csv` static file is being updated right now, so it will be soon included in the `dev` branch. This means that you can either install `investpy` from that branch, or wait until the `v1.0.4` release comes out once merged.

I'll share with you the installation command once the file is updated! 🤗 (Expect this to be in an hour or less)

[2021-03-22 19:16] alvarobartt commented on #302
Also note that there are a lot of missing cryptos in Investing.com, as some of them are listed but not available since Investing.com doesn't have access to the data. This means that you should double check whether Investing.com contains the cryptos you are looking for or not, as being listed in the `cryptos.csv` file doesn't mean they are available unless the `status` field is set to `available`.

[2021-03-22 19:29] alvarobartt commented on #302
Already updated in the `dev` branch, soon available in the `v1.0.4` release :fire:

Install it from source as it follows:

``
pip install git+https://github.com/alvarobartt/investpy.git@dev
``

Remember to star the repository, follow me here and on Twitter at https://twitter.com/alvarobartt so as to get notified from all the updates and projects I'm working on! :star::octocat:

[2021-03-22 19:29] #302 closed

[2021-03-23 14:25] oda9 opened #310 "There are some shares that cannot be acquired."
Hello there
Stock prices of some Japanese stocks cannot be retrieved using "get_stock_historical_data" and "get_stock_recent_data".

Examples of codes that cannot be retrieved
2631
2982
4060
7356

How can I get the data?

[2021-03-23 14:53] alvarobartt commented on #310
Hi @oda9, you can just do the following to retrieve all the `SearchObj` for the tickers you want to, using Investing.com search engine:

[code]

Then with each `SearchObj` result, you can retrieve the recent data, historical data, or the information. For more information please check [`investpy.search_quotes` wiki](https://github.com/alvarobartt/investpy/wiki/investpy.search_quotes()).

Let me kno

[2021-03-23 14:53] alvarobartt commented on #310
If the solution provided above worked for you, please feel free to close this issue! 🤗

[2021-03-23 16:03] oda9 commented on #310
Thank you, @alvarobartt .
There's just one problem.

2982,4060,7356 was able to retrieve the data.

However, 2631 was not able to retrieve the data.

2631is a Japanese ETF.

Are there different acquisition methods for ETFs?

[2021-03-23 16:18] alvarobartt commented on #310
Sure! You can either remove the `products=['stocks']` or update it with `products=['stocks', 'etfs']`. I shared that piece of code with you because referring to the original message I thought those were just stocks 👍🏻

[2021-03-23 16:25] oda9 commented on #310
Thank you, @alvarobartt .

I think I can get the data from this.

Thank you so much.

[2021-03-23 16:25] #310 closed

[2021-03-23 19:27] alvarobartt commented on #272
Hi @AF20, sorry for not reporting this earlier, but this issue was already solved in the `v1.0.3` release, that you can install with:

[code]

Here's the piece of code that you should be using:

[code]

Hope this was useful to you! 👍🏻

[2021-03-23 19:27] #272 closed

[2021-03-23 20:36] alvarobartt commented on #255
Hi @GitHunter0, can you please check whether this issue is still happening or not? Can you share an example (input/output)? Thanks! 🤗

[2021-03-23 21:35] GitHunter0 commented on #255
Hey my friend, I just re-tested and I'm glad to share that this issue was solved in the new version 1.0.3, nice!
You can see here:
[code]
Just one question, `json_df` is not a properly structured pandas dataframe, what is the correct way to convert `json_str` into a dataframe?

Thank you @alvarobartt

[2021-03-23 21:35] #255 closed

[2021-03-23 21:38] alvarobartt commented on #255
Hi again @GitHunter0, I'm glad that your issue is already solved! 🤗

I'm currently working on that, so that instead of a JSON as a string the function returns a Python dictionary (which is a properly formatted JSON) when using `as_json=True`.

You should expect this to be ready later this week for the `v1.0.4` release! :fire:

[2021-03-23 21:39] alvarobartt commented on #255
There's still a lot of room for improvement before the `v1.1.0` release comes out, as improving the code (cosmetically) will also help everyone while contributing making it easier than ever! :muscle:

[2021-03-23 22:07] GitHunter0 commented on #255
Great man, you are doing a wonderful job in `investpy`! Thanks again @alvarobartt

[2021-03-26 08:21] RobertoPaolinelli commented on #225
@rick-62
I agree. It looks like this project is nearly still...

Il giorno mar 26 gen 2021 alle ore 21:32 rick-62 ***@***.***>
ha scritto:

--
Ing. Roberto Paolinelli
Electronics Engineering & Consulting
P.IVA (Vat Number): IT 02643190420
Tel: +39 347/5308468

http*://**it.linkedin.com/in/RobertoPaolinelli*
<http://it.linkedin.com/in/RobertoPaolinelli>

skype: roberto_paolinelli

[2021-03-26 09:35] alvarobartt commented on #225
Hi @RobertoPaolinelli, @MrDrinkwater, and @rick-62, I'm sorry to hear that you are having so many problems, the frequency update of the data is still an ongoing issue for us and we are working so as to solve it in order to provide a way to automatically update the data let's say once a month or so, but it's a hard thing to do as Investing.com data indexing is not complete, and, so on, hard to retr

[2021-03-26 11:31] RobertoPaolinelli commented on #225
Thank you so much for kind reply
We will try it asap
Best Regards

Il giorno ven 26 mar 2021 alle ore 10:35 Álvaro Bartolomé <
***@***.***> ha scritto:

--
Ing. Roberto Paolinelli
Electronics Engineering & Consulting
P.IVA (Vat Number): IT 02643190420
Tel: +39 347/5308468

http*://**it.linkedin.com/in/RobertoPaolinelli*
<http://it.linkedin.com/in/RobertoPaolinelli>

skype: roberto_paolinelli

[2021-03-26 21:51] hassansalehe opened #312 "Missing stock information - update stocks.csv file"
`stocks.csv` is pretty outdated as data of some new companies with IPO isn't in the file. Please generate the new static data for stocks. Examples of stocks with missing data: INPST and SPCE.

[2021-03-27 22:42] romanminkoff opened #313 "unidecode in get_fund_information makes fund naming inconsistent with funds in "funds" DataFrame"
Reproducer: investpy.get_fund_information("öhman Global Growth", "sweden")
Error signature: ERR#0019: fund ohman global growth not found, check if it is correct.
investing.com link: https://www.investing.com/funds/ohman-global-growth-company-profile

Problematic lines in funds.py:
fund = unidecode(fund.strip().lower())  **# << here unidecode replaces "ö"->"o"**
if fund not in list(funds['name'].st

[2021-03-30 09:57] SLakhani1 opened #315 "investpy.stocks.get_stock_information() API giving error for all symbols."
investpy.stocks.get_stock_information(stock=symbol, country='India', as_json=True) API is giving error for all symbols.
I have tried many different symbols such as BDYN, ADTB, CNBK etc.

Error-

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/sl/Desktop/finacular/venv/lib/python3.6/site-packages/investpy/stocks.py", line 1133, in get_stock_information
    rai

[2021-03-30 10:19] alvarobartt commented on #313
Hi @romanminkoff, I get your point, but so as to make it simpler I just decided to "unidecode" everything so that you get the same information either introducing `öhman Global Growth` or `ohman Global Growth`, even though as you say, I may have messed up the static files so some cases those don't match! 😩

Let me check this later today and then I'll release the fixed `investpy v1.0.4` release 🔥 Th

[2021-03-31 09:52] alvarobartt commented on #315
PR #314 solved this, and the build was fixed in 47cb1dc :muscle:

[2021-03-31 09:52] #315 closed

[2021-03-31 10:14] ducanh95pro opened #316 "Value Error with Get_stock_financial_summary"
When I use function Investpy.Get_stock_financial_summary for a Vietnamese Stock, this error appeared: invalid literal for int() with base 10.
Could someone please fix this, I think this one only appear to Vn stocks.
Thanks in advance.

[2021-03-31 10:18] alvarobartt commented on #316
Hi @ducanh95pro I was about to merge `dev` into `master`, but if you give me the details of the `investpy` call that you are using I'll be able to reproduce the issue and solve it before releasing the new version.

Thank you! :hugs:

[2021-03-31 10:20] ducanh95pro commented on #316
This is the code i used to retrieve financial data for a Vietnamese company
investpy.stocks.get_stock_financial_summary('vic','vietnam', summary_type='income_statement', period='annual')

[2021-03-31 10:27] alvarobartt commented on #316
Thank you I'll check this rn before releasing the new version! 👍🏻

BTW you can simplify the function call to:

[code]

[2021-03-31 10:30] ducanh95pro commented on #316
By the way,

When i Call

investpy.get_stock_information('vic','vietnam')

This Error showed up:

ERR#0015: error 406, try again later.

This may be due to the fact that I have sent so many requests before and got blocked. Is there any way to address this or just simply wait until the block is removed,

Many Thanks

[2021-03-31 10:34] alvarobartt commented on #316
Yes, sending too many calls will result in a block, this just happens for Investing.com Stocks. Apparently, there's nothing we can do to solve it, besides sending fewer requests (increase interval between requests) or use a rotating proxy, a VPN, or something similar.

You can search for `406` in the issues tab, as some users proposed intermediate solutions to this issue.

P.S. I'm already working

[2021-03-31 10:53] ducanh95pro commented on #316
Cheers.

Thanks so much

[2021-03-31 11:02] alvarobartt commented on #316
Hi again @ducanh95pro, this is what I get when I send the same request as you:

[code]

[2021-03-31 11:08] #313 closed

[2021-03-31 11:39] romanminkoff commented on #313
Thank you!

[2021-04-01 09:04] #282 closed

[2021-04-01 09:05] #166 closed

[2021-04-01 09:14] alvarobartt commented on #180
Hi @mplumb80, thanks for reporting this! I was going through old issues, and just to let you know that this was already solved some releases ago :hugs:

The fix I did was `stocks = pd.read_csv(pkg_resources.resource_filename(resource_package, resource_path), keep_default_na=False)`, instead of including also the `na_values=['_']` as you suggest. I also ran a couple of tests a while ago, but can yo

[2021-04-01 09:14] #180 closed

[2021-04-01 09:18] alvarobartt commented on #188
Hi @similang and @GitHunter0, thank you for opening this issue, and sorry for taking so long to answer!

As you both may already know, this is a common issue, as Investing.com data indexing is not that easy to scrape, so some data is missing in the static CSV files under `investpy/resources`. Anyway, there's a functionality which is `investpy.search_quotes()` available in the latest `investpy` rel

[2021-04-01 09:18] #188 closed

[2021-04-01 09:23] alvarobartt commented on #190
Hi @lefig, sorry for taking too long to answer, you already know that I'm usually mad busy! 😩

Regarding what you mention, as you may know, `investpy.search_quotes()` kind of solves this issue, as it's using Investing.com search engine rather than the static files.

I'll tackle this for `investpy v1.0.5`, which will come in one week or so! 👍🏻 I'll include a method in the `SearchObj`, which is the

[2021-04-01 09:26] alvarobartt commented on #192
Did `investpy.economic_calendar()` function worked for you @stefanomorni, @LeonardoRick?

Here you have [the official API documentation of `investpy.economic_calendar()`](https://investpy.readthedocs.io/_api/news.html#investpy.news.economic_calendar)

I'll be closing this issue, but if this isn't what you expected, please let me know so that I can reopen it! :hugs:

[2021-04-01 09:26] #192 closed

[2021-04-01 12:16] oda9 opened #318 "two questions."
I have two questions.

First.
Is it possible to use get_crypto_recent_data to get the value of JPY bitcoin?

Second.
There are some stocks whose dividend data cannot be retrieved by get_stock_dividends.
Is there a way to get it?

Example code I tried
`investpy.get_stock_dividends(stock='RPRX',country='united states')`

[2021-04-01 12:51] LeonardoRick commented on #192
@alvarobartt yes it worked for me!
Thanks a lot

[2021-04-01 20:48] eracle commented on #225
Hi there, @alvarobartt unfortunately this too seems to be broken, here's the output:
[code]

[2021-04-04 09:40] IgorEvsin opened #320 "Getting the futures contracts curve"
Hello! First of all, thanks for such a great library.

My question is: is there any possibility to get the futures contracts curve (for example, https://www.investing.com/commodities/gold-contracts)

[2021-04-05 12:59] Mrziiz commented on #111
Hello @alvarobartt
I have same error today, but even few days ago evething worked fine...
I've checekd site and I have no any rediretcs from invexting.com

[2021-04-07 09:43] AlejandroBaron commented on #111
Hello, I'm getting the same error with a code that worked like a charm yesterday, but only with some funds

[code]

Could it be related to IP limitations?  I'm European so no regional blocking I'm assuming

[2021-04-07 13:59] Daywalker7754 opened #324 "investpy.news.economic_calendar throw simplejson.errors.JSONDecodeError"
a direct call of investpy.news.economic_calendar() does not work any longer. Since yesterday it throws the **following error:**
[code]

Every test with different parameter, like countries, importance, start and end dates led to the same issue. Until yesterday everything worked pretty well.

[2021-04-07 14:20] lucas-leme opened #325 "inv.search_funds is not finding new funds"
I was trying to get the historical data of this fund: `https://www.investing.com/funds/br025jctf005`

But the investpy does not find it.

`inv.search_funds(by='symbol', value='0P0001I7OT')`

Error:
[code]

[2021-04-07 16:09] guberm opened #326 "Stopped receiving technical data for the stock"
![image](https://user-images.githubusercontent.com/577099/113898402-d8526100-9799-11eb-9b6f-b486b9ec02cd.png)

[2021-04-07 17:02] danilogalisteu opened #327 "Search and data download not working"
MVE:

[code]
results in:
[code]

I traced the problem (similar to [this](https://stackoverflow.com/questions/49702214/python-requests-response-encoded-in-utf-8-but-cannot-be-decoded)) to the fact that Investing.com is returning content compressed with [Brotli](https://en.wikipedia.org/wiki/Brotli), which is accepted according to the search headers (`search.py` line 107):
[code]
but can't be decomp

[2021-04-07 17:03] kevin-setiawan opened #328 "Getting ERR#0004 everytime using the function"
Hello I encounter a problem just today when I am using the command which retrieves data from investing. com
Yesterday it runs alright without any problem. I tried using 2 different command :

1. stocks_data_df = investpy.get_stock_historical_data(stock='BBVA', country='spain', from_date='01/01/2018', to_date='01/01/2019')
 and I get this result :
File "C:\Users\G40.80\Anaconda3\lib\site-packages\i

[2021-04-07 17:35] TradeForce-AI commented on #328
I think they changed something on the website and the scraper fails everytime.. hopefully the developer will fix the issue soon..

[2021-04-07 19:33] pourquoi42 commented on #328
Same Problem for me. It worked the day before. No code changes, no change of version of investpy. Today it doesnt work any more.

investpy 1.0.4

[code]

[2021-04-07 20:25] danilogalisteu commented on #328
I wrote about a possible solution to this on #327. You can make the changes manually until the fix is implemented.

[2021-04-07 21:44] Daywalker7754 commented on #324
Found the issue. I installed now the package "brotli" as it seems that this is neccessary to read the new export from investing.com, this resolved my issue

[2021-04-07 21:44] #324 closed

[2021-04-08 06:29] Dogsbreath1 commented on #328
Many thanks! I removed the br a in search.py line, search._obj.py and etfs.py and now up and running!
Before: "Accept-Encoding": "gzip, deflate, br",
After: "Accept-Encoding": "gzip, deflate",

[2021-04-08 08:50] victorbennini opened #330 "ERR#0004: data retrieval error while scraping."
Hi everyone,

I've been working on a deep learning research project involving investpy to collect the data.
It used to work just fine on a Google Colab code.
It's a pretty standard code.
But all of a sudden yesterday, the code raises this error everytime :
`RuntimeError: ERR#0004: data retrieval error while scraping.`

Here's an example of functions that don't work anymore :
`investpy.get_stock_hi

[2021-04-08 11:03] nhlsm commented on #330
Same problem.

Invest.com response with header "... Content-Encoding: br ..."
But lxml.html.fromstring() can't decode "br" ( **Brotli** )

WORKAROUND
Fixing request header's "Accept-Encoding" to "gzip, deflate", works well.
( I tested copy and fix installed package source.
It seems that normal correction is necessary. )

[2021-04-08 11:31] danilogalisteu commented on #330
See #327 and #328.

[2021-04-08 12:00] agftrading opened #331 "Inconsistent Economic Calendar Times"
There seems to be some "randomisation" going on of the times when retrieving data from the economic calendar.

Example (run on 08/04/2021):

`investpy.economic_calendar(time_zone=None,time_filter='time_only',importances=['high'],countries=['UK'])`

On the first run returns:

id | date | time | zone | currency | importance | event | actual | forecast | previous
-- | -- | -- | -- | -- | -- | -- | --

[2021-04-08 12:04] st356907 commented on #330
Seems like there is a maintenance break on the website. I recommend you to take a break too.
![image](https://user-images.githubusercontent.com/82155504/114023536-eae89b00-986a-11eb-8884-9968f20af4a5.png)

- [ ]

[2021-04-08 12:06] alvarobartt commented on #330
Thanks a lot to everyone, especially to @nhlsm, as the solution he proposed works like a charm. The tests are already running, but once I check everything is OK (besides the Investing.com issues that have nothing to do with investpy), I'll upload the new release mentioning everyone involved in solving it! :fire: Thanks for this awesome support and sorry for my delayed response.

[2021-04-08 12:08] alvarobartt commented on #328
Thanks a lot to everyone, especially to @nhlsm and to @danilogalisteu, as the solution they proposed works like a charm. The tests are already running, but once I check everything is OK (besides the Investing.com issues that have nothing to do with investpy), I'll upload the new release mentioning everyone involved in solving it! :fire: Thanks for this awesome support and sorry for my delayed resp

[2021-04-08 12:13] danilogalisteu opened #333 "Data retrieved from SearchObj is overwritten with None"
In `search_obj.py` method `_convert2df`, the result is overwritten with None due to an `inplace` argument.

[2021-04-08 12:15] alvarobartt commented on #330
You can install the new-fixed version as it follows:

[code]

Sorry for the inconvenience, seems that Investing.com is applying a lot of changes and under maintenance... Everyone thank both @danilogalisteu and @nhlsm for their awesome support! 👍🏻

[2021-04-08 12:15] alvarobartt commented on #328
You can install the new-fixed version as it follows:

[code]

Sorry for the inconvenience, seems that Investing.com is applying a lot of changes and under maintenance... Everyone thank both @danilogalisteu and @nhlsm for their awesome support! 👍🏻

[2021-04-08 12:15] #328 closed

[2021-04-08 12:15] alvarobartt commented on #327
You can install the new-fixed version as it follows:

[code]

Sorry for the inconvenience, seems that Investing.com is applying a lot of changes and under maintenance... Everyone thank both @danilogalisteu and @nhlsm for their awesome support! 👍🏻

[2021-04-08 12:15] #327 closed

[2021-04-08 12:15] alvarobartt commented on #326
You can install the new-fixed version as it follows:

[code]

Sorry for the inconvenience, seems that Investing.com is applying a lot of changes and under maintenance... Everyone thank both @danilogalisteu and @nhlsm for their awesome support! 👍🏻

[2021-04-08 12:15] #326 closed

[2021-04-08 12:18] alvarobartt commented on #324
You can install the new-fixed version as it follows:

[code]

Sorry for the inconvenience, seems that Investing.com is applying a lot of changes and under maintenance... Everyone thank both @danilogalisteu and @nhlsm for their awesome support! 👍🏻

[2021-04-08 12:22] alvarobartt commented on #330
Feel free to drop some comments here https://github.com/alvarobartt/investpy/discussions/334 and more information if applicable, such as the IDs of the solved issues and so on, so that I can include all the information into the Release Notes! :hugs: Thank you!

[2021-04-08 12:22] alvarobartt commented on #328
Feel free to drop some comments here https://github.com/alvarobartt/investpy/discussions/334 and more information if applicable, such as the IDs of the solved issues and so on, so that I can include all the information into the Release Notes! :hugs: Thank you!

[2021-04-08 12:22] alvarobartt commented on #327
Feel free to drop some comments here https://github.com/alvarobartt/investpy/discussions/334 and more information if applicable, such as the IDs of the solved issues and so on, so that I can include all the information into the Release Notes! :hugs: Thank you!

[2021-04-08 12:22] alvarobartt commented on #326
Feel free to drop some comments here https://github.com/alvarobartt/investpy/discussions/334 and more information if applicable, such as the IDs of the solved issues and so on, so that I can include all the information into the Release Notes! :hugs: Thank you!

[2021-04-08 12:22] alvarobartt commented on #324
Feel free to drop some comments here https://github.com/alvarobartt/investpy/discussions/334 and more information if applicable, such as the IDs of the solved issues and so on, so that I can include all the information into the Release Notes! :hugs: Thank you!

[2021-04-08 12:34] guberm commented on #326
You are amazing, thank you so much!!!

[2021-04-08 13:20] nhlsm opened #335 "legal issue about invest.com data scraping"
Is it legal that scraping data from invest.com ?

I want to make android app with invest.com data.
I wonder it is legal.

[2021-04-08 14:30] #335 closed

[2021-04-08 15:58] SlippingForest commented on #111
Hi. i have ERR#0004: data retrieval error while scraping. From Ukraine

[2021-04-08 18:07] stefanomorni commented on #192
Hi Alvaro

Yes. It worked fine. Thank you.

Stefano Morniroli
***@***.***

Da: Álvaro Bartolomé ***@***.***>
Inviato: giovedì, 1 aprile 2021 11:26
A: alvarobartt/investpy ***@***.***>
Cc: stefanomorni ***@***.***>; Mention ***@***.***>
Oggetto: Re: [alvarobartt/investpy] Functionality wish - Import economic calendar and economic indicator "price" history (#192)

Did investpy.economic_calendar() fu

[2021-04-09 02:29] mrkgoh commented on #330
Thank you everyone. I just had this problem this morning and glad that there already is a solution. Thanks @alvarobartt

[2021-04-09 11:35] gbaettig commented on #111
Hi, I am facing the same issue... I get the "ERR###4: data retrieval error while scraping" error... I'm located in Switzerland.. It was working just fine two days ago

[2021-04-09 11:51] alvarobartt commented on #111
@AlejandroBaron, @SlippingForest, @gbaettig you need to upgrade `investpy` to the latest version that was released yesterday as bug-fix, just use the following command:

[code]

This has been due to some Investing.com inner changes on the accepted headers of the requests which was breaking investpy.

Sorry for the inconvenience! :weary:

[2021-04-10 09:23] ymyke opened #337 "get_currency_cross_historical_data produces ERR#0004: data retrieval error while scraping"
The `get_currency_cross_historical_data` function seems to no longer work:

`investpy.get_currency_cross_historical_data(currency_cross='EUR/USD', from_date='01/01/2018', to_date='01/01/2019')`

produces:

`RuntimeError: ERR#0004: data retrieval error while scraping.`

Any ideas? Did something change on Investing's end?

[2021-04-10 09:36] ymyke commented on #337
Never mind. I wasn't on the latest version. The issue is fixed in the latest commit. Sorry for this.

[2021-04-10 09:36] #337 closed

[2021-04-10 12:40] tavasti opened #338 "search_quotes + retrieve_historical_data does not work anymore"
For some reason search_quotes and retrieve_historical_data with that does not work anymore.

[code]

My investpy is version 1.0.5

[2021-04-10 16:58] typhoon71 commented on #333
I can confirm the fix solves the issue; this is breaking investpy badly and I suggest a quick release to push this fix.
I corrected it myself locally once I read what it was, but a hotfix should be preferred for the masses.
Good job danilogalisteu spotting the cause, it's a stupid error I sometime do myself too (forgetting inplace methods are... inplace).

[2021-04-10 17:25] alvarobartt commented on #338
Hi @tavasti, this is an issue already spotted in #333 and solved by @danilogalisteu in #329, I'll merge this ASAP so as to release another bug-fix version in order to solve this breaking issue! Sorry for the inconvenience, stay tuned for more updates :hugs:

Next release will be `investpy v1.0.6` :fire:

[2021-04-10 17:26] alvarobartt commented on #333
Thanks a lot @danilogalisteu! :fire: You rock!

Hi @typhoon71, thanks for confirming that it works as expected, I'm merging it ASAP so as to release `investpy v1.0.5`. Stay tuned, and sorry for the inconvenience...

[2021-04-10 17:27] #333 closed

[2021-04-10 17:27] #338 closed

[2021-04-10 17:35] alvarobartt commented on #338
You can now install the latest `investpy` release as it follows:

[code]

Thanks for the support! :muscle::fire:

[2021-04-10 17:36] alvarobartt commented on #333
You can now install the latest `investpy` release as it follows:

[code]

Thanks for the support! :muscle::fire:

[2021-04-10 17:44] alvarobartt commented on #337
No worries @ymyke, indeed there was another issue that required a quick bug fix, as the data retrieved over the `SearchObj` in `investpy.search_quotes` was being overwritten, so that you need to update investpy again as it follows:

[code]

Thank you and sorry for the inconvenience!

[2021-04-11 07:30] tavasti opened #339 "search_quotes returns unconsistent type"
Thanks for fixing search_quotes back to live quickly!

However, there is one more thing in it:

search_quotes returns list when getting multiple entries, but single object when there is only one:
[code]
Should it return list in any case?

[2021-04-11 09:43] alvarobartt commented on #339
Hi @tavasti, thank you too for reporting the issues! :fire:

Indeed I included an option so that whenever the parameter `n_results` is `1`, instead of returning a list with just one `SearchObj`, just the `SearchObj` is returned. Anyway, it seems that I need to include another if-statement so as to just proceed with this approach whenever `n_results=1`, and not whenever there's just one result, whi

[2021-04-11 09:44] alvarobartt commented on #339
P.S.: As a quick fix you can just

[code]

[2021-04-11 12:07] ymyke commented on #337
Thanks, I found that one as well and fixed it locally for the time being  when I saw there is a PR pending. ;-)

[2021-04-11 14:47] tavasti commented on #339
Yeah, that is what I did, but still wanted to report this because most likely there will be other people who hit the same.

[2021-04-12 22:23] yoyocasta78 opened #340 "Hi, the package does not workig, every function I´ve used return me an error. I give you 3 examples and tanks for help!!!"
df = investpy.get_fund_recent_data(fund='bbva plan multiactivo moderado pp',country='spain')
      File "C:\Users\Ricardo Castañeda\AppData\Local\Programs\Python\Python39\lib\site-packages\investpy\funds.py", line 338,
     in get_fund_recent_data
     raise RuntimeError("ERR#0004: data retrieval error while scraping.")
     RuntimeError: ERR#0004: data retrieval error while scraping.

df = invest

[2021-04-13 12:28] sirinath opened #341 "Stock Screener"
Can the ability to use the stock screener added.

[2021-04-13 12:57] sirinath opened #342 "Portfolios"
Retrieval, update, creation of portfolios would be helpful.

[2021-04-13 15:51] ZexuanAIE commented on #111
I tested both 1.0.5 and 1.0.6, but still got same error.
error:  ERR#0004: data retrieval error while scraping.

[2021-04-13 17:12] alvarobartt commented on #111
Hi @ZexuanAIE, can you please open a new issue reporting this and including if possible either some screenshots or the function call that you are using? So that I can reproduce and start tackling the issue again, even though the `pytest` that I've just run seems to be working properly...

Also, I want you to open a new issue as some other users also reported this issue again, so it may be because

[2021-04-13 17:15] alvarobartt opened #345 "Include some functions to check the status of the Investing.com APIs"
As lately, we've been having a lot of issues regarding the connection to Investing.com, I'll be including some functions so as to check the status in order to allow all the users to check whether `investpy` can be used from their region, IP, etc or not.

This is also a nice way to constantly check the status as I'm not actively using `investpy` during weekdays, which means that I'm developing new

[2021-04-13 17:20] alvarobartt commented on #342
Hi @sirinath, can you provide me more information? What do you exactly want? Is it available on Investing.com?

BTW also check [alvarobartt/pyrtfolio](https://github.com/alvarobartt/pyrtfolio), which is a project that I developed some time ago but it's still working, even though it may need a rework. Feel free to check it and if applicable open a new issue there requesting this new functionality!

[2021-04-13 17:21] alvarobartt commented on #341
Hi @sirinath, can you provide me more information? What do you exactly want? Is it available on Investing.com?

Thank you! :+1:

[2021-04-13 17:23] alvarobartt commented on #340
Hi @yoyocasta78, thanks for reporting this issue!

Can you please tell me which `investpy` version are you using? Is it the latest one?

You can install the latest one with:

[code]

Thanks! 👍🏻

[2021-04-13 17:26] alvarobartt commented on #340
Also, can you please report the bug related to `investpy.get_stocks_overview()` in a separate issue? As all the other issues were solved for the latest release, even though the issue with the overview shouldn't be happening...

[2021-04-13 17:27] alvarobartt commented on #340
Here's the output from the terminal with `investpy v1.0.6`:

[code]

[2021-04-13 17:37] yoyocasta78 commented on #340
Hi Alvaro I reinstalled the new package (pip install investpy==1.0.6) and sadly, the error continues

df = investpy.get_stock_historical_data(stock='AAPL',country='United States',from_date='01/01/2010',to_date='01/01/2020')

  File "C:\Users\Ricardo Castañeda\AppData\Local\Programs\Python\Python39\lib\site-packages\investpy\stocks.py", line 615, in get_stock_historical_data

    raise RuntimeError

[2021-04-13 17:49] alvarobartt commented on #340
@yoyocasta78 can you please check if you have access to Investing.com from your region? Can you also test any other data retrieval function like `investpy.search_quotes()`?

Also, where are you from? Are you using a VPN? Do you have a stable internet connection?

Thanks!

[2021-04-13 18:45] yoyocasta78 commented on #340
Hi Alvaro.

Answers bellow

can you please check if you have access to Investing.com from your region?

I have full access to investing .com

Also, where are you from?

I’m from Colombia

Are you using a VPN?

No, I’m not using a VPN

Do you have a stable internet connection?

Yes, I have a stable internet connection

With function investpy.search_quotes

I used the  function investpy.search_quote

[2021-04-13 19:07] alvarobartt commented on #340
Are you familiar with Python packages? Do you think you can include some print statements in the source code of your installed investpy version?

Another thing you could do for the sake of simplicity is:

1 - Fork `investpy` in GitHub.
2 - In the URL of your fork just replace `github.com` with `github1s.com`.
3 - Then, in the new window just click `Open in GitPod...`.
4 - Now modify the code inclu

[2021-04-13 21:14] ZexuanAIE commented on #111
Sorry, my bad. I upgraded local version but forgot to update the requirements.txt, so the docker image was not upgraded. Now everything works. Thanks.

[2021-04-14 00:34] supernooba commented on #340
@alvarobartt Hi Alvaro, I've encountered the same error "RuntimeError: ERR#0092: no data found while retrieving the overview from Investing.com"

When executing these:
get_cryptos = investpy.crypto.get_cryptos()
get_cryptos_overview = investpy.crypto.get_cryptos_overview(as_json=False, n_results=10)

Using:
Name: investpy
Version: 1.0.3
Summary: Financial Data Extraction from Investing.com with Py

[2021-04-14 02:11] yoyocasta78 commented on #340
Alvaro,  I don’t know how to do this.

Sorry,  but if you send me an example with more details, maybe I can do it

I build a lot of functions based in investpy, for me, It  would be a big loss if I cant find a solution

Ricardo

De: Álvaro Bartolomé ***@***.***>
Enviado el: martes, 13 de abril de 2021 2:07 p. m.
Para: alvarobartt/investpy ***@***.***>
CC: yoyocasta78 ***@***.***>; Mention ***@***.

[2021-04-14 02:43] sirinath commented on #341
This is available at: https://www.investing.com/stock-screener/

[2021-04-14 02:45] sirinath commented on #342
I am looking to retrieve portfolios and data and also manipulate portfolios at: https://www.investing.com/portfolio/

[2021-04-14 06:15] alvarobartt commented on #340
Hi again @yoyocasta78, you are using `investpy v1.0.3`, you need to upgrade it to `investpy v1.0.6` which is the latest available version as I told you previously.

To do that just use the command:

[code]

Then everything should work! :muscle:

[2021-04-14 13:15] yoyocasta78 commented on #340
Hi Alvaro, sadly this is not the problem, since you told me I upgraded my investpy version, first at 1.0.5 and later (2 days ago), at 1.0.6 version.

I send you and image with the information.

The main idea here is with the new version of investpy (1.0.6) the old functions and codes still not working.

Pls help me

Ricardo

De: Álvaro Bartolomé ***@***.***>
Enviado el: miércoles, 14 de abril de 2

[2021-04-14 13:51] alvarobartt commented on #340
Sorry @yoyocasta78, I mentioned you, while the recipient was supposed to be @/supernooba :weary: Sorry for that!

Anyway, I've run the tests on different VMs and everything seems to be working fine... Can you give me more details?

[2021-04-14 16:54] alvarobartt commented on #331
Hi @agftrading, thanks for reporting this issue! :+1:

I've labeled it not just as a bug but also as an Investing.com issue, as I think that the bug comes from the site and not from the Python package. Anyway, I'll reproduce the issue and try to solve it as it may also be that Investing.com updated the values from the timezones, which means that either the API method or the allowed parameters (so

[2021-04-14 17:00] alvarobartt commented on #325
Hi @lucas-leme, if you check the `investpy.search_funds()` documentation you will see that the function just searches between the funds stored in the static file `resources/funds.csv`, which means that this function is not searching new funds.

In order to do so, just use the `investpy.search_quotes()` function, this is a simple example that may be useful to you:

[code]

Let me know whether this

[2021-04-14 17:04] alvarobartt commented on #320
Hi @IgorEvsin, thanks for the kind words! :fire:

Sure, I'll work on this new feature for the `v1.1.0` release, which should come out before Summer 2021! Stay tuned and keep an eye on this issue as I'll link all the commits I do to tackle it to this issue.

[2021-04-14 20:09] lucas-leme commented on #325
Hi @alvarobartt, it worked for me! Thank you very much. I didn't know about the `investpy.search_quotes()` module, it will help me a lot.

[2021-04-15 04:20] guberm opened #346 "technical.moving_averages: Getting the error at the request for Canada"
Request: investpy.technical.moving_averages(name='WELL', country='Canada', product_type='stock', interval='daily')

Error: Exception has occurred: AttributeError
'float' object has no attribute 'encode'

** For the United States is working correctly

[2021-04-15 07:23] ymyke opened #347 "Add lu1152091168 to funds.csv"
Could you add this fund to funds.csv?

`luxembourg,Ubs (lux) Equity Fund - China Opportunity (usd) P-mdist,0P000159H2,lu1152091168,1160209,UBS Fund Management (Luxembourg) S.A.,LU1152091168,equity,USD`

If you prefer a PR, I can create one.

[2021-04-15 08:41] #325 closed

[2021-04-15 08:42] alvarobartt commented on #346
Hi @guberm, thanks for the report, I'll check this now! :fire:

[2021-04-15 08:49] #346 closed

[2021-04-15 12:38] guberm commented on #346
I did the update, but still getting the error :-( sorry for that

I'm not sure if that relevant, but you didn't update technical.py and stock.py

![image](https://user-images.githubusercontent.com/577099/114869967-9a6ec180-9dc5-11eb-8644-d081875c0f54.png)

`Traceback (most recent call last):
  File "c:\Users\michael.guber\Desktop\investpy0.py", line 48, in <module>
    techData = get_stock_tech_da

[2021-04-15 12:40] guberm opened #348 "technical.moving_averages: Getting the error at the request for Canada"
I did the update, but still getting the error :-( sorry for that

I'm not sure if that relevant, but you didn't update technical.py and stock.py

![image](https://user-images.githubusercontent.com/577099/114869967-9a6ec180-9dc5-11eb-8644-d081875c0f54.png)

`Traceback (most recent call last):
  File "c:\Users\michael.guber\Desktop\investpy0.py", line 48, in <module>
    techData = get_stock_tech_da

[2021-04-15 14:10] alvarobartt commented on #348
Can you check whether you updated the `investpy` version or not? As I checked everything and it worked properly...

Thanks! :+1:

[2021-04-15 14:27] guberm commented on #348
C:\Users\michael.guber>pip install --upgrade git+https://github.com/alvarobartt/investpy.git@master
Collecting git+https://github.com/alvarobartt/investpy.git@master
  Cloning https://github.com/alvarobartt/investpy.git (to revision master) to c:\users\michael.guber\appdata\local\temp\pip-req-build-03y9ofsj
  Running command git clone -q https://github.com/alvarobartt/investpy.git 'C:\Users\michae

[2021-04-15 15:30] alvarobartt commented on #348
And still not working after that? 🤨 Let me check it in a while then, but both the tests that I manually run and the `pytest` ones seem to be working fine...

[2021-04-15 16:14] guberm commented on #348
Very strange :-( did you try to run my query?

[2021-04-15 17:08] sirinath opened #349 "Getting stock not found error when it is there"
I get

[code]

When the stock ASPM is there: https://www.investing.com/equities/aitken-spence-plantation-mana

[2021-04-15 17:21] alvarobartt commented on #348
Yes, indeed check this out:

[code]

[2021-04-15 17:34] alvarobartt commented on #349
Hi @sirinath, currently `invespty` has a big issue, which is related to the static data since it needs to be updated with some sort of frequency but due to the Investing.com limitations is hard to do and takes too long (I may need to rent a server with the [buymeacoffee]() donations so that I can create a script that updates those files lets say once a week or once every two weeks)...

So on, curr

[2021-04-15 22:14] yoyocasta78 commented on #340
Hi Alvaro,

I don’t have more details to share with you, I’ve done my best trying to solve the problem. It’s why I like to propose you a video or conference call where I can show you “live” my Vscode and the errors when I run the codes.

Que te parece la idea, lo hacemos y solucionamos esto?

At what time and day works for you?

Saludos

Ricardo

De: Álvaro Bartolomé ***@***.***>
Enviado el: miérc

[2021-04-16 01:41] supernooba commented on #340
Thanks Alvaro, that worked like a charm!

[2021-04-16 04:34] sirinath commented on #349
Can I use search to get all stocks in Sri Lanka?

[2021-04-16 05:44] alvarobartt commented on #349
Yes you can @sirinath as long as all the Sri Lanka stocks are available in Investing.com :+1:

[2021-04-16 08:21] sirinath commented on #349
Can you make `text` optional so one can do something like:

[code]

[2021-04-16 08:46] alvarobartt commented on #349
@sirinath, sorry to inform you that that's not the way to use the search engine neither from Investing.com nor from `investpy`... So I cannot remove the `text` parameter and if you leave it empty the function will crash!

The other option is that you go with `investpy.get_stocks_list(country='Sri Lanka')` so as to retrieve all the symbols for the static stocks in `stocks.csv`. That's the only opti

[2021-04-16 08:53] alvarobartt commented on #340
Hi @yoyocasta78 that won't be possible now as my time is really limited now, but I'll try to help you anyway! :muscle:

I think that you are using Windows as OS, so I'll include the GitHub Actions CI not just for `linux`, but also for `darwin` and `win32` so that I can ensure that `investpy` works perfectly in any of the mentioned OS.

We have run into some issues during the Windows installation/u

[2021-04-16 14:59] sirinath commented on #349
Search also cause issues with the following companies:

[code]

[2021-04-16 15:01] sirinath commented on #349
Also `investpy.get_stocks_list(country='Sri Lanka')` gives 300 results. The stock screen on the website gives 309 results.

[2021-04-16 16:58] agftrading commented on #331
That is great.  Thanks!

[2021-04-17 05:01] sirinath opened #352 "Get or Search Stock by ISIN and S/N"
Can the ability to use ISIN and S/N for stocks added:

[code]

https://www.investing.com/equities/ceylon-tea-services-company-profile

I am more interested in the S/N this is close to the actual CSE ticker which is `CTEA.N0000`.

[2021-04-17 12:22] sirinath opened #353 "Cache Requested Data"
Data between market close and open cannot change. So these data items can be cached on 1st request.

[2021-04-19 07:25] snvv opened #355 "Failed to scrap stock data"
Hello
I tried today to download stock prices and the program failed with the following message:

Traceback (most recent call last):

  File "/home/sotnik/untitled0.py", line 19, in <module>
    df = investpy.get_stock_recent_data(stock='bbva', country='spain', as_json=False, order='ascending')

  File "/home/sotnik/.local/lib/python3.9/site-packages/investpy/stocks.py", line 346, in get_stock_rece

[2021-04-19 11:02] angel-mi-alvarez opened #356 "Failure to retrieve investing.com exiting mutual funds by "isin""
Hi Alvaro

the search_funds gives an error when trying to search some existing funds by 'isin' e.g. couple of examples:

ES0124143001
--
ES0124143019

running this Python code you can reproduce the issue and see the error

search_results = investpy.funds.search_funds(by='isin', value='ES0124143001')
search_results.head()
---------------------------------------------------------------------------
R

[2021-04-20 18:46] cunnial opened #357 "US500 Futures"

[2021-04-20 18:52] cunnial commented on #357
Hi, loving the tool so thanks a stack! I am however really struggling to pull out S&P500 futures data "live" price (or just the latest price. the only way I can pull it is using the search function and "retrieve_historical_data(...) which intuitively doesn't seem correct? I have read the docs and seen the examples but cannot fund anything on functions that call Futures data?

I have been using the

[2021-04-20 22:27] cunnial commented on #357
@alvarobartt  hi I noticed there is a pull request for this, be awesome if we could get it pushed through.

"Added support for Index Futures #185"

[2021-04-21 17:05] sirinath commented on #349
When I use:

[code]

I get error for all tickers.

[2021-04-21 23:56] milesziemer commented on #355
Experiencing the same issue

[2021-04-25 00:25] guberm commented on #348
C:\Users\michael.guber>pip install --upgrade git+https://github.com/alvarobartt/investpy.git@master
WARNING: Value for scheme.headers does not match. Please report this to <https://github.com/pypa/pip/issues/9617>
distutils: c:\users\michael.guber\appdata\local\programs\python\python39\Include\UNKNOWN
sysconfig: c:\users\michael.guber\appdata\local\programs\python\python39\Include
WARNING: Additio

[2021-04-27 10:01] markus080402 opened #361 "investpy.get_stock_earnings() broken"
Hi!

It seems as the new html pages at investing.com has broken the `function investpy.get_stock_earnings(ticker, country)` :

[code]

Thanks and regards,
Markus

[2021-04-27 15:29] GMScodes opened #362 "index futures historical data"
Kindly consider adding pull request for index futures historical data as this is useful for tracking index when main markets are closed. If you add this feature, it would be of enormous help to me :) I am sure it will be of help to other people as well. Thanks & regards in advance.

[2021-04-28 09:16] Giezzy commented on #355
I tried making requests directly and I'm getting 403 errors (maybe investing is forbidding the searches?)

[2021-04-28 09:41] alvarobartt commented on #355
BTW another option may be that the stock that you are querying is failing, so please can you all share the code that you used so that I can reproduce the issue? Thanks again 👍🏻

[2021-04-28 09:43] alvarobartt commented on #361
Hi @markus080402, can you please share the exact `investpy` call that you are using (including the parameters) so that I can reproduce it?

As I've just run some manual tests and the `pytest` ones and everything seems to be working fine as I just mentioned in #355 ... So maybe the issue is related either with the `investpy` version that you are using or with the function call!

[2021-04-28 09:51] alvarobartt commented on #357
Hi @cunnial! Thanks for your kind words :fire:

Yes, I'm aware of that PR #185, I'll review it whenever I have more free time as now I'm pretty busy 😩, in the meantime, you can keep on using the `investpy.search_quotes()` function, but for the sake of simplicity as you just want to retrieve the live value, you can use `search_result.retrieve_recent_data()` as it's faster than calling `search_resul

[2021-04-28 09:55] markus080402 commented on #361
Hi @alvarobartt, running latest version of investpy,  here are the example commands:

ticker, country = ('G5EN', 'sweden')
investpy.get_stock_earnings(ticker, country)

Thanks and regards,
Markus

[2021-04-28 09:57] alvarobartt commented on #356
Hi @angel-mi-alvarez, the function `investpy.search_funds()` just searches between the indexed funds in the static file `funds.csv` which is incomplete and not up to date... But for those financial products that are missing in the static files (which is a known error as Investing.com indexing is not that good which makes scraping really hard) you can use the function `investpy.search_quotes()` so

[2021-04-28 10:04] alvarobartt commented on #361
Ok thanks, let me check! :fire:

[2021-04-28 10:06] alvarobartt commented on #361
Thanks! :fire: So... you are using this fork? https://github.com/alvarobartt/investpy/pull/249

As that function is not included in the `investpy` master branch, so the fork that you are using may be outdated...

[2021-04-28 13:39] snvv commented on #355
Thank you alvarobartt
The problem was the old investpy version in my PC.
In fact the problem caused from minicoda.
Regards
Sotiris

[2021-04-28 13:39] #355 closed

[2021-05-02 14:56] aktastunc opened #364 "ERR#0015: error 503, try again later"
Hello,

I have been using same code for almost a year. But nowadays I am getting below error code:

"ERR#0015: error 503, try again later"

I tried simple examples from the documentation but couldn't get any result. If you can help me, I would be very pleased. I also attached a screenshot from the error of a simple code.
<img width="583" alt="Screenshot" src="https://user-images.githubusercontent.

[2021-05-03 06:07] kungouf commented on #284
Hello, i saw an update on the ticket, i would like to know if the price and timestamps are now both available on technical.py many thanks Alvaro!

[2021-05-04 14:32] MaximilianSoeren commented on #364
Hey there, I have been developing with investpy recently too, and I started getting this error as well. Even after just one request through investpy.get_stocks_dividends() it already gives me this error. Maybe this is a new one?

[2021-05-04 19:05] caiovms commented on #364
I believe there is something wrong indeed, I am getting the same error:

![image](https://user-images.githubusercontent.com/5957094/117056255-7c282180-acf2-11eb-9028-0ee7ca266c2b.png)

[2021-05-04 19:47] cunnial commented on #357
Thanks! I'll run through this tonight. No rush on the amendment I'm sure you're super busy!

[2021-05-04 20:03] volantines commented on #364
¿Investing API it's down?

https://www.investing.com/instruments/HistoricalDataAjax

![image](https://user-images.githubusercontent.com/4184186/117062939-163b9a00-acf2-11eb-8530-d57ffbb1dfe7.png)

[2021-05-04 20:16] adarshpugalia opened #365 "Updates to static files for stocks and mutual funds."
Static files for stocks and mutual funds (stocks.csv etc) have not been updated in 13 months. Could you please push a newer version for these files?

Thanks in advance! :)

[2021-05-04 22:45] LuccaPrado commented on #364
Investing.com is really unstable/almost off the entire day today... It would be nice if we had some "caching" on the client side, as situations like that wouldn't be so frequent and impacting.

[2021-05-05 06:37] w0wka91 commented on #365
Anyone knows how to generate these files? I only found the stock screener (https://www.investing.com/stock-screener/) but it is not returning the isin

[2021-05-05 18:12] #348 closed

[2021-05-05 22:34] dapaexp opened #368 "Fail to retrieve all requested etfs"
Hi, I'm encounterign some problems in retrieving al the requested etf. In this case I just retrieve 4 over 5 etfs.

`available_etfs = ip.etfs.get_etfs(country='italy')
available_etfs = available_etfs.rename(columns={'isin': 'isincode'})
isins = ['IE00B4L5Y983','IE00B4WXJJ64','IE00BYZTVT56','IE00B4WPHX27','LU0629459743']
etfs_target = available_etfs.loc[available_etfs['isincode'].isin(isins)]
etfs_

[2021-05-05 22:57] guberm commented on #198
@wenny0501 please try the solution for my bug, I think it will help you #https://github.com/alvarobartt/investpy/issues/346

[2021-05-06 05:53] dapaexp commented on #368
Looks like it is missing IE00B4WPHX27

[2021-05-06 09:30] alvarobartt commented on #198
Hi @wenny0501, thanks for reporting this issue!

This was already solved in one of the latest `investpy` releases, so please update your version to the latest one (which currently is `investpy v1.0.6`) :fire: That will solve the issue regarding the Canadian stocks due to a `pandas` issue, as it sets 'NA' as the default NaN value if you don't specify that the conversion from 'NA' to `np.nan` is not

[2021-05-06 09:33] alvarobartt commented on #298
Hmm, suspicious... So it seems that Malaysia is not listed among the Investing.com country filters... Let me check and get back to you with a response! :detective:

[2021-05-06 09:35] alvarobartt commented on #198
Also, feel free to try this script I just created for the Canadian stock you sent me!

[code]

[2021-05-06 09:35] #198 closed

[2021-05-06 09:46] alvarobartt commented on #216
Hi @arthur1993 :fire:

As you may know, the `investpy.search_quotes()` function uses the Investing.com search engine so as to retrieve any financial product, but as you may know, the `investpy.get_funds_historical_data()` (applies to any data retrieval function in `investpy`) retrieves the information from Investing.com based on the IDs stored in the static CSV files.

That means that `investpy.se

[2021-05-06 09:46] #216 closed

[2021-05-06 09:48] alvarobartt commented on #212
Hi @SBSiuBo, thanks for the kind words! :fire:

I've just checked the script you sent me as it follows:

[code]

But I'm also running into an `IndexError` exception, so let me further explore this issue so as to identify which is the root of the problem! Thanks for your patience and sorry for the delayed response...

__:pushpin: Make sure that you are using the latest investpy version! `investpy v

[2021-05-06 09:50] alvarobartt commented on #212
P.S. Since the latest `investpy` release you can now set `n_results=1` so that you just receive a single result, which is the first/top result returned by the Investing.com search engine, and, usually, the one you are looking for so that you don't need to loop over the list of results, as you can see in the example above!

[2021-05-06 09:57] alvarobartt commented on #212
Ok, @SBSiuBo it seems that there's no "recent" data available at Investing.com as you can see in https://www.investing.com/equities/burwill-holdings-ltd-historical-data, so the issue with the `SearchObj.retrieve_recent_data()` is not with the function itself, but with Investing.com.

I'll include an error message in the next release so that if there's no information available in the `retrieve_rece

[2021-05-06 10:00] alvarobartt commented on #368
Hi @dapaexp :fire:

As you may know, the `investpy.search_quotes()` function uses the Investing.com search engine so as to retrieve any financial product, but as you may know, the `investpy.get_etfs_historical_data()` (applies to any data retrieval function in `investpy`) retrieves the information from Investing.com based on the IDs stored in the static CSV files.

That means that `investpy.search

[2021-05-06 10:00] #368 closed

[2021-05-06 10:01] alvarobartt commented on #368
Also, the warning that you shared above tells you that the ETF is available in more than one `stock_exchange`, so the information may differ between all the available stock exchanges, but that's simply a warning so that you keep it in mind! 👍🏻

[2021-05-06 10:06] alvarobartt commented on #368
BTW here's my recommendation to retrieve the historical data from all the ISIN codes you shared above, feel free to use it or modify it according to your needs! :fire:

[code]

So that `results` is a Python dictionary where each key-value pair is the ISIN and the historical data (as a `pandas.DataFrame`) in the introduced date range for each ETF!

__:pushpin: And, again, please check that you are

[2021-05-06 10:09] alvarobartt commented on #364
Hi everyone @volantines, @LuccaPrado, @aktastunc, @caiovms, and @MaximilianSoeren :hugs:

As some of you say, Investing.com was experiencing some errors yesterday, but today it seems to be working fine! There's really nothing I can do with that as I'm not related to Investing.com at all so there's nothing I can do to solve this or cache the data as some of you suggested...

I'll include some funct

[2021-05-06 10:09] #364 closed

[2021-05-06 10:11] alvarobartt commented on #364
BTW this has happened a few times during 2021, nothing too critical, as AFAIK Investing.com is updating the API, but I'm not aware of which changes, etc.

I'll be ready to keep `investpy` up to date so that it's as consistent as possible! :muscle:

[2021-05-06 10:38] coal2clean opened #369 "ConnectionError: ERR#0015"
Hi! Thanks so much for providing this package.

I was trying to query "Carbon Emissions" futures data but I constantly get this connection error. `ConnectionError: ERR#0015`

Its full_name="Carbon Emissions Futures"
https://www.investing.com/commodities/carbon-emissions

[2021-05-06 19:53] LuccaPrado commented on #364
@alvarobartt what I said about caching is on client side, like, I get the funds information and the data is stored on my machine, so that, if the next call to the same endpoint fails, it can show the locally saved previous data with some anotation that It could be old.

[2021-05-06 19:55] dapaexp commented on #368
Thanks a lot!!

[2021-05-06 19:58] mehmetayhantr commented on #369
I'm getting an ERR#0015 error too.

[2021-05-07 03:17] mrkgoh commented on #298
@alvarobartt the module is working fine for most Malaysia stocks only a few stocks are experiencing this bug

[2021-05-07 07:35] alvarobartt commented on #369
Hi @coal2clean and @mehmetayhantr!

The error you are showing above is directly related to Investing.com (on the server-side) so I can't do anything about it since I'm not related at all with Investing.com so there's no way I can fix that... :weary:

It seems that Investing.com is failing these days but I don't know the reason yet!

Some other users reported this issue already during the last day

[2021-05-07 07:36] alvarobartt commented on #369
I'm closing this now, even though I'll try to ask Investing.com the reason for these issues, and how long is this maintenance or unstable status going to take! :+1:

[2021-05-07 07:36] #369 closed

[2021-05-07 07:37] alvarobartt commented on #298
Sure, I guess that the error is just happening whenever you are using `investpy.search_quotes()`, right?

[2021-05-07 08:39] alvarobartt commented on #349
Ok, let me check that! Make sure that you are properly formatting the date as `day/month/year` e.g. today's date in this format is `07/05/2021`.

I'll run a script to check the following list of financial products just as you mentioned above:

[code]

[2021-05-07 08:43] alvarobartt commented on #298
Hi @mrkgoh, I've just updated the list of countries in https://github.com/alvarobartt/investpy/commit/26a61cafa9302ecc4eeffa6bf72fc5a0cd8c8ff8 with the script available at [scripts/search_filters.ipynb](scripts/search_filters.ipynb)!

I'm planning to include all the scripts so that any user can generate/update any of the static values, in order to improve the update frequency so that the users don

[2021-05-07 08:44] alvarobartt commented on #298
Feel free to install the latest version from the `master` branch and check that `investpy.search_quotes()` works as expected for all the financial products available in Malaysia!

[code]

[2021-05-07 08:44] #298 closed

[2021-05-07 08:46] alvarobartt commented on #365
Hi @adarshpugalia and @w0wka91! :hugs:

I'm preparing some Jupyter Notebooks that I will include in the [scripts/](scripts/) directory so that any user can generate/update the static data in order to help me with it as in some scenarios it takes a lot of time!

Expect all the scripts to be available during this month, I'll keep this issue open in the meantime.

[2021-05-07 08:48] alvarobartt commented on #365
Also, so as to search for the missing financial products in the static files, please check `investpy.search_quotes()` as that function uses the Investing.com search engine so that you can retrieve all the data from any financial product available at Investing.com!

More information available at [Wiki - `investpy.search_quotes()`](https://github.com/alvarobartt/investpy/wiki/investpy.search_quotes(

[2021-05-07 08:59] alvarobartt commented on #362
Hi @GMScodes, thanks for this feature proposal! :fire:

Currently, you can retrieve the index futures using `investpy.search_quotes()` even though there's no static data for those yet, this function uses the Investing.com search engine so that you can access any Investing.com financial product!

Here's an example of how to use it:

[code]

More information available at [Wiki - `investpy.search_quo

[2021-05-07 09:02] alvarobartt commented on #362
@GMScodes also, if you want to retrieve more financial products, feel free to increase the `n_results` value so that instead of receiving a single `investpy.SearchObj` class instance, you receive a `list` of `investpy.SearchObj` class instances.

Another tip is that before retrieving the information you can print each search result so as to see the `dict` with its values so as to check that it's t

[2021-05-07 09:10] alvarobartt commented on #357
Any updates on this @cunnial?

BTW, you should update your `investpy` version to the latest one which is the `v1.0.6` right now! :fire:

As you don't need to access the first element of the `list` whenever you call `investpy.search_quotes()` but you just one the first result, you can just set `n_results=1` and you'll get an `investpy.SearchObj` class instance rather than a list of instances.

Here

[2021-05-07 09:10] #357 closed

[2021-05-07 09:12] alvarobartt commented on #353
It may be related to https://github.com/alvarobartt/investpy/issues/364, I'll get back to this in the next release! :fire:

Lately Investing.com it's been failing with `HTTP 503 Service Unavailable` and this may help!

[2021-05-07 09:13] alvarobartt commented on #364
Sure @LuccaPrado, thanks for the proposal! Please from now on, track this issue in https://github.com/alvarobartt/investpy/issues/353 :hugs:

I'll get back to it once I complete the upcoming release!

[2021-05-07 09:18] alvarobartt commented on #352
Hi again @sirinath, as I told you previously you can use `investpy.search_quotes()` to do so, rather than waiting for me to implement the input type selection as mentioned some time ago in https://github.com/alvarobartt/investpy/issues/147 (as it was requested by a lot of users!)

__:pushpin: Make sure that you are using the latest investpy version! `investpy v1.0.6`__

Here's an example of how to

[2021-05-07 09:18] #352 closed

[2021-05-07 09:22] alvarobartt commented on #347
Hi @ymyke :fire: I'm currently developing the scripts so that any user can automatically generate/update the static files so that any user can easily create a PR with the updated CSV either the complete version of it or just per country which may be easier!

Let's say you want to update the Luxembourg funds as that's the main functionality that you use and you don't want to rely that much on `inve

[2021-05-07 09:24] alvarobartt commented on #347
Also, remember that in the meantime you can use `investpy.search_quotes()` to retrieve the data of the financial products missing in the static CSVs.

__:pushpin: Make sure that you are using the latest investpy version! `investpy v1.0.6`__

[code]

To further explore the functionality of `investpy.search_quotes()` please check [Wiki - investpy.search_quotes()](https://github.com/alvarobartt/inves

[2021-05-09 16:35] plutoBase opened #370 "US Index data not available"
Just doing some very simple testing trying to get data out for an index

`df = investpy.get_index_recent_data(index='Dow Jones Software',
                                    country='United States')
print(df.head())`

the symbol is: DJUSSW

Can you help me to understand the problem, please?

Many thanks

[2021-05-09 20:53] dapaexp opened #371 "Italian ETF: object has no attribute 'retrieve_historical_data', but which?!"
Hi, I'm trying to extract all the Italian ETFs searching by ISIN

`isins_list = ['DE0002635265','DE0002635299',......1134 ISIN HERE......... ]
isins=pd.Series(isins_list)
results=dict()
information=dict()

for isin in isins:
    search_result = investpy.search_quotes(text=isin, products=['etfs'], countries=['italy'], n_results=1)
    results[isin] = search_result.retrieve_historical_data(from_date

[2021-05-10 11:19] alvarobartt commented on #371
Hi @dapaexp, are you using the latest `investpy` version? As I think that you may be using `investpy v1.0.5`, where `investpy.search_quotes(..., n_results=1)` was returning a list of `SearchObj` class instances rather than just one instance.

Also, note that for consistency you should surround the call to `investpy.search_quotes()` with a `try: ... except Exception as e: ...` code block so as to m

[2021-05-10 11:21] alvarobartt commented on #371
Check the `investpy` version as:

[code]

If you have another version, update the package with the following command:

[code]

[2021-05-10 11:29] alvarobartt commented on #370
Hi @plutoBase, some financial products are not available among the `investpy` static files (CSVs) which means that either the financial products were not available when I generated those files from Investing.com, the Investing.com indexing does not work as expected so some financial products are not "retrievable".

The solution to this both from the web and using `investpy` is to use the search en

[2021-05-10 11:29] #370 closed

[2021-05-10 13:03] plutoBase commented on #370
Many thanks!

[2021-05-13 13:16] dapaexp commented on #371
Great! Thank you! Finally I managed to write it like this..

`#isins_list = ['DE0002635265','DE0002635XYZ','DE0002635307','DE0005933931','DE000A0D8Q07','IE00B23D8S39','FR0010655746','FR0010655761','IE00B7LW6Y90']
isins_list = ['DE0002635265','DE000263RUCK','DE0002635307','DE0005933931','DE000A0PPPPRT','IE00B23D8S39','FR0010655746','mariamaria','IE00B7LW6Y90']
isins=pd.Series(isins_list)
notfoundis

[2021-05-13 16:45] #371 closed

[2021-05-13 17:30] justin-rohan opened #372 "Unable to Pull ertain categories using Economic Calendar"

[2021-05-13 17:30] #372 closed

[2021-05-13 19:29] justin-rohan opened #373 "Issue with Pulling Certain Categories in Economic Calendar"
Hello, when trying to pull information for certain categories in the economic calendar, it appears as if the filtering does not work. For example, I have found that I cannot filter by Central Bank data (it returns the same thing as when I don't filter by category at all) but can filter by employment data.

`>>> data = investpy.economic_calendar(time_zone = "GMT", countries = ["Sweden"], categories

[2021-05-14 12:40] GMScodes commented on #362
Thank you so much!!!

[2021-05-15 01:09] guberm opened #374 "Getting the error for some symbols"
Python 3.9.1 (tags/v3.9.1:1e5d33e, Dec  7 2020, 17:08:21) [MSC v.1927 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

  period  sma_value sma_signal  ema_value ema_signal
0      5       7.23        buy       7.24        buy
1     10       7.22        buy       7.22        buy
2     20       7.16        buy       7.17        buy
3     50       7.01

[2021-05-15 15:17] ribboo commented on #362
Is there any way to get

Is there any way to get "last" price when using search quotes? As there is no 'get overview' for search results, I haven't managed to retrieve the last price for a search quote.

[2021-05-20 15:53] enghseb opened #375 "_recent_data does not give close, but price"
After experimenting with getting the close for US10Y, I've come to the conclusion that the information shown when using:
investpy.bonds.get_bond_recent_data("U.S 10Y", as_json=False, order='ascending', interval='Daily')

Is not the close, but rather the value that's shown on the following page as "price":
https://www.investing.com/rates-bonds/u.s.-10-year-bond-yield-historical-data

While it'd mak

[2021-05-21 18:28] caiovms opened #376 "Ignore Weekend"
Hello everyone, in my business, I need to obtain data from various indexes, for each day, within a range of dates.

I noticed that some indexes, like others for example, return data for the weekends, others like dollar, ignore the weekends.

I didn't find anything in the documentation that was related to this, so I leave the question:

Is there a parameter that you can skip data on weekends?

If n

[2021-05-21 19:09] #376 closed

[2021-05-25 14:27] kamarani1989 commented on #292
sir,
any update on this issue, kindly provide the alternate solution

[2021-05-26 07:24] alvarobartt commented on #292
Ok, I think I get your point now! So the issue here is that when looking for the Ticker Futures, Investing.com provides you the historical data with duplicated dates since there's a unique value per row for the ticker name so that you want to filter those by ticker?

Can you share something as simple as:

[code]

[2021-05-26 07:36] alvarobartt commented on #292
Also, please don't forget to share the Investing.com URL of the screenshot you sent me so that I can work on it! 👍🏻

[2021-05-26 17:36] kamarani1989 commented on #292
import investpy

search_result = investpy.search_quotes(text='Turmeric Futures', products=['commodities'], countries=['india'], n_results=1)
print(search_result)

recent_data = search_result.retrieve_recent_data()

recent_data

got the data for ntmc1 ,how to get  the data for ntmc2,ntmc3---future tickers(2nd,3rd month continuous)

[2021-05-28 14:46] alvarobartt commented on #375
Hi @enghseb, you are right! :hugs:

I'll change that so that the output does not contain `Close` but `Price` as well as the `Change %` as that's more accurate! So sorry in advance, I didn't even realize... I'll try to solve this later this week.

[2021-05-28 14:47] alvarobartt commented on #375
BTW I think that the same happens with `investpy.search_quotes` when retrieving data from bonds, as well as in `investpy.get_bond_historical_data` :+1:

[2021-05-31 07:20] alvarobartt commented on #362
Hi @ribboo, note that the `Close` value of the current day if the market is still open, is the `Last` value as established by Investing.com. So this means that I can either implement a function `retrieve_last_value` for every `SearchObj` class instance or you can just `retrieve_recent_data` and then keep the last close value of the `pandas.DataFrame`.

Here's a simple example I hope you find usefu

[2021-05-31 07:21] alvarobartt commented on #362
__Note__: this issue will be closed once the `Index Futures` functions are implemented, and merged from the PR #185

[2021-05-31 07:25] alvarobartt commented on #374
Hi @guberm, thanks for spotting this issue!

In this case, the issue is obviously missing data in the static CSV files, but I think that I can easily solve it by replacing the static CSV files with the Investing.com search engine for the `technical` functions in `investpy`, so that the symbols are searched in Investing.com rather than just among the static ones!

I'll create a new branch of `maste

[2021-05-31 14:08] TimdBui opened #379 "Retrieving list of Top Executives"
Hello Alvaro,

Is there a way to retrieve the list of Top Executives in the Profile tab?
As you can see in the lower part of this tab, there is a section that list the names, age, since and title of the top executives at Microsoft.'
https://www.investing.com/equities/microsoft-corp-company-profile

Thank you for all your work, Alvaro!

[2021-05-31 14:58] alvarobartt commented on #379
Hi again @TimdBui, thanks for your issue!

So... I'm assuming that most of the stocks listed on Investing.com contain the Top Executives information under the Profile tab, right? As it seems to be like that I'll create the function just for stocks/equities, but please let me know whether I should also include it for funds, ETFs, etc if applicable. Hopefully, you'll have this available by the end o

[2021-05-31 19:33] TimdBui commented on #379
Hi Alvaro, I think Investing.com probably has a list of management for all companies and mutual funds. The information on management for ETF might be less useful because ETFs are managed by some algorithms.  If you can add mutual funds information that would be great.  I have a theory  (but I am not sure how useful it might be) that new management means new direction or new strategy for a company,

[2021-06-01 07:38] alvarobartt opened #380 "Include Windows in GitHub Actions CI"
Since the current CI pipeline runs just the tests for Ubuntu, and I run the tests locally in MacOS, I'll include Windows among the OS to test so that we are sure that `investpy` works as expected also on Windows to avoid some common problems that have happened in the past and that currently happen eventually...

[2021-06-01 18:29] Mrziiz opened #381 "different currency for get_stock_financial_summary and get_stock_information"
Can u help me with this issue, when I get information about market cup and others I can understand what the currency in use with search_stocks in column 'currency':

[code]

It's true, currencies are same!

<img width="1408" alt="Screenshot 2021-06-01 at 21 03 46" src="https://user-images.githubusercontent.com/60914683/120372344-c1566800-c31f-11eb-935b-df4b82a4c1cf.png">

But when I used get_stock

[2021-06-02 16:50] neodani opened #382 "Extract stocks from SP500, NASDAQ100 and NYSE"
A quick question, if you wanted to get the data of which stocks are listed separately in these 3 groups SP500, NASDAQ100 and NYSE could you get it with this python library?

It is that I have not seen a way to differentiate the actions of these indices.

Thank you very much

[2021-06-02 19:56] bigboy32 commented on #382
I think it only gives you the stocks from the csv file, i am working on a work-arround for it, to be able to download other stocks, and you can get the symbols of eoddata.com

[2021-06-03 03:52] FriendlyUser opened #383 "Premarket Data"
is there any way to use this library to grab premarket data?

If not I will probably just use selenium and python.

[2021-06-03 07:17] alvarobartt commented on #383
Hi @FriendlyUser as long as that information is available at Investing.com, I think so! Anyway, if Investing.com does not provide that information I don't think that will be possible... 😩

In case that Investing.com contains that information, can you share a screenshot of e.g. Blackberry Stock Price before the market opens and the hour/time-region whenever you take the screenshot?

As long as Inve

[2021-06-03 15:03] FriendlyUser commented on #383
The data is a little inconsistent

https://www.investing.com/indices/nq-premarket

But the main link that I would be interested in
https://www.investing.com/equities/pre-market

![image](https://user-images.githubusercontent.com/13860264/120667297-3457ff80-c442-11eb-8eda-6887c45860e3.png)

[2021-06-04 00:43] LeonardoRick opened #384 "[QUESTION] is there a way to listen do economic calendar updates?"
I wish to have realtime updates on news but I don't want to call the API every minute. Is there a way to listen to all new updates that's comming?

[2021-06-04 07:25] bigboy32 opened #385 "Dumb Question, but where did you get the stock IDs from"
Hi,

Where did you get the stock ids from?

Thanks,
Anant

[2021-06-05 08:54] alvarobartt commented on #384
Hi @LeonardoRick I'm not sure you can do that even through the Investing.com website, since I've checked and it seems that there's no socket opened while querying the economic calendar... 😖

So I think that you can just call the `investpy.economic_calendar()` function to get the updates... If you have any additional information or tips on how this could be done so as to avoid sending too many requ

[2021-06-05 08:54] #384 closed

[2021-06-05 09:00] alvarobartt commented on #372
Hi @justin-rohan, did you find a way to solve this? If not and just closed unintentionally, please lmk so that I can work on this, since it may be a bug!

[2021-06-05 09:02] alvarobartt commented on #373
Hi again @justin-rohan, so I guess that the issue you created and closed in #372 was created/closed by mistake and this is the original one I'm assuming.

I'll work on this issue, since the filtering may not be working... :confused:

[2021-06-05 09:06] alvarobartt commented on #385
Hi @bigboy32, not dumb at all mate! :+1: I got the IDs from the Investing.com site, since the metadata of the HTML contains those IDs so I just built some web scrapers to retrieve all the listed financial products in Investing.com, even though the Investing.com indexing is not that good and some products are missing in the listings provided, which means that you can just access them by querying th

[2021-06-05 09:06] #385 closed

[2021-06-05 09:09] alvarobartt commented on #383
@FriendlyUser, so... I'm assuming that you are looking for a function that retrieves the pre-market most active stocks, top gainers, and top losers, right?

Is the pre-market data available for every stock in a country, or just for the top ones as shown in the screenshot you sent me? I think I could include it as an Investing.com function, even though I don't really know how useful that informatio

[2021-06-05 09:10] alvarobartt commented on #376
Hi @caiovms, I saw that you already closed this issue, did you find the answer? If so, could you explain it?

As I think it may be useful for other `investpy` users! :hugs:

[2021-06-05 09:14] alvarobartt commented on #381
Hi @Mrziiz, thanks for spotting this issue!

You are indeed right, I should also include the currency value in the `investpy.get_stock_financial_summary` function, since it's not the same as the one retrieved for the stock... This seems to be an inconsistency from Investing.com as the user should expect the data on the same page to use the same currency among all the displayed data I guess... 😖

A

[2021-06-05 09:17] alvarobartt commented on #382
Hi @neodani, as @bigboy32 says, that filtering could just be done using the static files AFAIK, but maybe Investing.com provides a proper way to list all the stocks under the same group... I'm not really sure tbh, but if you find where that information is on Investing.com, please lmk so that I can include it in `investpy`! :hugs:

[2021-06-05 13:27] FriendlyUser commented on #383
I think it would only be available for america, I know that the canadian exchanges lacks premarket and after hours trading

[2021-06-05 14:52] LeonardoRick commented on #384
Yes, I taught some socket could be opened. But if its not, I have no idea too. Thanks for answering!

[2021-06-05 18:25] #380 closed

[2021-06-06 18:12] alvarobartt opened #388 "Update cryptos.csv and include option to select exchange"
As spotted in https://www.investing.com/crypto/bitcoin/markets, we shouldn't be retrieving the cryptos data from https://www.investing.com/crypto/bitcoin, but from the URLs of the different markets, since e.g. the main BTC website on Investing.com just contains some basic information, but does not follow the same pattern as all the other financial products, which was leading to some missing functi

[2021-06-06 18:21] alvarobartt commented on #388
Currently we are just retrieving the first row of the markets data for all the crypto currencies, which is the Investing.com website with the basic information / overview of each of the listed cryptos, and we now need to retrieve not just the first row but all the other ones, which in this case are all the available USD markets of each crypto.

![image](https://user-images.githubusercontent.com/36

[2021-06-07 11:04] Heractos opened #390 "Add currency to SearchObj.py"
Could you please add Currency to SearchObj.py -> def _data_retrieval(self, product, headers, params). This feature would be extremely helpful and from what I see, it should be an easy problem to fix. Thank you so much in advance.

[2021-06-07 11:08] alvarobartt commented on #390
Hi @Heractos, sure! I'll include it later this week for the upcoming release :fire: Thanks for the proposal!

[2021-06-07 12:50] sjborque opened #391 "Create technical data from cryptos"
To get technical values ​​with investpy:
data = investpy.technical_indicators (name = 'bbva', country = 'spain', product_type = 'stock', interval = 'daily')
data.head ()
Is it possible to get technical data from cryptos? Bitcoin, Cardano, etc.
What parameters should be indicated?

Thanks

[2021-06-07 15:38] caiovms commented on #376
Hello @alvarobartt, actually I didn't find anything, despite finding a relevant feature, I decided to deal with it on this side, but I think it's relevant to have parameters in investpy related to calendars and weekends...

[2021-06-08 08:49] mrtuborg opened #392 "investpy.technical_indicators could not find existing ETF"
Thank you for this great library.

I was trying to find some tech indicators for one of the etfs (I have checked this ETF on the site before using it with your library).

[code]

so here I have following values
item.symbol = 'ICBU'
item.country  =  'united kingdom'
item.name = 'iShares $ Intermediate Credit Bond UCITS ETF USD (Dist)'

But I am getting the following error message:
[code]

The first

[2021-06-09 07:07] alvarobartt commented on #392
Hi @mrtuborg thanks for your kind words! :hugs:

Yes, indeed there's a misalignment between the static files (used by all the `investpy` functions) and the results provided by the Investing.com search engine through `investpy.search_quotes`, so what you are trying above won't work unless the exact ETF that you are looking for is 1:1 aligned with any of the indexed ones in the static files...

This

[2021-06-09 07:10] alvarobartt commented on #392
__Note__ that the latest `investpy` version is `v1.0.6`, which changed the `investpy.search_quotes` functionality and fixed some bugs/issues there, so currently the recommended way to use it is:

[code]

So that you just retrieve the first result setting `n_results=1`, because the other way around you were retrieving all the matches (in this case maybe a few but if you look for e.g. APPLE the requ

[2021-06-09 07:13] alvarobartt commented on #391
Already discussed in https://github.com/alvarobartt/investpy/discussions/387 and properly described in https://github.com/alvarobartt/investpy/issues/392 (for ETFs but it also applied to cryptos and all the financial products available at Investing.com) :sparkles:

[2021-06-09 07:20] alvarobartt commented on #339
Hi again @tavasti I'll be fixing this so that it just returns a single value if `n_results=1` otherwise it will return a `list` even if that list just contains a single value, should that fix the issue/bug? Thanks!

[2021-06-09 07:23] alvarobartt commented on #340
Hi @supernooba and @yoyocasta78 I'll be closing this issue now since the Windows OS installation was included in the Github Actions CI and it works properly, as reported in https://github.com/alvarobartt/investpy/issues/380, so this issue should be closed now. :hugs:

Feel free to open another issue if you are still having problems on the installation of the latest `investpy` version! :+1:

[2021-06-09 07:23] #340 closed

[2021-06-09 07:28] alvarobartt commented on #172
Hi @typhoon71, @RamonGuixa and @Fetix :hugs:

I'll release `investpy v1.0.7` later this week including the currency while retrieving the information of any financial products while `investpy.search_quotes` as also proposed in https://github.com/alvarobartt/investpy/issues/390

Make sure to watch the current milestone so as to keep an eye on all the `investpy.search_quotes` functions that will come

[2021-06-09 07:29] #152 closed

[2021-06-09 07:43] tavasti commented on #339
Yeah, that sounds correct!

[2021-06-09 14:34] justin-rohan commented on #373
Hi @alvarobartt you are correct (the other issue was created by mistake).

[2021-06-09 14:37] alvarobartt commented on #374
Hi @guberm! I'll be solving this in the next release `investpy v1.0.7` so that you can retrieve the technical indicators of every financial product available in Investing.com through `investpy.search_quotes`, lets say something similar to the following piece of code:

[code]

[2021-06-09 14:42] alvarobartt commented on #212
We still need to handle the error whenever either the recent data or the historical data is not available in the selected date range...

[2021-06-09 14:43] guberm commented on #374
@alvarobartt thanks, do you have an expected date for the release?

[2021-06-09 14:47] alvarobartt commented on #374
Sure @guberm it will be later this week, so as to get notified of all the updates make sure to check the current milestone's progress, and if you want more details/insights feel free to follow me on Twitter at https://twitter.com/alvarobartt

[2021-06-09 14:52] guberm commented on #374
@alvarobartt you are the best, thanks :-)

[2021-06-09 21:01] TimdBui opened #393 "Historical EPS and Rev forecast and surprises"
Hello Alvaro, in the future, when you have time to add more features into investpy, could you also please add the historical EPS and Revenue forecast section? It helps to see how often companies meet or beat analysts expectations.  The site where I see the the information is in the Financials tab and the Earnings subsection.
This is an example of IBM earnings.
https://www.investing.com/equities/ib

[2021-06-11 05:48] jundaaaaa opened #394 "RuntimeError: ERR#0004: data retrieval error while scraping."
I was trying to pull some historical data from Equities and I hit the above error. Upon checking, I believe it could be due to bad request pull but not so sure. The following code was used to pull the data.

investpy.get_stock_historical_data(stock='GENT', country='Malaysia', from_date='01/01/2000', to_date='11/06/2021')

[2021-06-12 09:18] alvarobartt commented on #394
Hi @jundaaaaa I've just tested the function call that you sent and it works like charm! See below:

[code]

So the issue is probably from your side, probably due to an outdated `investpy` version, so please make sure that you install the latest version which is `investpy v1.0.6` :fire:

[code]

[2021-06-12 09:18] #394 closed

[2021-06-12 09:29] alvarobartt commented on #339
Hi @tavasti this has already been solved! :fire: So the current behaviour is:

[code]

This will be available in the next release `investpy v1.0.7` later this weekend once I complete all the issues included in the current milestone! :balloon:

[2021-06-12 09:43] alvarobartt commented on #375
Hi @enghseb I've been exploring this issue, and it seems that Investing.com changed the column name so that now instead of `Close` the column name is `Price`, I guess that changing from `Close` to `Price` is a major change since a lot of people is using `investpy` right now... :confused:

Anyway, what I'll do is including the `Change Pct` value since it is currently missing, if you have a more det

[2021-06-12 09:45] alvarobartt commented on #375
All this new features will be available in the next `investpy` release which will be `v1.0.7` and will come later this weekend :fire:

Stay tuned in the milestone so as to check the progress of all the issues/bugs/features that will be tackled during this sprint at https://github.com/alvarobartt/investpy/milestone/2

[2021-06-12 09:47] #339 closed

[2021-06-12 09:47] alvarobartt commented on #375
Here's a list with all the supported financial products from Investing.com and the historical/recent data they provide for each type of product:

- Stocks:https://www.investing.com/equities/apple-computer-inc-historical-data
- ETFs: https://www.investing.com/etfs/spdr-s-p-500-historical-data
- Commodities: https://www.investing.com/commodities/gold-historical-data
- Currency Crosses: https://www.i

[2021-06-12 10:17] alvarobartt commented on #212
__Note__ that currently I've just included the same exception trigger whenever the interval search is above 19 years, but for the next release I'll create custom errors so as to provide more information and let the user know whether the error comes from Investing.com or from `investpy` since currently just looking at the exceptions is hard to tell!

[2021-06-12 10:17] #212 closed

[2021-06-12 10:51] #375 closed

[2021-06-12 10:56] alvarobartt commented on #392
Hi @mrtuborg I'm glad to inform you that this feature has already been developed in the `dev` branch as part of the current milestone before the `investpy v1.0.7` release, so this feature will be available later this weekend so you just need to stay tuned for updates :fire:

The intended usage of this new functionality integrated with `investpy.search_quotes()` will be as it follows:

[code]

__No

[2021-06-12 10:56] alvarobartt commented on #391
Hi @sjborque I'm glad to inform you that this feature has already been developed in the `dev` branch as part of the current milestone before the `investpy v1.0.7` release, so this feature will be available later this weekend so you just need to stay tuned for updates :fire:

The intended usage of this new functionality integrated with `investpy.search_quotes()` will be as it follows:

[code]

__No

[2021-06-12 10:56] alvarobartt commented on #374
Hi @guberm I'm glad to inform you that this feature has already been developed in the `dev` branch as part of the current milestone before the `investpy v1.0.7` release, so this feature will be available later this weekend so you just need to stay tuned for updates :fire:

The intended usage of this new functionality integrated with `investpy.search_quotes()` will be as it follows:

[code]

__Note

[2021-06-12 10:58] xenuser commented on #164
I second this. This would be a very important feature, providing even more insights to those using investpy. IMHO, it should be a common feature to provide the index components, along with the change (absolute and relative) for the current/last trading day.

[2021-06-12 11:46] alvarobartt commented on #172
Hi again @typhoon71, @RamonGuixa and @Fetix! :hugs:

I've already implemented a function to retrieve the default currency of every `SearchObj` after calling `investpy.search_quotes` so that you can just use the following piece of code:

[code]

Also see below that it's pretty simple but efficient and the elapsed time to retrieve the currency is less than 300ms, which is something nice too!

[code]

[2021-06-12 11:48] alvarobartt commented on #381
Hi again @Mrziiz! :hugs:

I've already implemented a function to retrieve the default currency of every `SearchObj` after calling `investpy.search_quotes` so that you can just use the following piece of code:

[code]

Also see below that it's pretty simple but efficient and the elapsed time to retrieve the currency is less than 300ms, which is something nice too!

[code]

[2021-06-12 11:51] alvarobartt commented on #381
Even though the issue with the currency used for the financials is still not solved, since I need to figure out how to include that value, since it's usually "in Millions of X (with some exception)" so it may not be as straight forward as multiplying the values per 1M and then setting that currency as the default one...

Anyway, you can already retrieve the default currency for every financial pro

[2021-06-12 11:52] alvarobartt commented on #172
Reopened this issue since I still need to include some more tests and fix the current build as it failed in the previous commits... :confounded:

[2021-06-12 12:24] alvarobartt opened #395 "Bug in `SearchObj.retrieve_information` due to Investing.com updates"
Currently there's a bug in `SearchObj.retrieve_information` method, that has been spotted recently as this function was not included in the tests so we didn't realise that the Investing.com information changed recently and the function was not working :confounded:

So on, we need to fix this function with the new Investing.com HTML information!

[2021-06-12 12:25] alvarobartt commented on #395
This has already been fixed and now the name of the values is different, since we are using the same identifiers as Investing.com is using internally, so as to have simpler names in camelCase rather than the previous names with dots, commas, spaces, etc.

Here's a comparison between the new updated method in `SearchObj.retrieve_information` versus the old one in `investpy.get_stock_information` bo

[2021-06-12 12:30] alvarobartt commented on #181
Hi again @Fetix! :hugs:

I've already implemented a function to retrieve the default currency of every `SearchObj` after calling `investpy.search_quotes` so that you can just use the following piece of code:

[code]

Also see below that it's pretty simple but efficient and the elapsed time to retrieve the currency is less than 300ms, which is something nice too!

[code]

[2021-06-12 12:30] alvarobartt commented on #390
Hi again @Heractos! :hugs:

I've already implemented a function to retrieve the default currency of every `SearchObj` after calling `investpy.search_quotes` so that you can just use the following piece of code:

[code]

Also see below that it's pretty simple but efficient and the elapsed time to retrieve the currency is less than 300ms, which is something nice too!

[code]

[2021-06-12 12:34] alvarobartt commented on #395
The build is still failing since Investing.com updated the HTML just for some financial products, which is causing an inconsistency while scraping the information, but it'll be fixed ASAP!

[2021-06-12 14:21] alvarobartt commented on #391
Here's the custom example for the feature you were asking about in the issue! :fire:

[code]

__Release will be live either later today or tomorrow. Stay tuned! :+1__

[2021-06-12 14:21] #391 closed

[2021-06-12 14:40] #374 closed

[2021-06-12 14:42] #395 closed

[2021-06-12 14:50] alvarobartt commented on #172
It seems that as it happened before with `SearchObj.retrieve_information`, as described in #395, Investing.com has different HTML templates for the stocks, since the stocks/equities pages are already using the new templates, all the other financial products are still using the old one, so we need to define a way to either use one parser or another based on the product type :confounded:

Hopefully

[2021-06-12 14:50] alvarobartt commented on #181
It seems that as it happened before with `SearchObj.retrieve_information`, as described in #395, Investing.com has different HTML templates for the stocks, since the stocks/equities pages are already using the new templates, all the other financial products are still using the old one, so we need to define a way to either use one parser or another based on the product type :confounded:

Hopefully

[2021-06-12 14:50] alvarobartt commented on #390
It seems that as it happened before with `SearchObj.retrieve_information`, as described in #395, Investing.com has different HTML templates for the stocks, since the stocks/equities pages are already using the new templates, all the other financial products are still using the old one, so we need to define a way to either use one parser or another based on the product type :confounded:

Hopefully

[2021-06-12 14:50] alvarobartt commented on #381
It seems that as it happened before with `SearchObj.retrieve_information`, as described in #395, Investing.com has different HTML templates for the stocks, since the stocks/equities pages are already using the new templates, all the other financial products are still using the old one, so we need to define a way to either use one parser or another based on the product type :confounded:

Hopefully

[2021-06-13 11:47] #381 closed

[2021-06-13 11:47] #390 closed

[2021-06-13 11:47] #181 closed

[2021-06-13 11:47] #172 closed

[2021-06-13 12:32] alvarobartt commented on #339
Hi @tavasti, the new release is already out! :fire:

You can already install it using either ``pip install investpy==1.0.7`` or just update the current version that you are using with ``pip install investpy --upgrade``. Thanks a lot for your support! :+1:

For more information about this new release, you should check [investpy v1.0.7 Release](https://github.com/alvarobartt/investpy/releases/tag/1.

[2021-06-13 12:32] alvarobartt commented on #212
Hi @SBSiuBo, the new release is already out! :fire:

You can already install it using either ``pip install investpy==1.0.7`` or just update the current version that you are using with ``pip install investpy --upgrade``. Thanks a lot for your support! :+1:

For more information about this new release, you should check [investpy v1.0.7 Release](https://github.com/alvarobartt/investpy/releases/tag/1.

[2021-06-13 12:33] alvarobartt commented on #375
Hi @enghseb, the new release is already out! :fire:

You can already install it using either ``pip install investpy==1.0.7`` or just update the current version that you are using with ``pip install investpy --upgrade``. Thanks a lot for your support! :+1:

For more information about this new release, you should check [investpy v1.0.7 Release](https://github.com/alvarobartt/investpy/releases/tag/1.

[2021-06-13 12:33] alvarobartt commented on #392
Hi @mrtuborg, the new release is already out! :fire:

You can already install it using either ``pip install investpy==1.0.7`` or just update the current version that you are using with ``pip install investpy --upgrade``. Thanks a lot for your support! :+1:

For more information about this new release, you should check [investpy v1.0.7 Release](https://github.com/alvarobartt/investpy/releases/tag/1