[2021-06-13 12:33] alvarobartt commented on #391
Hi @sjborque, the new release is already out! :fire:

You can already install it using either ``pip install investpy==1.0.7`` or just update the current version that you are using with ``pip install investpy --upgrade``. Thanks a lot for your support! :+1:

For more information about this new release, you should check [investpy v1.0.7 Release](https://github.com/alvarobartt/investpy/releases/tag/1

[2021-06-13 12:33] alvarobartt commented on #374
Hi @guberm, the new release is already out! :fire:

You can already install it using either ``pip install investpy==1.0.7`` or just update the current version that you are using with ``pip install investpy --upgrade``. Thanks a lot for your support! :+1:

For more information about this new release, you should check [investpy v1.0.7 Release](https://github.com/alvarobartt/investpy/releases/tag/1.0

[2021-06-13 12:33] alvarobartt commented on #395
Hi @alexis, the new release is already out! :fire:

You can already install it using either ``pip install investpy==1.0.7`` or just update the current version that you are using with ``pip install investpy --upgrade``. Thanks a lot for your support! :+1:

For more information about this new release, you should check [investpy v1.0.7 Release](https://github.com/alvarobartt/investpy/releases/tag/1.0

[2021-06-13 12:34] alvarobartt commented on #381
Hi @Mrziiz, the new release is already out! :fire:

You can already install it using either ``pip install investpy==1.0.7`` or just update the current version that you are using with ``pip install investpy --upgrade``. Thanks a lot for your support! :+1:

For more information about this new release, you should check [investpy v1.0.7 Release](https://github.com/alvarobartt/investpy/releases/tag/1.0

[2021-06-13 12:34] alvarobartt commented on #390
Hi @Heractos, the new release is already out! :fire:

You can already install it using either ``pip install investpy==1.0.7`` or just update the current version that you are using with ``pip install investpy --upgrade``. Thanks a lot for your support! :+1:

For more information about this new release, you should check [investpy v1.0.7 Release](https://github.com/alvarobartt/investpy/releases/tag/1

[2021-06-13 12:34] alvarobartt commented on #181
Hi @Fetix, the new release is already out! :fire:

You can already install it using either ``pip install investpy==1.0.7`` or just update the current version that you are using with ``pip install investpy --upgrade``. Thanks a lot for your support! :+1:

For more information about this new release, you should check [investpy v1.0.7 Release](https://github.com/alvarobartt/investpy/releases/tag/1.0.

[2021-06-13 12:35] alvarobartt commented on #172
Hi @typhoon71, @RamonGuixa and @Fetix, the new release is already out! :fire:

You can already install it using either ``pip install investpy==1.0.7`` or just update the current version that you are using with ``pip install investpy --upgrade``. Thanks a lot for your support! :+1:

For more information about this new release, you should check [investpy v1.0.7 Release](https://github.com/alvarobart

[2021-06-13 15:17] typhoon71 commented on #172
I will definitely be checking this. thanks a lot in advance.

[2021-06-14 22:10] markus080402 commented on #393
Hi @TimdBui , this is a useful feature and has been requested in issue #155 , @t-tani created a PR but @alvarobartt hasn't approved it amd now the PR does not work anymore with the new html format at investing.com. Should be possible to update the PR though.

[2021-06-15 20:16] sjborque commented on #391
Thank you. It works great. All the best !

[2021-06-16 18:23] shru-tea opened #400 "Documentation not available"
The new documentation of latest version of investpy lacks proper details regarding various APIs related to funds and equities data.
It would be of great help if the document gets updated as quick as possible.
Thanks

[2021-06-16 18:28] alvarobartt commented on #400
Hi @shru-tea, can you provide me more information? Previously I had some extra pages specifically for stocks/equities and funds, but I removed those since the information there was somehow redundant, but I can create a new version of those for every single financial product available at Investing.com, would that work for you? :hugs:

[2021-06-16 18:31] alvarobartt commented on #393
Hi @TimdBui and @markus080402!

Consider this done for the upcoming release later this month :fire: I'll include this in the current milestone so as to fix @t-tani PR to adapt the new Investing.com format!

[2021-06-16 18:36] #318 closed

[2021-06-16 21:50] TimdBui commented on #393
Thank you, thank you!!!!

[2021-06-18 06:01] shru-tea commented on #400
Hello,
Thanks for the quick reply. I would like to give you an example if that is alright.
search_results = investpy.search_quotes(text='1nf251k01985',countries=['India'],products=['funds'])
for search in search_results: print(search) => I am getting the following information==> {id,name,symbol,country,as_json)
Now if I am using the same name which is being sent back to me using the above command(

[2021-06-18 15:32] LeonardoRick opened #402 "[QUESTION] what 'tentative' means on economic calendar time"
I'm using the economic calendar and sometimes it returns instead of hour:min (10:30), a string written 'All day' and another times it returns 'Tentative' what it means? It's like it was not possible to recover the specific time of this specific news?

[2021-06-20 13:07] LHamnett opened #403 "Unable to get historical crypto data relating to specific coin pairs (non-usd pairings)"
I think it would be advantageous to be able to return historical information for crypto coins against a different crypto/currency instead of just against the default of the crypto vs usd pairing.

For example:
The data from https://www.investing.com/crypto/vechain/ven-usd is currently returned when
investpy.get_crypto_historical_data(crypto='vechain',
                                         from_

[2021-06-22 01:45] oda9 opened #404 "Dividend data cannot be retrieved by get_stock_dividends."
There are some stocks whose dividend data cannot be retrieved by get_stock_dividends.

Example code I tried
`investpy.get_stock_dividends(stock='RPRX',country='united states')`

[2021-06-22 14:13] mrkgoh opened #407 ".get_stock_historical_data RuntimeError"
I ran the following code:
[code]
and got the following error:
[code]

Did investing.com updated their site?

[2021-06-22 14:27] #407 closed

[2021-06-23 12:57] alvarobartt commented on #400
Hi @shru-tea, this issue has already been solved, now the [Developer API Reference](https://investpy.readthedocs.io/api.html) is available again! :+1:

[2021-06-23 12:57] #400 closed

[2021-06-23 12:57] alvarobartt commented on #400
BTW @shru-tea can you report this in a new issue? Thanks!

[2021-06-23 13:02] shru-tea opened #408 "Some missing data"
I would like to give you an example.

_Originally posted by @alvarobartt in https://github.com/alvarobartt/investpy/issues/400#issuecomment-866812206_

[2021-06-28 05:05] gibsms opened #410 "get_stocks_overview - symbol is duplicated"
Hi. When I run the function below, the "BA" symbol is duplicated about 50 times although each symbol should be unique.  It's the same for other countries as well - always the symbol for the first index result.

investpy.stocks.get_stocks_overview(country='united states', as_json=False, n_results=1000)

[2021-06-28 10:35] alikorayerdinc commented on #410
Hi, I'm trying to get any data with investpy but the same error message
appears on the screen. Can you Please help me?
Thank you...
Ali Koray

The Code is your famous example :

import investpy

search_result = investpy.search_quotes(text='apple', products=['stocks'],
                                       countries=['united states'], n_results=1)
print(search_result)

The error is
C:\Users\aliko\

[2021-06-28 11:24] gibsms commented on #410
Hi Ali

You will find the correct function to use within the investpy Documentation - https://readthedocs.org/projects/investpy/downloads/pdf/latest/

For example, if you wanted to download the historic stock data for Apple (AAPL) as a DataFrame, use the following function:

df = investpy.stocks.get_stock_historical_data(stock = "AAPL", country = "united states",

[2021-06-28 13:44] alikorayerdinc commented on #410
Hi, I didn't write any code yet. Below code is your default example.

import investpy
df = investpy.get_stock_historical_data(stock='AAPL',
country='United States',
from_date='01/01/2010',
to_date='01/01/2020')
print(df.head())

When I run it, I'm getting in get_stock_historical_data
    raise ConnectionError("ERR#0015: error " + str(req.status_code) + ",
try again later.")
ConnectionError: ERR#00

[2021-06-29 02:13] gibsms commented on #410
Hi.  I can run your code without any problem.  Perhaps try reinstalling the investpy module and also check any firewall/VPN settings you may have.

________________________________
From: koray ***@***.***>
Sent: Monday, 28 June 2021 11:44 PM
To: alvarobartt/investpy ***@***.***>
Cc: gibsms ***@***.***>; Author ***@***.***>
Subject: Re: [alvarobartt/investpy] get_stocks_overview - symbol is duplica

[2021-06-29 08:37] Okaca opened #411 "investpy.news.economic_calendar() obtains no data from request"
I have been trying the new version now, the previous version get_calendar was working fine. However, in the new version, the request was probably returning null, because  the function raises an error in the lines;

req = requests.post(url, headers=headers, data=data)

root = fromstring(req.json()['data'])

I have tried the function with filled parameters and in default mode too, but I receive no d

[2021-06-29 10:55] alvarobartt commented on #411
Hi @Okaca I'll check this later today and come back to you with an answer, but it seems that you are using the function properly, so the error may be related to the function itself not on how you use it. Anyway, let me check and I'll try to provide you a solution for this :+1:

[2021-06-29 11:51] amitchouksey opened #412 "Weekly stock data"
Hello, thanks for creating this package. Appreciate all your efforts!!
Currently function `get_stock_historical_data` pulls the daily data. I was just wondering if it is possible for you to enhance it to pull daily/weekly/monthly data.

[2021-06-29 15:01] #412 closed

[2021-07-01 18:24] GlbertoVilar opened #414 "NCI - Nasdaq Crypto Index missing"
The NCI is available at investing.com, including historical data since April. However, it is not possible to get it via investpy.get_index_historical_data, nor find via search index. Can you add this asset into the lib?

[2021-07-03 13:31] yoursbh commented on #414
I have a similar problem with a Chinese stock which exists on investing.com but not available in stock.csv:
[Shanghai Aiyingshi Co Ltd (603214)](https://www.investing.com/equities/shanghai-aiyingshi-a)

[2021-07-03 14:01] yoursbh opened #416 "[proposal][improvement] Add some missing data to resources (*.csv files)"
Hi alvarobartt and investpy developers,

Thanks for your hard work. This is really an essential and well-maintained financial tool for Python.

Here, I gather some missing data that I found during my usage. To same your time, I've fixed them by retrieving the correct values from investing.com HTML ;)

### stocks.csv
1. [Levima Advanced Materials Corp (003022)](https://www.investing.com/equities/le

[2021-07-03 23:59] cgeraldes opened #417 "Error retrieving fund data for isin=PTYCXRLP0000"
The code below retrieves the expected information

import investpy
search_result1 = investpy.search_quotes(text='PTYCXRLP0000', products=['funds'],countries=['portugal'], n_results=1)
print(search_result1)
search_result2 = investpy.search_quotes(text='PTCXGUHM0006', products=['funds'],countries=['portugal'], n_results=1)
print(search_result2)

Resuts are:

{"id_": 1170279, "name": "Caixa Sele\u00e

[2021-07-04 12:24] srijuk opened #420 "Unable to retrieve stock historical prices"
Hi Alvaro

I am getting the below error while extracting stock data. It used to work fine few months ago. I am revisited this again few days ago and have tried different versions of this. But no luck.

investpy.stocks.get_stock_historical_data(stock = 'RDSa', country = 'netherlands', from_date = '01/06/2021', to_date = '01/07/2021')

  File "C:\Users\sriju\Anaconda3\lib\site-packages\investpy\stoc

[2021-07-08 09:09] jmedinap opened #423 "Unable to get historical data from fund"
Hi Alvaro,
Thanks for this great library.
I've been trying to get historical data  from this fund:
Vanguard 20+ Year Euro Treasury Index Fund Eur Acc (0P0000CV2T)
ISIN:'IE00B246KL88'
But it is missing in the kist generated using: investpy.funds.get_funds()
So I can not get data using: investpy.funds.get_fund_historical_data

Nevertheless, I'm able to get data using search_quotes:
investpy.search_q

[2021-07-08 15:36] plutoBase opened #424 "Bond futures volume data missing"
Hi

Am having trouble retreiving volume data for bond futures, as in for example:

`search_result = investpy.search_quotes(text='US 30Y T-Bond', products=['bonds'],countries=['united states'], n_results=1)`

whereas the volume data is available via the site.  Is there something I am missing?

Many thanks!

[2021-07-08 18:57] alvarobartt commented on #424
Hi @plutoBase, thanks for reporting this issue!

I'll solve this for the next release that should come later this month, but once I solve it I'll let you know so that you can install it from source and test it before releasing it.

Thanks! :hugs:

[2021-07-09 07:13] plutoBase commented on #424
Many thanks, Alvaro -- much appreciated!

[2021-07-09 16:09] hn2 opened #425 "Searching etf by symbol"
Is it possible to search etf by symbol, for example: spy?
Did not work for me.
SPDR S&P 500
Works.

[2021-07-10 14:42] guberm opened #426 "Is it possible to retrieve the MA or/and Summary data?"
Thank you so much for your work.

After the latest update, I'm able to retrieve the TI data only.

Is it possible to add the option to retrieve the MA or/and Summary data?

![image](https://user-images.githubusercontent.com/577099/125166771-141b0f00-e16b-11eb-94a9-e3e6a377f235.png)

[2021-07-15 07:46] hhaoao commented on #410
I found that redirection(status code: 304) also causes this error.
I tried to use a global proxy, but the project does not provide the proxy Settings

![screenshot 1](https://user-images.githubusercontent.com/11269610/125745971-365e436c-442a-4f88-abee-55e42f1de507.jpg)

[2021-07-21 15:37] mre500 opened #430 "Can't find NCFYc1"
The "https://www.investing.com/commodities/newcastle-coal-futures" could be found by investpy.search_quotes(text = "NCFYc1"), and extract further data before.
But after the revision of investing.com today, it became invalid.

[2021-07-21 15:45] mre500 commented on #430
I found the solution
Symbol changed to "NCFMc1"
Thanks!

[2021-07-25 10:24] nuwandwo opened #431 "investpy.stocks.get_stock_information Function Broken"
Dear @alvarobartt ,

Thanks a lot for creating this library, i have been using this library for some time now. But suddenly , below function is not working .
investpy.stocks.get_stock_information(stock='DIAL',country='sri lanka', as_json=True)

* Upgraded to investpy version 1.0.7 , but no luck

Result
---------------------------------------------------------------------------
AttributeError

[2021-07-30 12:33] AureliusMarcusHu opened #432 "AttributeError: module 'numpy.core' has no attribute 'numerictypes'"
Hi Guys,

I'm very new in python and in I have installed investpy by pip. I get the notes all dependent packages are installed succesfully included investpy. I alsways get an error from numpy when I run the above command.

 File "C:\Program Files (x86)\Python39-32\lib\site-packages\numpy\__init__.py", line 200, in <module>
    core.numerictypes.typeDict,
AttributeError: module 'numpy.core' has no

[2021-08-01 10:45] GutierrezSamuel commented on #273
Hi, i modify the file stocks.py like that:

path_ = root_.xpath(".//*[@id=\"profile-fullStory-showhide\"]")

        header_path_ = root_.xpath("//div[@class=\"companyProfileHeader\"]")[0]

        if path_:
            company_profile['desc'] = str(path_[0].text_content())
            company_profile['industry'] = header_path_[0].text_content().replace('Industry', '')
            company_profile[

[2021-08-04 03:01] na81cho opened #433 "simbolo BBD error ,"
investpy.get_stock_historical_data(stock='BBD', country='Brasil', from_date='01/01/2020',  to_date=fecha)

error en country, probe con estados unidos , argentina, brasil , no anda con ninguno , alguna sugerencia ???

[2021-08-11 21:14] vrancovich opened #434 "happening much more often - ERR#0093: no results found on Investing for the introduced text."
Hi, and hopefully this is the right venue for this. I have been using investpy for several months and I think its great. It used to be that every once in a while investpy could not find a stock using the search but now its happening all the time with stocks that used to work before with no issues.

simbolos=["DOW","AAPL","MSFT","WISH","NTLA"]

for simbolo in simbolos:
    search_result = investpy.

[2021-08-12 17:05] MadeInLondon commented on #155
The EPS and Forecast scraping is exactly what I am looking for. Also scraping the Dividend calendar would be an advantage. Please add this feature to this well made project.

[2021-08-17 13:05] APandaInFjord opened #435 "investpy.funds.get_fund_information always gives blank for Rating and Risk rating"
I have tried this with several funds, for example, investpy.funds.get_fund_information("Vanguard 500 Index Fund Admiral Shares", "united states"), the result given by this always has blank for Rating and Risk rating column...

Can you help to check why? I guess it is because in the website, it is presented by stars instead of numbers...

[2021-08-17 19:51] lone-wolf07 commented on #432
I am facing the same issue. Please help!

[2021-08-18 22:43] davidvicenteranz opened #436 "ISO 8601 standard for date arguments in methods as default"
ISO 8601 standard YYYY-MM-DD is less ambiguos than DD/MM/YYYY or MM/DD/YYYY. I think is a best and safe way to encode a date as string . Also would be more consistent with returned data dates format. This format is also easy to sort as string.

Thanks a lot for your awesome work!

[2021-08-22 12:10] JSavonen opened #437 "Some stocks missing"
Hi,
I tried to download data of Air bnb inc. from the investpy. The stock is missing when I tried to check if the stock is truly missing from the api. One cannot currently access it somehow. Could you check the reason why it is missing. And the error happens when I use the isin of the stock as well. I think there is something from with the csv files.

USA_Stocks = investpy.stocks.get_stocks("Unite

[2021-08-24 07:54] alvarobartt commented on #432
Hi @AureliusMarcusHu and @lone-wolf07 :hugs:

Thanks for reporting this issue! Are you both using Python 3.9? Which OS? And, finally, can you check which `numpy` version do you have installed?

Once you provide me that information I'll solve this ASAP :+1:

[2021-08-24 07:55] alvarobartt commented on #432
Besides that, can you try to re-install `numpy` as it follows ``pip install numpy -U`

[2021-08-31 03:13] jinusean opened #438 "get_stock_company_profile not working for any stock"
This seems to be an issue with the xlmx package

[code]

[2021-09-04 09:54] codecraf8 opened #439 "Ability to pull indices, commodity, and currency-pair data in local time zone"
Hi There,

Thanks for the amazing library.

I went through the documentation and was not able to specify the time zone of data that I want to retrieve.
Adding a variable of time zone would really be helpful, something like :

[code]

If I do this I get an error : `TypeError: retrieve_historical_data() got an unexpected keyword argument 'time_zone'`

This is available for :  `investpy.news.economic

[2021-09-06 20:51] GunduzYuruyen opened #440 "ConnectionError: ERR#0015: error 503, try again later."
Hi,

I ve tried many different codes to receive historical datas of some of financial instruments but i m taking "ConnectionError: ERR#0015: error 503, try again later." error. Normally i had been using investpy without any error.

![Ekran Alıntısı](https://user-images.githubusercontent.com/90219621/132259850-28d960e0-8388-4199-b18b-f1165ee70590.JPG)

[2021-09-10 17:25] kamarani1989 opened #441 "how to extract technical indicators of spot gold and silver prices"
import investpy as i
i.technical_indicators(name='gold',country='United States',product_type='commodity',interval='daily') is throwing a errror of  introduced name does not exist in the introduced country (if required). pls guide how to get the moving averages and pivot of gold and silver spot

[2021-09-11 14:35] raviyellani commented on #426
have u achieved this

[2021-09-11 18:12] davetromp commented on #440
I ran above code with investpy 1.0.7 without encountering the error. Please note that investpy "simply" scrapes the data from investing.com. If you do many requests in a short period, then Investing.com might block your IP. Also the 503 error indicates something went wrong on the side of investing.com. It could be they were experiencing some issues and that these are currently resolved. So try aga

[2021-09-11 18:51] GunduzYuruyen commented on #440
Thanks for your reply Dave. I m not sendıng so many request so ı mean that cant be reason of this problem.
Pycharm is updated with ıts last versıon, also investpy is updated too.
But still i m taking same error..
As a last option i will delete python also pycharm and setup all them again.
Thank you so much for your reply.

[2021-09-13 07:17] nhanjbnu opened #442 "tiên vì e khó ăn mà"

[2021-09-13 07:17] nhanjbnu opened #443 "E phải chọn đầu tiên vì e khó ăn mà"

[2021-09-14 12:38] #442 closed

[2021-09-14 13:04] #443 closed

[2021-09-14 13:11] nhanjbnu commented on #442
I am writing to apologize for my mistake.

I wrote something when I didn't know I was visiting your page.

Sincerely apologize
Nhan
Nguyen Thi Nhan

Vào Th 3, 14 thg 9, 2021 vào lúc 21:38 Gabriel Martín Blázquez <
***@***.***> đã viết:

--
*Nhan*
*Nguyen Thi Nhan*

[2021-09-15 17:32] mpresence commented on #331
Hi,

May I know when this issue will be resolved?

[2021-09-16 07:28] alvarobartt commented on #331
Hi @mpresence I didn't have time until now to work on my projects, but now I do, so I'll try to work on most of the relevant issues/bugs during this weekend so that later I can also focus on the feature requests 👍🏻

[2021-09-17 21:01] drtiwari opened #445 "MCX Aluminum Mini Futures <class 'RuntimeError'>"
Hi Alvaro,

First of all thanks a lot for such a wonderful work.
Highly appreciated. I deal with Indian Equity/Commodity market and your package is very useful to me. So thanks again.

I came across the MCX Aluminium Mini Futures data extraction problem. Can it be fixed?

Also some mini future contracts are discontinued. Wonder if you want to update the list. Following is the list of current MCX c

[2021-09-18 19:37] mpresence commented on #331
Thanks @alvarobartt you have done a great job with this...keep it up  😊

[2021-09-19 21:49] jdklear commented on #254
I'm still seeing this error as well

Traceback (most recent call last):
  File "C:\Users\jdkle\Documents\investing.com\investcomweeklydata.py", line 39, in <module>
    index1 = investpy.indices.get_index_historical_data(index=index,country=country,from_date=from_date, to_date=to_date, as_json=True)
  File "C:\Users\jdkle\AppData\Local\Programs\Python\Python39\lib\site-packages\investpy\indices.py

[2021-09-20 07:49] drtiwari commented on #445
I realized the problem was with name, should be MCX Aluminum Mini, inspite of MCX Aluminum Mini Futures.
All is well now.
Thanks and cheers

[2021-09-20 07:49] #445 closed

[2021-09-21 02:11] atk5025 commented on #437
I was just looking into this briefly and am not able to find AirBNB on the investing.com website. Looks like the problem might not be with investpy but with investing.com.

[2021-09-21 02:18] atk5025 opened #446 "Documentation references missing examples folder"
readthedocs documentation suggests there should be an examples directory, but I'm not seeing one at the provided link. Link: https://github.com/alvarobartt/investpy/tree/master/examples

docs locations:
https://investpy.readthedocs.io/_info/usage.html

[2021-09-21 18:23] javibel opened #447 "Retrieving all stocks from an index given"
Is there a method to achieve this goal?
I need to know how many and which are all the stocks in an index given, for instance DAX...
Thank you for your work!

[2021-09-22 07:36] gahoccode commented on #57
Hi Alvaro! Were you able to write the code? I'm looking forward to hearing from you!

[2021-09-22 07:36] alvarobartt commented on #446
Hi @atk5025, sure, I still need to work on that section, but expect some basic tutorials there during this weekend! :hugs:

[2021-09-22 07:39] alvarobartt commented on #447
Hi @javibel currently there's not a function to do so, but I'd suggest you use the `investpy.search_quote()` function so as to look for stocks based on an index, so that the input text should be the index name while the product list to filter by should just contain the stocks. Hope this helps you this time! :hugs:

Anyway, could you please share the Investing.com URL for an index listing with all

[2021-09-22 07:42] alvarobartt commented on #441
Hi @kamarani1989, currently instead of using that function you could use `investpy.search_quotes` and then based on the result you get whenever you look for `Gold` in the `United States`, you are able to `search_result.retrieve_technical_indicators()` and that should work like charm! :hugs:

Let me know if you have any doubt on how to prepare that code, if not just close the issue, but if you need

[2021-09-22 07:52] alvarobartt commented on #57
Hi @gahoccode, sorry I forgot to share that code, I'll try to prepare a simple code to achieve that so that you can use it! :hugs:

Anyway, could you please share with me what do you exactly want? Is it something like:

[code]

[2021-09-22 08:02] gahoccode commented on #57
So just as what @freddie3399 said, I'd like to see how you
1.extracting multiple stocks historical data (AAPL, GOOG)

2.structure the data under
Column
'AAPL','Date','Open','High','Low','Close','Volume','Currency',GOOG','Date','Open','High','Low','Close','Volume','Currency'

3. export to CSV or Excel

I tried to pull 2 stocks by applying the code you gave but the result turns out not quite what I

[2021-09-22 16:40] javibel commented on #447
I think you speak english aren't you?, in that case We should continue in spanish if you don't mind... The fact is that your suggestion above doesn't work, I'm afraid. I paste below an example of result of:                                               "search_result = investpy.search_quotes(text='Xetra', products=['stocks'], countries=['germany'], n_results=1)"
[code]
Here you have a link of Spai

[2021-09-23 09:22] GS-LATAM commented on #383
Hey @alvarobartt awesome job at investpy!
Since my anxiety does not allow me to wait for v1.0.8 I'll leave a question in here: the premarket will be available as the last (or first) row of retrieve_recent_data()?
Thank you, and, again, AWESOME JOB!

[2021-09-27 16:20] nono-london opened #448 "Macro Event Time received in machine lcoal time not GMT?"
Hello,
First thanks for the library, I think the macro historics are a real plus to any other already existing libraries.

I seem to receive times of macro events in local machine terms as opposed to UTC which would be best in order to avoid issues with Daylight summer/winter changes (I assume GMT is same as UTC here).

For instance:

on the 26Sep investpy gives event at 19h45 => European Time
![i

[2021-09-29 09:08] davins90 commented on #420
Hi, I have the same situation and I'm using the last stable version. What should be the problem?

[2021-10-04 20:06] nathan3leaf commented on #432
I'm assuming this is still in the broken phase?

[2021-10-05 07:51] alvarobartt commented on #432
Hi @nathan3leaf, can you provide me more details? I think this is not happening anymore, just that the issue was not closed back in the day.

Is this function the one that is failing?

[code]

Thanks! :hugs:

[2021-10-05 09:58] gahoccode opened #450 "Is there a way I can pull financial statements?"
Hi alvarobartt!
I've read the investpy documentation and it's really good to pull stock prices and company's general information, thank you for dedicate your time and effort into this but is there a away I can retrieval financial statements like cash flow, balance sheet on a annually or quarterly basis in data frame format? If it's possible could you please provide me with an example? I'm a beginn

[2021-10-06 19:21] rgno1 commented on #325
Hi Alvaro!

It is possible to increase decimal places from 3 to 8?  Not sure if Investing.com doesn't record with full precision or if its possible to get the full number.

[2021-10-15 05:13] vmendezs commented on #432
Hey guys, I was having the same problem but then I made the next changes and it works for me:
1. Check the version of numpy and tensorflow with **pip show numpy** and **pip show tensorflow** (in my case I have 1.19.5 for numpy and 2.6.0 for tensorflow)
2. Also check the version of python, it is not necessary but just in case that you were working on python2.7 it won't work
3. Restart your machine,

[2021-10-15 18:29] alvarobartt commented on #432
Thanks for your suggestion @vmendezs, I'll try to re-run the unit tests with the latest version of `numpy` to see whether that works or not, and as soon as the unit tests are working I'll consider this issue closed. 👍🏻

[2021-10-17 10:57] Towasi opened #456 "Stock name not found"
I am trying to download the detail of the S&P500 index (the historical price of each of the current stocks in the index).

I notice that to download the historical prices of the index we must use:

_**db = investpy.get_index_historical_data (index = "S&P 500",
                                                            country = 'United States',

[2021-10-21 12:37] martinemilander opened #459 "OHLCV data for XOG (United States) is not accurate"
Hi

OHLCV data for XOG (United States) is not accurate. Closing price on 2021-Oct-20 was 65.00 USD but I get this when I download using this command:

`investpy.get_stock_historical_data(stock='XOG', country='united states', from_date='01/01/1950', to_date='21/10/2021')`

[code]

[2021-10-21 15:28] mesoclever opened #460 "get_stock_information returning error"
The get_stock_information function is returning an error for a particular stock.

[code]

## Output
[code]

[2021-10-22 07:22] #460 closed, assigned to alvarobartt

[2021-10-22 09:47] sunrise1234321 opened #461 "Do you have minute data instead of day data?"
Thanks!!!!

[2021-10-22 13:13] #461 closed, assigned to alvarobartt

[2021-10-25 04:32] ajit1310 opened #462 "No connection Error in get_stock_historical_data"
Hi,
Not sure what this Error is about ,  can you please look into it .

File "C:\Python38\lib\site-packages\investpy\stocks.py", line 559, in get_stock_historical_data
    raise ConnectionError("ERR#0015: error " + str(req.status_code) + ", try again later.")
ConnectionError: ERR#0015: error 429, try again later.

[2021-10-25 08:36] #462 closed, assigned to alvarobartt

[2021-10-26 04:49] ajit1310 opened #463 "investpy not working ."
alvarobartt ,

I am not sure this is with me only . I think whole investpy not working now .

File "C:\Python38\lib\site-packages\investpy\stocks.py", line 559, in get_stock_historical_data
    raise ConnectionError("ERR#0015: error " + str(req.status_code) + ", try again later.")
ConnectionError: ERR#0015: error 429, try again later.

[2021-10-26 07:51] #463 closed, assigned to alvarobartt

[2021-10-28 11:02] grafspot opened #466 "Stocks missing"
It seems like the scraper is not fetching companies that have been recently listed via IPO within the last year or so. An example is Truecaller in Sweden (https://www.investing.com/equities/truecaller-ab). The equity is searchable on investing.com so it should be available?

Am I the only one experiencing this issue and is there a way to fix it?

[2021-10-28 14:23] #466 closed, assigned to alvarobartt

[2021-10-30 04:48] chranga commented on #402
Tentative means it may or may not happen. Its like a placeholder event. Usually refers to speeches or meetings. If you can provide an example, we could clarify it better.

[2021-10-31 12:41] eyalk5 commented on #440
Try with a different ip before..

[2021-11-02 11:28] rvenkkat70 commented on #456
This Error occurs because the mentioned stocks are not available in **resources/stock.csv**. You can add the missing code to get this working. Please take a backup of this file before any modification to be on safer side.
**For example let us take CDAY**
**Before adding to stocks.csv**
import investpy as inv
rslt=inv.get_stock_information('CDAY','united states')
RuntimeError: ERR#0018: stock cday

[2021-11-03 08:17] Ashabat1 opened #467 "ConnectionError: ERR#0015: error 429, try again later"
I keep getting the following message:
ConnectionError: ERR#0015: error 429, try again later.

[2021-11-03 08:31] alvarobartt commented on #467
Hi @Ashabat1, could you please provide me with more information about it? Like the `investpy` function that you are calling, the parameters, etc., and also some other information if possible like the region you are sending the requests from. As the HTTP 429 error code states that you may have exceeded the limitations of the Investing.com and, so on, you have been blocked from it 😩

[2021-11-03 08:36] Ashabat1 commented on #467
Thank you for the quick response.
Function: investpy.get_stock_historical_data
Parameter: South Africa Exchanges companies
Country: South Africa

What are exactly the limitations? Is it the number of requests?

[2021-11-03 08:43] mrkgoh opened #468 "Missing Mr D I Y Group M Bhd (MRDI)"
Please note that the following ISIN MYL5296OO008 stock  is missing from investpy.

This issue is pretty common. I know there is a static file that needs to be updated. Please provide guidance as to how to update the static file and I would happy to contribute in the future.

![Capture](https://user-images.githubusercontent.com/30623155/140030515-3168944e-ac2c-42c4-974b-d4fb64bb5fd9.JPG)

[2021-11-03 09:48] alvarobartt commented on #467
Thanks for your response, I'm not getting that error, anyway, I'll try to run some stress tests in order to estimate a little bit better which are the limitations of Investing.com, so that I can give you at least a number of supported requests per hour or something similar!

In the meantime, you could try using a different IP to see whether that works or not, so as to clearly spot that the issue w

[2021-11-03 09:51] alvarobartt opened #469 "Run some stress tests over `investpy.get_stock_historical_data`"
According to what was mentioned in #467 and in a lot more issues, due to the high usage of `investpy` to retrieve data from Investing.com, the HTTP error with code 429 appears. This is actually due to the internal limitations of Investing.com as mentioned in the past, which ends up on your IP getting blacklisted, so that your IP is blocked during some time.

So on, so as to at least have an estima

[2021-11-03 12:15] alvarobartt commented on #468
Hi @mrkgoh, as you're saying, we have a huge issue with the static files that need to be updated, but that's something we're already working on! :muscle: Anyway, instead of updating the static files, which is a manual step, you can just use `investpy.search_quotes` function to look for any financial product as long as it's available at Investing.com.

Here's the [Official Documentation](https://in

[2021-11-03 14:50] Ashabat1 commented on #467
I have done some tests. I fix it by setting up the _time.sleep(10)_ between the calls. Thank you @alvarobartt

[2021-11-03 14:55] suracoza opened #470 "Duplicate Symbol in get_stock_overview"
This is the same issue mentioned [here](https://github.com/alvarobartt/investpy/issues/410) - whereby the same symbol is being returned for different stocks. The observation is that the symbol being duplicated is the first symbol for that country found in ```investpy/resources/stocks.csv```

[code]
In the .csv returned:
[code]
In my case, I am searching for South African stocks. The symbol AGLJ is

[2021-11-03 18:39] arielmeragelman commented on #467
Could you please tell us how much time you have to wait until get again the response from the api
Did it work from the same IP?
Im having the same issue
Thanks

[2021-11-04 09:39] Etile0 opened #471 "Retrieving technical analysis summary"
First of all, I want to thank you for making this library. It's really useful. The only thing I feel like is missing are technical analysis summaries.
![Screenshot_2021-11-04_12-37-46](https://user-images.githubusercontent.com/58475290/140291312-940622e6-fa26-4d44-b0fd-8ae5873c8486.png)
It would really help me out with some of my projects and I'm sure it would help others out aswell.

[2021-11-04 13:34] mrkgoh commented on #468
@alvarobartt thanks. I have hardcoded my script to use the search query alternative if the stock is not found. That's a temporary fix for now.

[2021-11-04 13:34] #468 closed

[2021-11-05 16:02] ymyke commented on #467
I had the same issue. Using a VPN to change my IP address helps to "start clean" again.

In my case, waiting 2'' after each request prevents running in to the issue.

See this also: https://github.com/alvarobartt/investpy/issues/149

[2021-11-06 06:49] githubsliu2020 opened #472 "Palm Oil Futures"
Hi all,
a quick question regarding pulling data about Palm Oil Futures.
https://www.investing.com/commodities/palm-oil
Can't find information about static files of Palm Oil Futures stored in the resources here
Any advice  will be greatly appreciated

[2021-11-06 21:04] samcie opened #473 "Outdated csv files"
csv files are outdated. For example the cryptos.csv file is missing Shiba-Inu, a very popular coin. Can you add a function to update csv files?

[2021-11-07 07:38] msh855 opened #474 "Change of get_fund_historical_data arguments"
I think the function `get_fund_historical_data` should use the ISIN number of a mutual fund than its name to download historical prices. This would be much more consistent and less error-prone as Fund names might not exactly much across different sources that people might be looking at.

So from
[code]

I would have changed the function to something like:

[code]

For example, in order to do my jo

[2021-11-07 18:29] msh855 commented on #467
I am getting the same error

[code]

[2021-11-07 18:51] arielmeragelman commented on #467
After 2 days It start working again, so I sugest to run que api with time.sleep to avoid get your ip banned,  I dont have enought information to say how often you can run it

[2021-11-09 16:17] remimec commented on #53
This issue persists in investpy-1.0.7

[2021-11-10 11:32] alvarobartt commented on #53
Really @remimec? Could you please provide an example of how to reproduce the issue? I'll try to fix it ASAP :hugs:

[2021-11-10 11:48] remimec commented on #53
`import investpy
result = investpy.search_quotes(text="stoxx50")[0]
print(result)
print(result.symbol, result.country)
df = investpy.get_stock_historical_data(stock=result.symbol,
                                        country=result.country,
                                        from_date='01/01/2010',
                                        to_date='01/01/2020')
df = investpy.get_index_histor

[2021-11-12 07:47] alvarobartt commented on #53
Mmm ok so that's not the intended usage of those functions, since using `investpy.search_quotes` is the way you have to access the Investing.com search engine instead of going through the web-scraped CSV files (that are currently outdated). So on, in order to achieve what you are looking for, the code should look like:

[code]

I really hope this helped you @remimec :hugs: Let me know if you need

[2021-11-13 16:00] plutoBase opened #477 "investpy.bonds.get_bond_historical_data not working"
As per the title, this method has stopped working over the past week for me.

Is it down permanently?

Many thanks for all your hard work!

[2021-11-14 10:29] ReynardoEW commented on #461
I know that this issue is 23 days old and I probably should've made a new issue instead, but is it possible for us to fetch the data from the streaming chart? (which do have minute timeframe)

For example
https://www.investing.com/equities/bnk-central-as-chart
![image](https://user-images.githubusercontent.com/28998793/141677153-17ed05a2-1a40-443d-bf21-6110449f80ab.png)
![image](https://user-image

[2021-11-16 07:19] ReynardoEW opened #478 "Intraday timeframes from streaming chart"
It's should be possible to grab streaming chart data which do have intraday timeframes (1m, 5m, 1h, etc)

https://www.investing.com/equities/bnk-central-as-chart

![image](https://user-images.githubusercontent.com/28998793/141677153-17ed05a2-1a40-443d-bf21-6110449f80ab.png)
Request information
![image](https://user-images.githubusercontent.com/28998793/141677158-06676375-c8de-4a9d-b06f-4fc08e106dc

[2021-11-17 03:58] msh855 commented on #467
Can you please put a minimum working example so others can see how you used the `sleep` function to fix this?

[2021-11-17 07:54] alvarobartt commented on #467
@msh855 Should look something similar to:

[code]

[2021-11-17 07:54] #467 closed

[2021-11-18 08:14] msh855 opened #484 "downloading stocks not working for certain stocks"
Hi,

retrieving historical data for certain stocks does not seem to work. For example, I tried:

[code]

Same when I tried

[code]

I have checked the investing.com site and there I see the historical data. So, the data exist for the stock in this example.

[2021-11-19 09:13] QuantumCrazy opened #485 "API not working + Error Handling (Error 111 + Error 110)"
Hi, I usually grab data every day using investpy but since yesterday it has not been working. I normally grab indices, FX, commodities, US treasuries but it has been throwing me Error 110 (time out) and Error 111 (connection refused).

I usually use the _requests_ package in python with other api's and have written some code to handle exceptions, but for this api, what's the best way to handle htt

[2021-11-19 14:47] msh855 opened #486 "Random availability of funds via different looping processes"
Hi,

I experimented with the following looping processes and I get all the time different funds between the different looping processes.

Here is a minimum working example
[code]

Here is the dataframe `funds` one would need to work the MWE above

<html  xmlns:o="urn:schemas-microsoft-com:office:office"  xmlns:x="urn:schemas-microsoft-com:office:excel"  xmlns="http://www.w3.org/TR/REC-html40">
<he

[2021-11-20 01:21] sine-w opened #487 "ERR#0093 Please provide more information for this error to help debuging"
Hello,
I have a file to do lots of search using the search module, and one of them return the following error msg.

    raise RuntimeError("ERR#0093: no results found on Investing.com for the introduced text.")

looking at this error message, I dont know which piece of text the error message is referring to.
Can you please make it something like
raise RuntimeError(f"ERR#0093: no results found on I

[2021-11-20 01:39] suracoza commented on #487
Try try:
[code]

[2021-11-20 06:49] sine-w commented on #487
Hello,
Yes I found out what causes the error
But I dont know what is wrong here
investpy.search_quotes(text='China 10-Year Bond Yield', n_results=1)

the text 'China 10-Year Bond Yield' is directly copied from investing.com, but why it produce error here?
page:https://www.investing.com/rates-bonds/china-10-year-bond-yield

[2021-11-20 09:51] KalinNonchev opened #488 "Query historical data for multiple stocks in a single website request in order to solve Error 429"
Hello,

Thanks for the great package!
I saw that you are aware of the problem that you are banned when you query information for multiple stocks in a short period of time - https://github.com/alvarobartt/investpy/issues/469.
Query for multiple stocks in a single request was also suggested recently - https://github.com/alvarobartt/investpy/issues/57.
I would like to ask if you are reevaluating this

[2021-11-20 15:09] suracoza commented on #487
I dont know much about bonds, maybe check the spelling.

[code]

[2021-11-21 01:24] sine-w commented on #487
Ok thanks let me try again

[2021-11-21 01:38] knickr commented on #294
I'd like this feature also.  The raw data is available in JSON format here using the Economic Event ID (eg 1013 for Australian GDP growth)

https://au.investing.com/economic-calendar/gdp-1013
https://sbcharts.investing.com/events_charts/us/1013.json

[2021-12-02 15:26] mrkgoh opened #489 "ConnectionError: ERR#0015: error 429, try again later."
@alvarobartt ,

Did anyone else, report receiving similar ConnectionError today? I was working fine until 02 Dec 2021 about 11pm Malaysia Time.

Thank you
mrkgoh

[code]

[2021-12-03 20:34] mrkgoh commented on #489
I was blocked by investing.com due to accidental multiple rapid queries. Closed the issue.

[2021-12-03 20:34] #489 closed

[2021-12-07 09:12] lgwr commented on #300
@alvarobartt Hi Alvaro, great work what you have been doing. Btw have you already added these two functions?? :)

[2021-12-07 13:28] G-Webber commented on #470
I've found this issue as well. I see that `investpy.stocks.get_stocks_list(country = 'south africa') `
returns a better list of symbols i.e. PIKJ for picknpay is in the list, though the list also has 2 entries for AGLJ...

[2021-12-08 16:15] suracoza commented on #470
Ive made multiple changes to my stocks.csv file to get the correct symbols. Besides companies being listed/delisted from the market, they also undergo name changes, and then they might also merge with someone else. All these various changes need to be reflected in the stocks.csv file, for which investpy.stocks.get_stocks_overview depends - therefore it my opinion the stocks.csv file needs to be se

[2021-12-10 17:47] habibSJ commented on #144
Hi! I was wondering if the CDS quotes were added; and if so, under which API reference? Thanks very much!

[2021-12-11 03:31] sine-w opened #491 "IndexError: ERR#0033: information unavailable or not found."
start_date_str = '01/01/1950'

#United States 1-Year Bond Yield
investpy_search_obj_dict['US01Y'] = investpy.search_quotes(text='US1YT=X', countries=['united states'], n_results=1)
yield_df_dict['US01Y'] = investpy_search_obj_dict['US01Y'].retrieve_historical_data(from_date=start_date_str, to_date=GetCurrentDate(dtype='str', format_str='%d/%m/%Y'))
timeSleep(5)

It generated the following error
In

[2021-12-12 03:36] decser opened #493 "Fund is missing"
Dodge & Cox Income Fund (DODIX) is missing from the api https://www.investing.com/funds/dodge---cox-income
the following results in an error
investpy.get_fund_historical_data(fund='Dodge & Cox Income Fund', from_date=from_date, to_date=to_date)

[2021-12-13 09:00] mrkgoh opened #494 "investpy.get_stock_historical_data missing price history dates"
I would like to report that there are significant amount of price historical data that is missing in some stocks.

To reproduce:
[code]

[2021-12-13 10:09] sirinath commented on #491
I have an issue for stocks. It was working and suddenly stopped working. Since then it is not getting data which previously downloaded about 5 minutes before.

[2021-12-15 16:29] srinivasakumar-a opened #497 "Singapore Index Futures (SGX Nifty 50 Futures) data"
How to pull SGX Nifty 50 Futures data into python? I tried the below code:

[code]

[2021-12-18 12:25] Monarca100 commented on #440
Good morning. I´ve got the same issue. I´ve changed my internet provider and I´ve got CR-NAT IP protocol. Maybe the problem related to this?. Thank you so much.

[2021-12-18 23:01] ilyasozdogan commented on #440
I have also the same problem

raise ConnectionError("ERR#0015: error " + str(req.status_code) + ", try again later.")
ConnectionError: ERR#0015: error 503, try again later.

[2021-12-19 11:05] ilyasozdogan commented on #440
<img width="550" alt="1" src="https://user-images.githubusercontent.com/53368458/146672620-c0e7254e-e0ee-4e06-b859-be6c15ee2b62.png">

It'is working on chrome but on pycharm  i cant get 200

[2021-12-19 16:51] bitcloudx commented on #497
You have to enter actual dates I believe. As for the proper index name you can find them all in the csv file here. Fair warning alot of them do not work and will rase a index error. https://github.com/alvarobartt/investpy/blob/master/investpy/resources/indices.csv

[2021-12-20 03:24] karim1104 commented on #488
You can create a list of tickers and write a loop with time.sleep(5) to go through them. I've been trying it for a few days, and I haven't been blocked yet. I can't guarantee this will always work, but for now, it seems to be the only solution.

[2021-12-21 10:17] Alebarce03 opened #498 "investpy.get_crypto_historical_data Not working with several Cryptos"
Hi Alvaro, thanks for your amazing work.

I am facing some errors while retriving crypto historical data wih the function "investpy.get_crypto_historical_data"

Seems several 'tickers' are not interpreted correctly by investing.

Few examples of not-working tickers within the 50 more capitalised crypto are:

SHIBA INU
Binance USD
TerraUSD
Axie
Bitcoin BEP2
Hedera
The Sandbox
Helium
Klaytn

Is ther

[2021-12-26 20:20] gokerbakir commented on #440
Hi, I have got the same ERR#15: error 503 problem. Is there any exact solution to this problem? Thanks in advance..

[2022-01-04 08:59] crowisback commented on #491
Same issue for no apparent reason for EUR/TRY

[2022-01-05 20:00] coolfan123 opened #501 "AVST, M&G cannot be found in FTSE100"
In FTSE100, AVST and M&G cannot be found using their investing.com ticker.

Meanwhile, several stocks still needs to be picked up by using older ticker, such as natwest (RBS?), abrdn (SLA?)

[2022-01-06 01:19] coolfan123 commented on #501
where can i get the latest stocks.csv file?

[2022-01-10 07:15] TangentAlpha commented on #440
Can confirm this is a general issue in mainland China.

Sent the following POST request (extracted from `stocks.py` in the package):
[code]

And [here](https://github.com/alvarobartt/investpy/files/7837226/response.zip) was the response content received (i.e. the access was likely blocked by Investing.com).

Alternatively, the package `akshare` is usable in mainland China (VPN is not required).

[2022-01-13 18:24] qraxiss opened #505 "ERR#0015: error 503, try again later."
Is api down ?
![image](https://user-images.githubusercontent.com/92579832/149387530-e3118327-6eb9-450b-9fe4-a330773eab67.png)

[2022-01-18 17:33] Santunav opened #506 "Youtube"
Hi
Thankful to API.
Working great.

Can I use this api to for creating YouTube video.
Do I need to get copyright approval ?

Thanks

[2022-01-18 17:36] KalinNonchev commented on #488
@simona-juv
It would look like
[code]
but we still need better solution, otherwise it takes days to query the data for a bunch of stocks.

[2022-01-18 17:43] simona-juv commented on #488
@KalinNonchev thank you, it should work for the moment. But you're right, it would take ages.

[2022-01-19 20:34] addodelgrossi opened #507 "Error getting index from Brazil"
Trying to get an index of Brazil I'm encountering the error below, is there any particular

[code]

[2022-01-21 12:47] alvarobartt commented on #506
Hi, @Santunav feel free to use `investpy` as much as you want, and I'd love to watch the video once you upload it in case it's public! Thanks for the support ✨

[2022-01-21 12:47] #506 closed

[2022-01-23 10:20] leonbaldo opened #508 "Can't track some funds (even if present on investing.com list)"
Dear @alvarobartt,

first of all thank you for the great platform you developed for python users, you've achieved a wonderful result and you must be really proud!

I'm trying to exploit your project to track some funds. I managed to track only some of them; in fact I can't find the way to track some funds (e.g. 'Jpmorgan Funds - Global Healthcare Fund D (acc) - Usd LU0432979960'; 'Jpmorgan Funds -

[2022-01-23 13:42] Santunav opened #509 "Data retrieval error while retriving index information"
investpy.indices.get_index_information(index='Nifty IT', country='india', as_json=False)
----------------------------------------------------------------------------------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
/tmp/ipykernel_7399/1989462206.py in <module>
----> 1 investpy.indices.get_index_infor

[2022-01-24 16:35] alvarobartt commented on #509
Hi @Santunav, I've just tested it and it seems to be working fine on my side... :weary: Let me check if I can reproduce the issue somehow...

![image](https://user-images.githubusercontent.com/36760800/150824529-823fa63a-54bd-4fcc-85ea-4ad1539cbc4b.png)

[2022-01-24 16:37] alvarobartt commented on #509
@Santunav can you please make sure that you're using the latest `investpy` version (actually v1.0.7)?

[2022-01-24 16:39] alvarobartt commented on #509
Just to let you know, the bug that you're reporting was already reported at https://github.com/alvarobartt/investpy/pull/454, and fixed at https://github.com/alvarobartt/investpy/commit/b28401226dabab91cf2227d84620341c0d307410

[2022-01-24 16:40] alvarobartt commented on #509
Ok, it was fixed at some point but not released yet, so I'll just release `investpy v1.0.8` including some bug fixes so that you can use that function as expected! Sorry for the inconvenience :smile:

[2022-01-24 16:56] alvarobartt commented on #509
Please try to install the latest version as detailed in https://github.com/alvarobartt/investpy/releases/tag/1.0.8 so as to check whether the bug you mentioned here is already solved or not! 👍🏻 Thanks!

[2022-01-25 08:32] #509 closed

[2022-01-25 09:29] alvarobartt commented on #509
Thanks a lot @typhoon71 :hugs:

[2022-01-25 11:26] Santunav commented on #509
Thank you for your response and quick fix.😀

On Tue, Jan 25, 2022 at 2:59 PM Álvaro Bartolomé ***@***.***>
wrote:

[2022-01-25 18:50] neplach opened #510 "investpy.get_stock_dividends could not convert string to float"
Hello!

I get this error for some stocks:

[code]

i found this error with:
SO US8425871071
GIS US3703341046
MRK US58933Y1055
PFE US7170811035
MO US02209S1033
USB US9029733048
VZ US92343V1044
IP US4601461035
BEN US3546131018
CAH US14149Y1082
BMY US1101221083
HPE US42824C1099
MET US59156R1086
ALV@DE DE0008404005
FRE@DE DE0005785604
MUV2@DE DE0008430026

[2022-01-25 19:13] #510 closed

[2022-01-25 19:14] zinovevvv opened #511 "investpy.get_stock_dividends could not convert string to float"
Hello!

I get this error for some stocks:

In [2]: import investpy

In [3]: investpy.get_stock_dividends('USB', 'united states')
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-3-ba4c614a892b> in <module>
----> 1 investpy.get_stock_dividends('USB', 'united states')

/usr/local/lib

[2022-01-27 08:30] Santunav commented on #506
@alvarobartt

Thank you. Here is the video where I'm using investpy libraries .
Slide Indices and currency i'm using . I will try to use almost all slides.

https://youtu.be/I7bmJ3Duqxk

still I see some gaps in this library .I am opening other tickets.

Thank you

[2022-01-27 08:58] alvarobartt commented on #506
Yes indeed you're right, there's a lot of things to improve on `investpy`... Hopefully, I have enough time to tackle them all! 💪🏻

[2022-01-27 09:10] Santunav commented on #506
Thanks you have the will power, Let me know if I can support in any way .

On Thu, Jan 27, 2022 at 2:28 PM Álvaro Bartolomé ***@***.***>
wrote:

[2022-01-28 18:11] zengyixun opened #512 "call:investpy.get_stock_historical_data, ConnectionError: ERR#0015: error 503, try again later."
call:investpy.get_stock_historical_data, ConnectionError: ERR#0015: error 503, try again later.

[2022-02-03 04:21] ariansdq commented on #320
Hi @alvarobartt ,

first of all I would like to thank you as well on this great library.
Have you already been working on this Feature? It would be great to have "US Corn Futures Contracts" Data :-)

If you need any help, please let me know.

[2022-02-04 08:57] alvarobartt commented on #320
Hi @ariansdq, thanks for the kind words! And sorry for the delay, I didn't have as much time as I thought I would, that's why this is going slowly lately, but I'm trying to find some time to include all the features that the community proposes! :muscle:

I'll try to include this feature as soon as possible 🔥

[2022-02-06 14:10] mrkgoh opened #517 "Incredibly Slow Response"
Hi @alvarobartt ,

Firstly, thanks for your work. I use this package everyday.

Today 6 Feb 2022 10:08PM +8 GMT, I experienced a weird issue. I noticed that the response were terrribly slow, please see attached code:
[code]

When I use Chrome browser to visit: www.investing.com the page loads fine without a problem.

[2022-02-06 14:16] NSerbin commented on #508
I have the same issue.. if I use:
investpy.search_quotes(text='Franklin U.s. Opportunities Fund A (acc) Usd', products=['funds'], countries=['luxembourg'], n_results=1) it found it, but when i try to get more info cant found it

The ones i tried and failed are this:
{"id_": 1161427, "name": "Pictet - Robotics P Usd", "symbol": "0P00016UT6", "country": "luxembourg", "tag": "/funds/lu1279333675", "p

[2022-02-07 08:36] mrkgoh commented on #517
I found the issue with help of the following:
https://stackoverflow.com/questions/62599036/python-requests-is-slow-and-takes-very-long-to-complete-http-or-https-request

It is related to my ipV6 settings on my router. I restore the backup settings of the router and it fixed the issue.

[2022-02-07 08:36] #517 closed

[2022-02-07 09:23] alvarobartt commented on #517
Hi @mrkgoh, thanks for the information! 👍🏻 I think it's really useful to know that issue related to IPv6!

[2022-02-08 04:09] tuansacer commented on #224
Hello @MohammedAlawami . i found same issue now with pyinstaller 4.6 + investpy 1.0.8

Could you share me your way to fix this one ?

[2022-02-08 09:00] akasolace opened #518 "Cannot retrieve forward fx rate"
Is it possible with investpy to retrive quote for forward FX rate, for example:  	EURGBP 1Y FWD  ?

Thank you in advance for your help

[2022-02-09 10:43] vkhamesi commented on #484
Hi,

Not 100% sure about this, but after trying to debug your code and what the `get_stock_historical_data()` function in `investpy/stocks.py` really does, it seems (line 588) that it tries to check in the file `investpy/resources/stocks.csv` if the stock you are looking for (symbol: NIO, href: nio-inc) is in it or not. And after all, a quick search shows that NIO stock **is not** hard coded in th

[2022-02-09 20:06] diogoraucci commented on #153
Hi @alvarobartt ,

I juste report another error.
Here is another stock that generates incorrect data:
invt.stocks.get_stock_company_profile('PTBL3', country=('brazil'), language='en'), index=[0]
ConnectionError: ERR#0015: error 404, try again later.

(https://www.investing.com/equities/pbg-sa-company-profile?cid=18761)

The company Profile is there , in the website, but i cant get him whit python.

[2022-02-10 13:14] samprits5 opened #519 "Missing Steel Scrap Futures and Steel Rebar Futures Data"
We have the data in Investing.com about Steel Scrap Futures and Steel Rebar Futures commodities, but we can not scrape them due to the missing entry in the **commodities.csv** file.

[2022-02-10 14:26] odufb opened #521 "Stock comments"
Hi,

first of all thanks to great efforts about this project.
I wonder    if it is posiblle to add a function that can post  comments to specified stocks. I have scripts that scan some formations and when script find a specific formation  of a stock I would like to post that information as comment of stocks. I hope it is clear explanation.

best regards

[2022-02-12 10:38] Aguther70 opened #522 "ERR#0015: error 429, try again later."
Hi alvarobartt,

Taken your example, I´m still facing the same issue:

df = investpy.get_stock_historical_data(stock='AAPL',
                                        country='United States',
                                        from_date='01/01/2010',
                                        to_date='01/01/2020')
print(df.head())

ConnectionError: ERR#0015: error 429, try again later.

Do you kno

[2022-02-12 21:17] Featuredutka commented on #511
Hi, same problem here - I am looping through a list of stocks and getting dividents, but recently after adding a couple of new positions got that error as well:
[code]
Code I am using to get dividents:
[code]
I managed to deal with this error by simply skipping stocks with such an error by using try/except clause like this:
[code]
if it is possible to fix this issue, I would be glad to help contri

[2022-02-16 15:46] brianivander commented on #434
Any updates on this? I'm having the same problem

[2022-02-17 08:10] alvarobartt commented on #434
Hi @vrancovich sorry for responding so late to this issue, I don't have too much time lately :weary: Regarding the issue that you mentioned with `investpy.search_quote` function as its using Investing.com Search Engine, I assume the issue may be on their side, anyway, let me check!

I'll report you both @vrancovich and @brianivander back once I figure out what can be happening!

[2022-02-17 08:16] alvarobartt commented on #434
Ok so I've just tested it and it seems to be working on my side...

![image](https://user-images.githubusercontent.com/36760800/154433654-017bd593-fc6a-41c7-af03-5dbd0f7ac5dc.png)

Can you please provide me with more details on what's the exception that is being thrown? As well as more details such as the `investpy` version that you're using, your Python version, etc. Thanks!

[2022-02-17 08:16] #434 closed

[2022-02-19 17:48] aphi commented on #484
The third-to-last column in `stocks.csv` is an ID used by investing.com (rather than an arbitrary insertion index), so it must be correct.

I created a script [here](https://gist.github.com/aphi/b68b1fd585db931e455e7285c7702166) to extract and format these values.

Since I was already creating a PR to add a stock for my own purposes, I included NIO along with mine: https://github.com/alvarobartt/i

[2022-02-19 17:52] aphi commented on #456
Just in case you're doing this again, I created a script [here](https://gist.github.com/aphi/b68b1fd585db931e455e7285c7702166) to extract and format a complete row entry in stocks.csv based on the url on investing.com

[2022-02-19 21:34] albe-jj opened #526 "Question on endpoint"
HI Alvaro, thank you for the nice package.

I've been looking into the request you make to the server, and I was wondering how did you find the endpoint. I was trying to build a scraper myself befor finding your package but using chrome inspector I could only find this endpoint  `https://api.investing.com/api/financialdata/47374/historical/chart/`
`params = (
    ('period', 'MAX'),
    ('interval'

[2022-02-23 02:05] kth2 opened #530 "how to resolve ConnectionError: ERR#0015: error 429?"
Hi @alvarobartt ,
I know the rootcause of this error 429, I accidentally running multiple request and exceeded the limitations of the Investing.com and caused getting blocked.
Function: investpy.get_stock_historical_data
country: Malaysia

May I know how to resolve it? or I need to wait until next day it get released from blocking? Please advise.

[2022-02-24 01:58] wongfred88 opened #531 "Error when importing investpi in Raspberry Pi Zero python3"
hi there
I encountered an error when importing investpi in python3 with Raspberry Pi Zero. Here are the code:
===============

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.9/dist-packages/investpy/__init__.py", line 7, in <module>
    from .bonds import (
  File "/usr/local/lib/python3.9/dist-packages/investpy/bonds.py", line 13, in <modul

[2022-02-24 03:12] wongfred88 commented on #531
Oh, it works now by installing "sudo apt-get install libxslt-dev", thanks.

[2022-02-24 03:12] #531 closed

[2022-02-25 14:29] MetalComm commented on #279
Hi. I added a commodity (Dutch TTF, line 68), but I don't see any changes. Do you need to confirm the change? Thank you very much!

[2022-02-26 17:45] PierreF66 opened #533 "Accented character handling"
Sample fund :
    isin : FR0010341800
    name : Palatine Planète I
    country : france

`search_result = investpy.search_quotes(text='FR0010341800', countries=["france"])`
Return {"id_": 1153230, "name": "Palatine Plan\u00e8te I", "symbol": "0P00006EG3", "country": "france", "tag": "/funds/palatine-planete-a", "pair_type": "funds", "exchange": "Paris"}
where "\u00e8" is char "è"

On the other si

[2022-02-28 01:40] bitcloudx commented on #533
The only one I could find in the csv file is Palatine Planète A. When I checked that was the correct one. I have submitted a PR to fix this in the future for others.

[2022-02-28 10:47] PierreF66 commented on #533
Ok thank for change.
I understood that investpy.search_quotes() retrieve live informations and investpy.funds.get_fund_historical_data() use static ressources. The best way is to use search_result[0].retrieve_historical_data()
Thank for your job !

[2022-03-03 12:20] BWF88 opened #535 "tickers exist on website but impossible to find with api"
Hi, thanks for this great tool. I was looking around in the HK equity market and noticed that some tickers are recognized on the website but can't download the historical data using the api . For example, LI Auto Inc's ticker is 2015 and it is recognized on the investing.com website. But when I try to download the data with the api using python, I get the following error message:
ERR#0018: stock 2

[2022-03-08 05:02] jimmylai-hk opened #536 ""Hang Seng TECH" indics not found in investpy.indices.get_indices(country='hong kong')"
Hi,

FIrst of all, many thanks for your excellent contribution.

I'm able to find the Hang Seng TECH indics in the link below.

https://www.investing.com/indices/hang-seng-tech-historical-data

and able to see the the overview by using the following API.

investpy.indices.get_indices_overview('hong kong', as_json=False, n_results=10)

Below is the extracted result.

8 | hong kong | Hang Seng TECH

[2022-03-08 12:26] OGsiji commented on #535
Same here; this thread might help [((https://stackoverflow.com/questions/65323421/python-investpy-package-to-get-data-of-nifty50-index-get-stock-historical-dat))]

You can do a searching by the country using their api

[2022-03-08 12:27] OGsiji commented on #535
[](https://stackoverflow.com/questions/65323421/python-investpy-package-to-get-data-of-nifty50-index-get-stock-historical-dat)

[2022-03-09 14:32] OGsiji opened #537 "No section for bond rates"
Hello, I am trying to extract 2 bond rates USGGT10Y 10yr TIPS Yield and USYC2Y10 2Y10Y Treasury Term Premium. when I checked the resources, I could not see any bond-rate there.
Recommendations will be appreciated.

[2022-03-11 15:44] datatalking opened #540 "example folder not rendering"
When I click https://investpy.readthedocs.io/_info/usage.html and try to access the examples folder https://github.com/alvarobartt/investpy/tree/master/examples it gives the below error.

<img width="1211" alt="Screen Shot 2022-03-11 at 7 42 54 AM" src="https://user-images.githubusercontent.com/11813209/157899979-d54c704f-c5d4-4dc3-9e0d-31c66be32e58.png">

If you let me know how I could help contr

[2022-03-11 17:32] datatalking opened #541 "The search api function is giving an error"
When I click on the 'search api' link it generates this page in error.

https://investpy.readthedocs.io/search_api.html

<img width="654" alt="Screen Shot 2022-03-11 at 9 32 30 AM" src="https://user-images.githubusercontent.com/11813209/157918306-9b1fd99a-1b5b-4bb2-8c7c-222cd37ec674.png">

[2022-03-11 18:51] IsraaMa commented on #505
It appears to be a generalized error, there are multiple issues submitted regarding this same problem.

[2022-03-12 20:58] trekco opened #542 "error when calling get_currency_cross_information"
get_currency_cross_information not working. looks like the div where class='overviewDataTable' does not exit anymore.

[code]

getting the error
[code]

using investpy 1.0.8

[2022-03-13 07:34] ymyke commented on #530
You can either wait or use a VPN to change your IP address.

[2022-03-13 09:37] ymyke opened #543 "Add `pypme` to your "Related Projects" section"
@alvarobartt I just released v0.2.0 of https://github.com/ymyke/pypme which helps calculate the PME (Public Market Equivalent) for an asset. This latest version adds support to query the PME prices in real time via your `investpy` package.

I think it would make a nice addition to your "Related Projects" section in the README.

[2022-03-13 10:40] af20 commented on #489
I have the same issue

[2022-03-13 10:40] af20 opened #544 "ConnectionError: ERR#0015: error 429, try again later."

[2022-03-14 02:44] bitcloudx commented on #542
I don't think your using that correctly. have you tried
data = investpy.get_currency_cross_historical_data(currency_cross='EUR/USD', from_date='01/01/2018', to_date='01/01/2019')

or

data = investpy.get_currency_cross_recent_data(currency_cross='EUR/USD')

Those are working just fine. If you going to use get_currency_cross_information I believe you have to call currency_crosses in before that.

[2022-03-14 06:56] mrkgoh commented on #489
You need to pace your query with investing.com. I applied an auto sleep function for a list of stocks.

[2022-03-18 11:10] ymyke commented on #543
Here you go:
https://github.com/alvarobartt/investpy/pull/545

[2022-03-21 02:49] datatalking commented on #420
Is it only this country, this date range, this stock or?

[2022-03-23 13:29] TimdBui opened #547 "Code to download the components of the indices"
Hi Alvaro,  does Investpy have a code to download all of the components of an index?
For example, how to download the components of the S&P500 as listed in this page pf Investing.com:
https://www.investing.com/indices/investing.com-us-500-components

Thank you!!!

[2022-03-27 06:24] NSerbin commented on #508
I add this one:

`spain,Morgan Stanley Investment Funds - Us Growth Fund A,0P00000BN2,ms-us-growth-fund-a-usd,1073187,Morgan Stanley Investment Management (ACD) Limited,LU0073232471,equity,USD,`

Need edit and add the `Usd` in the name, cuz u have 2 similar Funds one for EUR and one for USD

[2022-03-27 09:46] ymyke commented on #543
Any chance to add the PR, @alvarobartt ?

[2022-03-28 11:49] ymyke commented on #543
Thanks!

[2022-03-28 11:49] #543 closed

[2022-03-29 09:43] lymadvisors opened #548 "STOP DOWNLOADING ANY SERIES PRICE"
I have version 1.0.8, I use to download prices everyday, but two days ago it doesnt download them anymore

IndexError: ERR#0033: information unavailable or not found.

dont know what to do

[2022-04-08 06:33] technqvi opened #551 "ERR#0043: no results were found for the introduced name."
Hi
I search for the desired fund ob [https://www.investing.com/funds/](https://www.investing.com/funds/) in order to apply this function investpy.funds.search_funds(by, value)  to get this fund.

No matter what parameter I take into this function, it returns no result despite the fact that  this fund is searchable on  https://www.investing.com/funds/
What is the cause of this issue?
This screensho

[2022-04-08 07:29] 5xcor opened #552 "economic_calendar - wrong UTC time shift"
Hi,

I have this code:
`
t=dt.datetime.utcnow()
t1=t+ dt.timedelta(days=1)
dfInv = inv.economic_calendar(from_date=t.strftime('%d/%m/%Y'),
                                to_date=t1.strftime('%d/%m/%Y'),
                                      countries=["United States","euro zone","japan","united kingdom","canada","australia"],
                                      importances=["high","medium"],tim

[2022-04-08 08:11] 5xcor commented on #552
Mayby is problem with DST?

[2022-04-08 19:57] sasi-mohan opened #553 "Connection Reset Error"
Hi,

we are downloading the historical data from investing.com for so many months now. For the past couple of weeks, the extract has been failing 50% of the time with a connection error. I did upgrade to the latest version of the package, and after all the troubleshooting, I found that if I restrict the time frame from 2001 to 2020, I'm able to extract the data with no errors.

Can you please help

[2022-04-09 13:42] ymyke commented on #553
What is the code that produces this error?

[2022-04-09 22:20] marcelopc2 commented on #164
Any luck with this?

[2022-04-11 18:25] sasi-mohan commented on #553
Natural_Gas = investpy.get_commodity_historical_data(commodity='Natural Gas',from_date='01/01/2001',to_date='31/12/2025')

[2022-04-11 19:32] sasi-mohan commented on #553
Update: I ran the same command on my local machine (windows) and I never got any error. But the same command on the Linux machine (which used to run fine before) is throwing the Connection reset error. Even if I limit the number of years range, still 50% of the time, the fetch is failing.

[2022-04-11 19:45] ymyke commented on #553
Do you have some rather short timeouts configured re networking on your Linux machine that sometimes trigger and sometimes don't?

[2022-04-11 21:42] sasi-mohan commented on #553
nothing of that sort...there was no change in any of the settings...it's been working just fine couple of weeks ago...

[2022-04-18 12:28] pardeshishivam commented on #57
Hello there Alvaro,
I too had the same query.
I tried your earlier vode of for loop but it shows run time error 520.
I am not sure you are aware but there is a similar library nsepy which I used for Indian markets it distinguishes stocks very diligently under different columns and we can append the list with ease

[2022-04-25 15:30] EM5813 opened #554 "ModuleNotFoundError: No module named 'investpy"
Receiving the error:  ModuleNotFoundError: No module named 'investpy'

- - - - - -
module: main.py
import investpy
- - - - - -

In vim the command `! clear; python3 main.py ` generates the error: _ModuleNotFoundError: No module named 'investpy'_

Although `! clear; python main.py` works.  Using python 3.7

[2022-04-25 16:18] bitcloudx commented on #554
Did you install investpy?

[2022-04-25 16:45] EM5813 commented on #554
Yes. See attached pipfile
<img width="258" alt="Screen Shot 2022-04-25 at 9 43 54 AM" src="https://user-images.githubusercontent.com/24214863/165135189-0cdcd631-149a-4497-bd44-0791ce7622de.png">

[2022-04-25 19:15] fearles7810 commented on #440
Hello,
 import requests
headers_param = {"User-Agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.113 Safari/537.36"}
df = investpy.get_stock_historical_data(stock='AAPL',
                                        country='United States',
                                        from_date='01/01/2010',

[2022-04-27 00:38] rrickgauer opened #555 "Is there a way to search by id_"
Is there possibly a way to search/get data by the `id_`?

[2022-04-27 15:14] gahoccode opened #556 "Get list of stocks in a country?"
Hi,

Is there a way I can get a list of all stocks available in a country of choice?

[2022-04-29 11:48] #203 closed

[2022-04-30 07:43] ymyke commented on #493
Is this still an issue? I wrote a helper package to make life easier w/ investpy. You can use it to resolve this problem too.

Check it out here: https://github.com/ymyke/tessa

For your issue:

[code]

[2022-04-30 08:11] ymyke opened #557 "Use tessa package to work around some of the common issues like 429 or seemingly non-existent assets"
I wrote the [**tessa package**](https://github.com/ymyke/tessa) to make my life easier when trying to retrieve price information for financial assets. Main features:

- Unified access to investing and coingecko information. Uses investing/investpy for everything other than crypto. For crypto, it uses pycoingecko b/c investing.com's crypto data is very limited.
- Unified search and access via all p

[2022-04-30 08:14] ymyke commented on #544
I wrote the tessa package to help with issues such as these. See here:
https://github.com/alvarobartt/investpy/issues/557

[2022-04-30 08:15] ymyke commented on #530
I wrote the [tessa package](https://github.com/ymyke/tessa) to help with issues such as these. See here: https://github.com/alvarobartt/investpy/issues/557

[2022-04-30 08:15] ymyke commented on #522
I wrote the [tessa package](https://github.com/ymyke/tessa) to help with issues such as these. See here: https://github.com/alvarobartt/investpy/issues/557

[2022-04-30 08:16] ymyke commented on #488
I wrote the [tessa package](https://github.com/ymyke/tessa) to help with issues such as these. It also implements a more generic solution to the 429 error. See here: https://github.com/alvarobartt/investpy/issues/557

[2022-04-30 08:16] ymyke commented on #494
I wrote the [tessa package](https://github.com/ymyke/tessa) to help with issues such as these. See here: https://github.com/alvarobartt/investpy/issues/557

[2022-04-30 08:16] ymyke commented on #498
I wrote the [tessa package](https://github.com/ymyke/tessa) to help with issues such as these. It helps access coingecko for crypto data. See here: https://github.com/alvarobartt/investpy/issues/557

[2022-04-30 08:56] ymyke commented on #535
I wrote the [tessa package](https://github.com/ymyke/tessa) to help with issues such as these. See here: https://github.com/alvarobartt/investpy/issues/557

In your case you could do:
[code]

[2022-05-02 15:42] VGEng2 opened #559 "Problem in finding ETFs with investpy"
Hi @alvarobartt ,

and thank you for this very useful and complete python module.

I have just discovered it and easily starting using and enjoying it. Thank you again for this.

As part of the exercise I was trying to retrieve ETFs data, which I understand can be done only looking by name. To be sure to get the right name I am using the search_quotes tools as, such that, given the ETF symbol I fi

[2022-05-02 19:57] jjdd2 opened #560 "Complication using get_cryptos_overview()"
Good afternoon, everyone,

Scrapping using get_cryptos_overview is currently failing me, likely due to some change in Investing.com's page at https://www.investing.com/crypto/currencies. The error is at follows:
RuntimeError: ERR#0092: no data found while retrieving the overview from Investing.com

![image](https://user-images.githubusercontent.com/104793441/166315002-7dc20e9c-93e2-4aae-a251-24329

[2022-05-02 20:05] #555 closed

[2022-05-03 14:50] avinash-br opened #561 "not complete fundamental data"
Unable to fetch complete financial information like categories and quick ratios from the fundamental data section.

[2022-05-04 09:36] ymyke opened #562 "Package still maintained? Get more people involved?"
Hi @alvarobartt – thanks for all the great work here!

Are you still actively maintaining the package? It feels like commits are rather sparse and open issues are piling up.

It would be a shame if the package became stale. Maybe there is a chance to get more people involved as contributors to the code and helping to take care of issues. I for one would be willing to help with the issues (and mayb

[2022-05-05 06:14] matteofr commented on #53
i have a similar problem. am i doing something wrong?

[code]

[2022-05-05 07:25] alvarobartt commented on #562
Hi, @ymyke so the last months have been crazy for me and I didn't have too much time, but I'm hoping that this summer I'll have free time so my plan is to completely refactor `investpy` and provide a better and more consistent version. So yes, it's still maintained and I've some cool ideas to develop, just missing some time...

Regarding the contributions sure, but since I'm planning a refactor I

[2022-05-05 09:23] af20 commented on #544
But tessa does not support commodities.

df, currency = price_history(query="Crude Oil WTI", type_="commodities") ===> ValueError: Unsupported asset type commodities.

How can I do?

[2022-05-06 08:55] ymyke commented on #544
"commodity" was missing as a type. I just published v0.2.0. If you update to that version of tessa, you should be able to do:

[code]

[2022-05-07 18:33] Ticke123 opened #563 "SGX nifty indice is not there"
Hi Team,

Sgx nifty of singapore is not there.Can you please add it

[2022-05-08 04:00] Mintsong42 commented on #511
Added error list:

KO US
PEP US
O US

[2022-05-20 14:41] vincentli2017 opened #569 "Some stocks are missing"
For example, there's no Coinbase (ticker: COIN) stock in investpy.get_stocks().

[2022-05-21 15:59] PPMNUTRA opened #570 "Hello, I'm having trouble finding the daily Dolar Index Future"
{"id_": 1182839, "name": "US Dollar Index Futures", "symbol": "DXc3", "country": "united states", "tag": "/currencies/us-dollar-index?cid=1182839", "pair_type": "fxfutures", "exchange": "ICE"}
{"id_": 1182838, "name": "US Dollar Index Futures", "symbol": "DXc2", "country": "united states", "tag": "/currencies/us-dollar-index?cid=1182838", "pair_type": "fxfutures", "exchange": "ICE"}
{"id_": 8827,

[2022-05-23 02:57] loongfw opened #571 "Fail to retrieve all requested etfs #2800 (Tracker Fund of Hong Kong)"
Hello, I can't find data of 2800 (Tracker Fund of Hong Kong) using the following command. Thank you.

df = investpy.etf.get_etf_historical_data(etf='Tracker Fund of Hong Kong', country='Hong Kong', from_date='01/01/2019', to_date='01/01/2022')

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
~\A

[2022-05-23 09:49] ymyke opened #572 "Bonds don't take country and don't provide currency"
Two issues with `get_bond_historical_data`:

1. Doesn't accept country parameter even though there is even a `get_bond_countries` function.
2. Returns a dataframe without currency information.

[2022-05-23 09:50] ymyke commented on #557
@alvarobartt Could you pin this issue? I think it can be helpful for many people seeking help.

[2022-05-23 10:45] snvv opened #573 "Problem with tickers"
Hello and thank you for your valuable package.
I have found a problem for stocks traded in various markets in the same country. For example, J&J is traded with the same ticker JNJ in TradeGate, Frankfurt and Xetra and as a results the prices can not be downloaded.
Probably, the problem will be solved if you add the field "excenges" in investpy.get_stock_historical_data finction
Regards
Sotiris

[2022-05-23 19:19] 73 opened #574 "ERR#0004 on retrieve_information"
Hi,

I am not sure what exactly i am doing wrong here:

[code]

yields:
[code]

I am running investpy 1.0.8.

[2022-05-25 22:53] datatalking commented on #556
@vincentli2017 I was looking for a list in total of what the README.md says the repo offers. How do people know what stocks, or security to analyze if there is no list? I could help add one for documentation.

[2022-05-28 04:17] wisoez opened #575 "investpy.technical doesn't support crypto"
ValueError: ERR#0119: product_type='crypto' value does not exist. Available values are: certificate, commodity, currency_cross, etf, fund, index, stock, bond.
Can you help me resolve it! Thank you very much!

[2022-05-30 17:33] Hcevahir34 commented on #275
Hi!
Could you solve this problem? Because I'm a new investpy user and though I've installed this library, I couldn't run the below code. I got this error:

"import investpy
df = investpy.get_stock_historical_data(stock='AAPL',
country='United States',
from_date='01/01/2010',
to_date='01/01/2020')
print(df.head())"

".........in get_stock_historical_data
    raise ConnectionError(
ConnectionError:

[2022-05-31 12:12] HJNVR commented on #491
I got the same issue. It runs smoothly for nearly one whole month and it suddenly failed. Does anyone have solutions yet? I kind of need it urgently. Thx

[2022-06-05 04:47] datatalking opened #581 "Contribution - In getting started, is "TODO" supposed to be filled out?"
I'm new to the investpy platform and while going through the introduction via https://investpy.readthedocs.io/_info/introduction.html, I noticed there is a "TODO" under Getting Started.

Is that a note for future expansion of the processing of getting started? I put the exact same note in my code so thought you might have been planning to fill it out. I could work on that as my first contribution,

[2022-06-13 09:49] gahoccode commented on #562
That's actually very helpful, thank you so much!

[2022-06-13 10:02] gahoccode opened #583 "Feature for stock intrinsic value calculation such as free cash flow and discounted cash flows?"
Please can you add a function to get free cash flow from the stock fundamentals. For example:https://www.investing.com/equities/sao-ta-foods-jsc-cash-flow

and eventually calculate stock intrinsic value?

[2022-06-15 09:48] GSLabIt opened #584 "Adding interval_sec as parameter in SearchObject.retrieve_historical_data and SearchObject.retrieve_recent_data"
Hi there,

would be possible to add a parameter `interval` and forward it to:

https://github.com/alvarobartt/investpy/blob/1b7d89c42ca06e5733a3e7beab119027770253c2/investpy/utils/search_obj.py#L481

and

https://github.com/alvarobartt/investpy/blob/1b7d89c42ca06e5733a3e7beab119027770253c2/investpy/utils/search_obj.py#L504

Thanks

[2022-06-15 18:00] varlmes opened #585 "Chinese Metal Commodities"
Just couldnt figure out how to get Magnesium future in China using investpy.

https://www.investing.com/commodities/magnesium-99.9-min-china-futures-technical.

 the ticker symbol of magnesium that is 99C-MGSM

investpy.get_commodities_overview(group="metals") doesnt cover this commodity.

Many thanks.

[2022-06-19 04:52] datatalking commented on #554
@EM5813 this is a common PATH or install module issue for new users. I'm not a vim user but google something like "vim PATH issues investpy" but the issues are for bugs not install. Perhaps we could expand the simplicity of the install documentation. @alvarobartt I could help with this if you agree.

[2022-06-19 04:57] datatalking commented on #256
@arainboldt and @alvarobartt regarding the data, if it is being lost perhaps persistent data might be a solution? I'm expanding my algorithmic trading stack this summer and your repo is high on my list to integrate. Would parquet files or a sqlite mysql database work?

[2022-06-20 09:09] alvarobartt commented on #256
Hi @datatalking thanks for proposing those file formats, anyway I still need to think about how am I going to refactor it, according to my development plan I should start in a couple of weeks and the refactor will thoroughly remove the static files if possible, otherwise I may use a cloud storage account from AWS or GCP so as to store those files there with a cloud function that runs every week to

[2022-06-23 14:19] wajihwajeh commented on #544
How long is the timeout for?

[2022-06-23 14:36] ymyke commented on #544
1 second – it's set here: https://github.com/ymyke/tessa/blob/master/tessa/rate_limiter.py

[2022-06-23 14:46] wajihwajeh commented on #544
I got this error using investpy and now I can't run any search through investpy without receiving that error and I get the same error trying to run it through tessa, however, this is only for currency crosses, I checked with stocks and the search on investpy goes through

[2022-06-23 14:52] ymyke commented on #544
Maybe investing.com has separate rate limiting for each API endpoint. Either wait >24h and try again or use a VPN to change your IP address and then try again and see if the problem still occurs.

[2022-06-23 15:23] wajihwajeh commented on #544
using VPN works thank you

[2022-07-05 15:26] JustMyD commented on #554
@EM5813 https://realpython.com/lessons/why-cant-python-find-my-modules/
this is what i find.
using "python3 script.py" fixed this problem for me

[2022-07-10 15:43] gmode22 opened #587 "Please add Share Split Calendar"
Hi @alvarobartt ,
Thanks for great api. I have been using economic calendar. But it will help if I could get **Share Split Calendar**.

The link for it is - [https://in.investing.com/stock-split-calendar/](url)

**I want have Share Split Calendar for a given country.**

Thanks. Please find screenshot below.

![image](https://user-images.githubusercontent.com/14137540/178151798-af87cee9-d6da-4775-b

[2022-07-16 03:54] reisenmachtfreude opened #588 "investpy.search_stocks by ISIN delivers no result even if it can be found on investing.com"
The following code:
[code]
results in an error:
[code]
However, if I search for the ISIN on investing.com the stock is listed:
https://www.investing.com/equities/home24?cid=1081721
![image](https://user-images.githubusercontent.com/13700219/179338075-d860ef79-b303-4afb-ba9a-0a774a1a37ed.png)

Thanks for your help

[2022-07-16 08:21] gmode22 commented on #587
Hi @nicolasakf,
I see that you recently added **earnings_calendar**.  Can you please add **Stock Split Calendar ** to your branch.

Thanks
gmode22

[2022-07-25 15:10] woreom opened #589 "Getting historical data of economic calendar"
Hi, first of all, thank you for the great package.

I'm trying to get the historical data of economic news such as GDP and ADP and etc, your package doesn't have such a function?
I read your code, and it seems you're creating a head and data for your request, can you help me do the same thing for my task as well?

I have gathered the URL name of most of this news for example, "https://www.investin

[2022-07-25 21:46] Hcevahir34 commented on #440
Merhaba, bahsettiğniz soruna çözüm bulabildiniz mi? Aynı hatayı ben de alıyorum. Python ve Pycharmı silip yeniden yüklememe rağmen çözüm bulamadım. Bir çözüm bulduysanız ve paylaşırsanız sevinirim. Teşekkürler.

[2022-07-26 22:39] lstavares84 opened #590 "New Brazilian Symbols Not Being Found"
The following symbols of brazilian companies are not being found when get_stock_historical_data() is being called:

RECV3 - https://www.investing.com/equities/petroreconcavo
CBAV3 - https://www.investing.com/equities/companhia-brasileira-de-aluminio
RZAG11 - https://www.investing.com/equities/fi-nas-cadeias-prod-agroind-riza
DEVA11 - https://www.investing.com/equities/devant-recebiveis-imobiliario

[2022-07-27 07:11] ymyke commented on #590
You can use the `SearchObj` to get such symbols. Like so, using package tessa (https://github.com/ymyke/tessa):

[code]

You can find the `SearchObj` like so:

[code]

[2022-07-31 01:21] kartickvad opened #591 "403 when getting historical data"
Thanks for building and running this project.

I'm trying to run the sample code from https://pypi.org/project/investpy/:
[code]

and I'm getting a 403:
[code]

I tried five times over 12 hours, so it's not transient.

Is there another way to make it work? Apologies if it's a mistake on my side.

[2022-08-02 06:47] ymyke commented on #591
Your command should work. Did you try again (much) later?

[2022-08-02 07:02] kartickvad commented on #591
I tried now, and it again didn't work.

[2022-08-02 07:10] ymyke commented on #591
Strange. It works when I run it.

Maybe you're blocked for good by investing.com for some reason? Did you access the site excessively?

You could try to change your IP address w a VPN software.

[2022-08-02 07:53] kartickvad commented on #591
Thanks for helping. I tried tethering via my phone, and the same problem occurs.

[2022-08-02 12:57] ymyke commented on #591
Very odd – your code works as expected in my environment.

[2022-08-02 12:58] ymyke commented on #591
Can you access investing.com from a browser and lookup AAPL?

[2022-08-03 00:54] kartickvad commented on #591
Works.
![image](https://user-images.githubusercontent.com/24665612/182501306-df62f070-9321-4695-8494-bba4fa055cf7.png)

[2022-08-03 06:22] ymyke commented on #591
Then I can't think of anything else I'm afraid.

[2022-08-08 03:51] aalvero commented on #518
Beeing able to query forward rates would be huge improvement! Forward rates are hard to get for free in any data base.

[2022-08-09 19:39] fatihhguvenn commented on #440
You should change your IP, Turkey is blocked by that service. Try VPN or setup your own VPN on a server not located in Turkey

[2022-08-17 19:49] GitHunter0 opened #597 "investpy stopped working completely today"
All of sudden every `investpy` retrieval functions stopped working today, throwing `ConnectionError`. Any idea what's happening?

Example:
[code]
Returns `ConnectionError: ERR#0015: error 429, try again later.`

Thank you

[2022-08-17 19:52] ymyke commented on #597
Just wait, as the message says. It'll work again eventually.

[2022-08-21 09:19] ozgurcelen commented on #544
Evet bu hata ülkenin sınırlamasıyla ilgili. VPN kullandığımız zaman problem ortadan kalkıyor.

[2022-08-26 11:23] dnkls opened #598 "Good solution but,"
A very good data collection solution with Investing.com but not enough , add please https://www.investing.com/earnings-calendar.

[2022-08-31 12:51] marccal commented on #597
Yesterday detected the same problem. Are working for you or the problems continue??

[2022-09-15 13:26] younggotti commented on #591
Same here. This stopped working today:
`ibex = investpy.get_index_historical_data(index='IBEX Total Return', country='spain', from_date='01/01/2020', to_date='01/01/2021')`
I also tried changing my ip but it didn't work...

[2022-09-15 15:56] Exganza commented on #591
Stopped working today
tasi = investpy.indices.get_index_historical_data('Tadawul All Share', country='Saudi Arabia', from_date='01/01/2019', to_date=today, as_json=False, interval='Daily')

[2022-09-15 16:16] mobinzk commented on #591
I've the same issue, from my investigation https://www.investing.com/instruments/HistoricalDataAjax seems to be discontinued!

[2022-09-15 16:25] divyankm opened #600 "ConnectionError: ERR#0015: error 403, try again later."
Hi,

I am getting `ConnectionError: ERR#0015: error 403, try again later.`  while trying to use `get_historical_data`

Code-
[code]
Error-
[code]

[2022-09-15 17:00] mobinzk commented on #600
I've the same issue, from my investigation https://www.investing.com/instruments/HistoricalDataAjax seems to be discontinued!

[2022-09-15 17:26] PatiPimenta commented on #600
I've the same issue.

[2022-09-15 20:24] campernate commented on #600
Same issue, any update on this?

[2022-09-16 00:16] Sebara0 commented on #600
I have the same
accion = 'AAPL'
search_result = investpy.search_quotes(text=accion, products=['stocks'],
                                       countries=['united states'], n_results=1)

  File "D:\Python39\lib\site-packages\investpy\search.py", line 127, in search_quotes
    raise ConnectionError(f"ERR#0015: error {req.status_code}, try again later.")
ConnectionError: ERR#0015: error 403, try aga

[2022-09-16 01:02] lstavares84 commented on #600
Same here.

[/usr/local/lib/python3.7/dist-packages/investpy/stocks.py](https://localhost:8080/#) in get_stock_historical_data(stock, country, from_date, to_date, as_json, order, interval)
    663         if req.status_code != 200:
    664             raise ConnectionError(
--> 665                 "ERR#0015: error " + str(req.status_code) + ", try again later."
    666             )
    667

Conne

[2022-09-16 01:53] cypresswang commented on #600
Same here. Did some research and it seems error 403 indicates that the server understands the request but refuses to authorize it.

[2022-09-16 02:09] nicklatin commented on #600
You can still pull the economic calendar but everything else seems to be returning a 403.

[2022-09-16 02:51] drnarc commented on #600
Also confirming get_index_historical_data yields "ConnectionError: ERR#0015: error 403, try again later" (tried multiple US symbols) but econ calendar still works. Was working yesterday

[2022-09-16 06:26] alvarobartt commented on #600
Hi everyone! I've checked this issue and it seems that the internal API that Investing.com uses has changed without prior notice, as this is not an official implementation. Sorry for the inconveniences, this issue will be solved in the upcoming days, hopefully today I'll push a patch to solve this, I'll share later on with you the branch where I'm working actively to solve this!

[2022-09-16 07:02] rgerbranda commented on #591
Same issue here, investpy stopped working yesterday, error 403
[code]

[2022-09-16 07:48] alvarobartt commented on #591
Hi everyone, please check https://github.com/alvarobartt/investpy/issues/600, I'm currently fixing it, the patch shouldn't take too long! Hopefully by the end of the day :smile:

I'll post more information at https://twitter.com/alvarobartt/status/1570661023262310402

[2022-09-16 09:02] alvarobartt commented on #600
Both `get_stock_recent_data` and `get_stock_historical_data` are fixed in https://github.com/alvarobartt/investpy/tree/403-patch, I'll add the comments of the fix in an upcoming PR! In the meantime, you can install the latest `investpy` version from `403-patch` branch as `pip install git+https://github.com/alvarobartt/investpy@403-patch`

[2022-09-16 09:12] alvarobartt commented on #600
Hi again everyone, feel free to track the progress of the patch at https://github.com/alvarobartt/investpy/pull/602 :hugs: I'd also appreciate some feedback from the ones testing it, thanks!

[2022-09-16 09:20] Development-Platforms commented on #600
Commodity historical data not working

investpy.get_commodity_historical_data

ConnectionError: ERR#0015: error 403, try again later.

[2022-09-16 09:33] divyankm commented on #600
Hi @alvarobartt , `get_historcal_data` is working. `get_index_historical_data` is not working.
``
Code-
[code]
Error-
[code]

Really Appreciate your efforts. Thank you so much.

[2022-09-16 09:46] MetalComm commented on #600
Could anyone help me on how to install the patch? Python gives me an error

[2022-09-16 09:59] divyankm commented on #600
@MetalComm  Which IDE you are using,
For Colab IDE Use >> `!pip install git+https://github.com/alvarobartt/investpy@403-patch`
For other IDE, check with the `pip` version or try using `pip3` for python version `3+`

[2022-09-16 10:04] MetalComm commented on #600
thank you, but... is the URL correct? Beacause I get this error:
_Could not install requirement https://github.com/alvarobartt/investpy@403-patch because of HTTP error 404 Client Error: Not Found for url: https://github.com/alvarobartt/investpy@403-patch for URL https://github.com/alvarobartt/investpy@403-patch_

[2022-09-16 11:17] srinivasakumar-a commented on #600
Did installed the patch and tried to run my programs, but still getting the same `ConnectionError: ERR#0015: error 403, try again later.`

BTW, I'm using the below:
[code]

[2022-09-16 11:58] alvarobartt commented on #600
Soooo it seems that it was working like 1 hour away or so and now suddenly stopped working again... So I'll keep on investigating it... It works from the browser and also from Postman, Thunder Client, and similar, but from Python it seems that it doesn't work now...

[2022-09-16 12:21] Exganza commented on #600
indices method still not work

`df = investpy.indices.get_index_historical_data`

[2022-09-16 12:30] alvarobartt commented on #600
Hi @Exganza so the fix is pending, since `stocks` stopped working too in the `403-patch` branch for no reason (already using the new Investing.com API), so I got to fix it but then stopped working, I'm actively checking it! I'll let you all know whenever I have more updates, sorry for the inconvenience!

[2022-09-16 12:46] lstavares84 commented on #600
You are the best!
Thanks, mate!

[2022-09-16 13:11] alvarobartt commented on #600
It seems that after a certain number of requests Cloudflare blocks you... So it's not stable...

[2022-09-16 13:19] Exganza commented on #600
thank you @alvarobartt

[2022-09-16 17:36] nhlsm commented on #600
I found incomplete solution using **cloudscraper** module. ( NOTE!, incomplete solution )
This module bypass cloudeflare.

1. [OK] https://www.investing.com
[code]

2. [NOT OK] https://api.investing.com/api/financialdata/historical/43365?start-date=2022-08-19&end-date=2022-09-17&time-frame=Daily&add-missing-rows=false

[code]

[2022-09-16 19:57] younggotti commented on #600
I'm a newbie so I'm probably missing something but scraping from the following url seems to work still fine (I don't know how long it will last) https://advcharts.investing.com/advinion2016/advanced-charts/9/9/16/GetRecentHistory?strSymbol=46891&iTop=1500&strPriceType=bid&strFieldsMode=allFields&lang_ID=9&strTimeFrame=1D

[2022-09-17 07:19] Exganza commented on #600
: D
they forgot to burry this one

[2022-09-17 10:58] Sebara0 commented on #600
We need a ID and Description tables to match each symbol, cause the routine search-quotes doesn't work, yet.

[2022-09-17 11:04] Exganza commented on #600
its all available in the investpy resources folder ->  `Lib\site-packages\investpy\resources`
ID col in stocks.csv

[2022-09-17 13:42] gemo911 commented on #600
Hello,

I've got the same error with \investpy\bonds.py:596 in get_bond_historical_data
    raise ConnectionError(

ConnectionError: ERR#0015: error 403, try again later.

[2022-09-17 17:26] hydrastarmaster commented on #569
Other libraries out there have the same problem. Please check the number of symbols that comes out. Eg., the NYSE should have something like 2,400 symbols (https://en.wikipedia.org/wiki/New_York_Stock_Exchange), but I can barely count 470.

[2022-09-17 22:50] Sebara0 commented on #600
Thank you very much. It's completaly useful. We are available to replace the "search_quotes" routine, and access by each asset "investing.com" codes. It's a great news for me

[2022-09-18 04:19] woreom commented on #600
I its not working, plz fix it or show us how to fix it

[2022-09-18 07:25] aullate commented on #600
Hi! Same issue for **investpy.funds.get_fund_historical_data**
You are doing a great job for the investment community.

[2022-09-18 08:37] ymyke commented on #600
@Exganza @Sebara0 What do you do with the id once you have it? How do you use it to access information?

[2022-09-18 08:43] Exganza commented on #600
By passing id as a parameter to Symbol
`https://advcharts.investing.com/advinion2016/advanced-charts/9/9/16/GetRecentHistory?strSymbol=46891&iTop=1500&strPriceType=bid&strFieldsMode=allFields&lang_ID=9&strTimeFrame=1D`

But it doesn't matter,  cloudflare still kicking you out after many requests.

[2022-09-18 09:15] ymyke commented on #600
Thanks, @Exganza. – Looks like we lost investpy then. 😞😞

[2022-09-18 14:22] Sebara0 commented on #600
In my case, it's useful, for instance:

ident = <path>+"stocks.xlsx"
read_tag = pd.read_excel(ident)
....
tag2 = read_tag[read_tag['country'] == 'united states']
tag3 = tag2.loc[tag2['symbol'] == 'TSLA', 'tag']
tag = tag3.values[0]

# ex: https://www.investing.com/equities/tesla-motors-ratios
url = 'https://www.investing.com/equities/'+tag+'-ratios'
    driver.get(url)

# get Price to Cash Flow
 f

[2022-09-18 15:30] sobcza11 opened #603 "Incorrect Dates on investpy.economic_calendar"
Hello,

**Before I begin, investpy is awesome & helped tremendously on one of my Data Science capstone projects; big fan of the work on investpy.

That said, I am experiencing some issues on the dates for investpy.economic_calendar; notably some are wrong. I included my Python code below for reference as to what I am puling. I will note, it is a long time horizon.**

today_d_m_y = now.strftime("%d

[2022-09-19 00:37] hscho77 commented on #591
File "D:\Anaconda3\lib\site-packages\investpy\currency_crosses.py", line 674, in get_currency_cross_historical_data
    raise ConnectionError(
ConnectionError: ERR#0015: error 403, try again later.

Hi, [alvarobartt

When will you fix "get_currency_cross_historical_data"?

[2022-09-19 01:06] hscho77 opened #604 "ERROR 403 when getting currency cross historical data"
As I know, both get_stock_recent_data and get_stock_historical_data are fixed.
But "get_currency_cross_historical_data" has same issue still.

[code]

[code]

[2022-09-19 04:17] chanhw3 commented on #604
Me 2, there is 403 error  after running the sample code
import investpy
df = investpy.get_stock_historical_data(stock='AAPL',
                                        country='United States',
                                        from_date='01/01/2010',
                                        to_date='01/01/2020')

#code below
 line 665, in get_stock_historical_data
    "ERR#0015: error " + str(r

[2022-09-19 04:18] vincentli2017 commented on #604
This is a known issue, there is not a fix to it yet.

[2022-09-19 10:08] plutoBase commented on #600
Alvaro, am sure you are very busy working on all users' behalf, but is there any chance you could update us on your hoped for progress?

Many thanks!

[2022-09-19 13:20] alvarobartt commented on #600
Hi guys, so there's not much progress from my side, as it seems that the Cloudflare protection cannot be ignored, so the patch just works for a limited number of requests... But ends up failing every time!

[2022-09-19 13:33] maread99 commented on #600
Hi @alvarobartt, I don't want to overstep the mark, although given the above and your [latest](https://github.com/alvarobartt/investpy/pull/602#issuecomment-1250632463) pretty pessimistic comment on #602, would you mind me suggesting here an alternative library for price data that might be a worthy option whilst `investpy` is out-of-action? The library's concerned with price processing and providi

[2022-09-19 15:46] smf961 commented on #600
While we don't have a solution, does anyone have any thoughts on alphavantage.co? They have a well-functioning API and the adjusted monthly data is free.
![Captura de tela de 2022-09-19 10-04-47](https://user-images.githubusercontent.com/72451045/191058499-2222a1b1-47e2-4024-b93d-c34aa087f4c9.png)

[2022-09-19 16:08] Turum opened #605 "raise JSONDecodeError("Expecting value", s, err.value) from None json.decoder.JSONDecodeError: Expecting value: line 1 column 2 (char 1)"
Hi,
Could you please check, getting "raise JSONDecodeError("Expecting value", s, err.value) from None json.decoder.JSONDecodeError: Expecting value: line 1 column 2 (char 1)" error when trying to get economic calendar. It falled on this string
<code>
        req = requests.post(url, headers=headers, data=data)
        root = fromstring(req.json()["economicCalendarData"])
</code>
May be I'm using i

[2022-09-19 19:45] arexms commented on #604
Same issue.
Looks like investing.com changed something on their side.'
"**Enable JavaScript and cookies to continue**"

Response from investing.com (part of it)
`<h2 class="h2" id="challenge-running">
            Checking if the site connection is secure
        </h2>
        <noscript>
            <div id="challenge-error-title">
                <div class="h2">
                    <span class="i

[2022-09-20 07:47] MaximKorobov commented on #600
@alvarobartt, when do you plan to release minor version with patch included?

[2022-09-20 16:53] apoorvsingh090 commented on #600
Any alternate libraries to fetch data from investing.com?

[2022-09-21 05:33] samjmck commented on #600
It might be worth using a MITM proxy on an Android or iOS device to check the requests the mobile app is making to the server. Those might be different to the web app and might not have the same protections.

[2022-09-21 06:43] samjmck commented on #600
I've found some endpoints in their mobile app which seem to work in cURL without any special JavaScript or session cookies, while their main endpoints in their web app seem to be blocked for me.

Using the search endpoint, we can get the `pair_ID` for a security. For example, this is for Cloudflare:
[code]
This gives the following JSON response:
[code]

Using the `pair_ID`, we can get the historic

[2022-09-21 09:14] MaximKorobov commented on #600
5 years ago I started to build [investing site scrapper](https://bitbucket.org/MaximKorobov/trading-bot/src/master/main/source/investing/). One can use it within Apache 2.0 license.

[2022-09-21 17:55] Hyperz commented on #600
Hi. I don't personally use this library, but a Discord bot I have for one my clients also consumes data from api.investing.com so I'm faced with the same issue. I've done quite a lot of testing and I've come to the conclusion that it's the TLS fingerprint that triggers the Cloudflare challenge/403. Now, usually you can get around it by changing the TLS cipher lists/suites etc such that you don't h

[2022-09-21 23:30] sobcza11 commented on #603
@alvarobartt Any thoughts?

[2022-09-22 03:27] ignacio-diaz commented on #600
hello Everyone!

I am suffering with this issue, my workaround for now is to use this api

```https://api.fastforex.io/fetch-one?from=USD&to=CLP&api_key=demo```

here is the documentation:
https://fastforex.readme.io/reference/introduction

now, I have to do a lot of requests for many indexes and fiats, so I'm using a free trial api key that lasts for 1 week or 1 million requests.

[2022-09-22 11:58] Larimarinho commented on #600
Hi guys, I'm having the same problem, does anyone have any tips to get around this situation?

dados_usd_brl = investpy.currency_crosses.get_currency_cross_historical_data(currency_cross='USD/BRL',
                                                                            from_date='04/11/2019',
                                                                            to_date= '01/01/2024')

[2022-09-22 15:47] typhoon71 opened #606 "Related to the 403 patch, but not quite related"
Like everyone else I got the same issue, so I was trying to work around it.

I noticed that investpy passes "smlID" to the historical data request ` smlID": str(randint(1000000, 99999999))`.

What is it? Also: why random? It's persistent among browsers.

[2022-09-22 17:03] typhoon71 commented on #606
Answering myself: "smlID" is in the webpage source, along the cross ID.
I'm trying to simulate browser behaviour with requests, and was missing it.

[2022-09-23 05:58] akashghaytadkar1109 opened #607 "bond data issue"
data = investpy.get_bond_historical_data(bond='India 10Y', from_date='02/01/2007', to_date = t1)
  File "/root/anaconda3/lib/python3.9/site-packages/investpy/bonds.py", line 596, in get_bond_historical_data
    raise ConnectionError(
ConnectionError: ERR#0015: error 403, try again later.

Please help me to fix this issue.

[2022-09-23 20:15] JotaSe commented on #600
Any updates?

[2022-09-23 20:17] JotaSe commented on #600
I forked the repo and implemented https://github.com/VeNoMouS/cloudscraper but no success, it can solve the v2 cloudflare challenge

[2022-09-24 12:03] nttams commented on #600
Does anyone try to add a header to the request, sth like {'content-type': 'application/application-json', 'User-Agent': 'Mozilla'} to pretend to be the browser?
Thanks.

[2022-09-25 01:57] sampathkar commented on #600
Hope for the best

[2022-09-25 19:41] Exganza commented on #600
Thanks, @samjmck this is really useful, there's a limitation on the daily period it's retrieved 365 days maximum, but still very useful

[2022-09-25 23:16] adelRosal commented on #607
https://github.com/alvarobartt/investpy/discussions/601

[2022-09-26 12:28] alvarobartt commented on #604
So I've already contacted Investing.com and started a conversation there, I'll let you all know the outcome of it. Thanks for your patience! :hugs:

[2022-09-26 12:28] alvarobartt commented on #600
So I've already contacted Investing.com and started a conversation there, I'll let you all know the outcome of it. Thanks for your patience! :hugs:

[2022-09-26 18:31] arexms commented on #600
@alvarobartt , all

I have a workaround / temporary solution which migh be applicable for some of you.

Below python script works on windows with edge web browser but might work also with other environments (after some modifications).
Script uses selenium to get content page and then XPATH to find required value.

[code]
As a next step, all we need to do is to create a job with such script in Jenk

[2022-09-26 20:53] stevenm100 commented on #552
I had a similar problem, that i posted here. Now I have found this thread, this seems more appropriate....its not a DST problem because the time changes each time i pull the data (maybe 10 seconds apart)

https://github.com/alvarobartt/investpy/discussions/452#discussioncomment-3700967

Does anyone understand what is happening or has a work around or a solution?

[2022-09-26 21:17] stevenm100 commented on #331
Thanks @rodrigoperales this worked for me
https://github.com/alvarobartt/investpy/issues/331#issuecomment-952944746

[2022-09-27 14:14] iazkarategi commented on #604
Have you any new? Thanks a lot

[2022-09-27 14:42] alvarobartt commented on #604
Not yet @iazkarategi, I'll let you know whenever they answer me, but let's put too much faith on it, as `investpy` is not an official Investing.com product...

[2022-09-27 16:47] ersaayan commented on #440
dostum çözebildin mi sorunu

[2022-09-30 05:53] ramakrishnamekala129 opened #610 "I got a way to access investing without cloudflare u can try it with requests library"
import requests
from requests.structures import CaseInsensitiveDict

url = "https://tvc4.investing.com/b12dcd570c91a748a3b7dd4a7ee79167/1664515691/56/56/23/history?symbol=101810&resolution=D&from=1633411692&to=1664515752"

headers = CaseInsensitiveDict()
headers["authority"] = "tvc4.investing.com"
headers["accept"] = "*/*"
headers["accept-language"] = "en-US,en;q=0.9"
headers["content-type"] = "te

[2022-09-30 05:55] ramakrishnamekala129 commented on #610
in this b12dcd570c91a748a3b7dd4a7ee79167 is just like apitoken once u get it then u access all historical data

[2022-09-30 05:57] ramakrishnamekala129 commented on #610
why requests library doesnt work because of http2or3 version in investing protocol

[2022-09-30 06:06] ramakrishnamekala129 commented on #610
api key generated from md5 format

[2022-09-30 07:11] alvarobartt commented on #610
Hi, @ramakrishnamekala129 can you elaborate a little bit more on what those parameters in the URL mean? Thanks :hugs:

- `https://tvc4.investing.com` -> API Host
- `b12dcd570c91a748a3b7dd4a7ee79167` -> API Token? Where did you get this from?
- `1664515691` -> Unknown
- `56` -> Unknown
- `56` -> Unknown
- `23` -> Unknown
- `history` -> HTTP GET Endpoint
- `symbol=101810` -> Investing.com symbol par

[2022-09-30 07:12] alvarobartt commented on #607
Hi @akashghaytadkar1109  as @adelRosal pointed out, everyone is actively looking into this issue so as to find a way to solve it, as Investing.com recently changed their APIs and included Cloudflare v2 protection, which seems hard to skip using Python... But we're working on it, also we've also contacted Investing.com so as to see whether we can get to an agreement in order to keep `investpy` aliv

[2022-09-30 07:19] ramakrishnamekala129 commented on #610
`b12dcd570c91a748a3b7dd4a7ee79167` is md5 encode it will work for all

[2022-09-30 07:20] ramakrishnamekala129 commented on #610
U can generate any random md5 code for api

[2022-09-30 07:27] akashghaytadkar1109 commented on #607
Thanks for your efforts. Please can you suggest me parallel api site for 10 years bond data in India.

[2022-09-30 09:33] alvarobartt commented on #610
OK thanks @ramakrishnamekala129 I'll test your proposal and if it works I'll push some changes to the `patch` branch 😄

[2022-09-30 09:45] ymyke commented on #600
BTW & FWIW: I updated the tessa package (https://github.com/ymyke/tessa) to use yfinance instead of investpy. (There's all kinds of other improvements as well.) yfinance is of course not the optimal replacement for investpy but better than nothing for many use cases. – Still hoping for a resolution here and will re-add investpy once it becomes available again.

[2022-09-30 10:51] alvarobartt commented on #610
I've just tested it and it doesn't work consistently, it works for some requests, but then it stops working... Same as with `api.investing.com`, it works the first times then you get instantly blocked :cry:

[2022-09-30 10:56] alvarobartt commented on #600
Hi @nicklatin it's nice that you ask this, I contacted them more than 2 years ago before developing `investpy` to ask the same thing and they told me that it was OK to develop and open-source `investpy` as long as the data source was being mentioned, so Investing.com is mentioned so it's part of the agreement! So everything's fine regarding this matter!

[2022-09-30 10:59] alvarobartt commented on #600
So to everyone looking for an alternative as @ymyke is mentioning you can use [finance](https://github.com/ranaroussi/yfinance) from @ranaroussi, or even his own custom package `tessa` which is currently using `yfinance` in the background.

[2022-09-30 11:57] maread99 commented on #600
For anyone looking to temporarily switch to yahoo for prices, [market-prices](https://github.com/maread99/market_prices) offers an interface with enhanced querying and additional functionality.

I was hoping to add investpy as a data source for market-prices although was waiting for intraday data to be added (I know there had been intermittent chatter about this). If investpy can get back up and r

[2022-09-30 12:43] alvarobartt commented on #600
Thanks also for your proposal @maread99! Let's see how the conversation with Investing.com turns out and hopefully I can get back to work on `investpy` and all my other personal projects that have been left aside due to the lack of time during the last year! 💪🏻

[2022-09-30 13:10] ramakrishnamekala129 commented on #610
can u share blocking msg

[2022-09-30 13:15] ramakrishnamekala129 commented on #610
it is not blocking me
while True:
    url = "https://tvc4.investing.com/0e818888003657176127862245791911/1664515691/56/56/23/history?symbol=101810&resolution=D&from=1633411692&to=1664515752"

    headers = CaseInsensitiveDict()
    headers["authority"] = "tvc4.investing.com"
    headers["accept"] = "*/*"
    headers["accept-language"] = "en-US,en;q=0.9"
    headers["content-type"] = "text/plain"

[2022-09-30 14:00] alvarobartt commented on #610
Ok, you're right! The error just appears when I try to replace the current time value you mentioned with the current timestamp value, otherwise, it works! I'll probably release something with this patch in the meantime, thanks :hugs:

[2022-09-30 15:24] alvarobartt commented on #610
I've just released `investiny` with a function to retrieve `historical_data` with your proposal @ramakrishnamekala129, check it at https://github.com/alvarobartt/investiny :hugs:

[2022-09-30 15:24] #610 closed

[2022-09-30 15:26] alvarobartt commented on #600
Hi everyone! Good news 🎉

I've just released `investiny` which is a tiny `investpy` with a single function to download the historical data from Investing.com, check it out at https://github.com/alvarobartt/investiny (support is welcomed so if it's useful to you in the meantime while `investpy` is fixed please star it and share it so that anyone can use it while we fix `investpy`)

Thanks to everyo

[2022-09-30 15:42] alvarobartt opened #611 "🤏🏻 Use `investiny` while we fix `investpy`!"
Hi everyone, I'm Alvaro Bartolome, ML Engineer, open source developer, and the creator of `investpy`. As many of you may already know, Investing.com which is the data source that `investpy` uses has recently changed its APIs as well as the protection of those with Cloudflare, which means that the data is not accessible the same way as before. I and other community members are working actively on s

[2022-09-30 15:48] alvarobartt commented on #611
## ❓ How to use it?

[code]

## 🤔 Q&A

* Where does the `investing_id` parameter come from? -> It's the Investing.com unique identifier for each asset that they have listed in their platform, you can look for it either by inspecting the code of Investing.com, or just checking the ID field in the `investpy/resources` which are a collection of CSV files scraped from Investing.com and contain some of

[2022-09-30 16:17] wajihwajeh commented on #600
How do we get the investing_id? running search quotes on investor gives the same 403 error

[2022-09-30 17:48] webdevzilla commented on #600
Hello everyone!

I was using a custom script for investing.com, which led me to investpy when things broke.

I ended up building a solution, but feel guilty not sharing it with everyone stuck on this issue. So, here is the API to bypass Cloudflare: http://api.scraperlink.com/investpy/

Using it in your scripts is just a matter of prefixing your current fetch requests with this: http://api.scraperl

[2022-09-30 18:07] webdevzilla commented on #591
Hello everyone!

As a temporary (or permanent) solution, I have built an API that will bypass Cloudflare.

Using it is as simple as prefixing your current GET requests with this: http://api.scraperlink.com/investpy/?email=your@email.com&url=

Example:

Please be sure to replace "email" with your actual one if you want to receive updates. I want to be able to alert everyone if something breaks. It

[2022-09-30 18:14] webdevzilla commented on #611
Unfortunately, this will also break as the endpoint is using Cloudflare.

I built an API to use for my own projects to bypass Cloudflare, but happy to share it here: http://api.scraperlink.com/

You can prefix this to any GET request to bypass Cloudflare: http://api.scraperlink.com/investpy/?email=your@email.com&url=

Example: http://api.scraperlink.com/investpy/?email=your@email.com&url=https%3A%

[2022-09-30 23:18] nicklatin commented on #600
Alvaro, that's great! Does this mean interest rate and commodities data is retrievable?

Btw, for those who need access to a range of cryptoasset data, feel free to check out my project CryptoDataPy (which is integrating InvestPy): https://github.com/systamental/cryptodatapy

[2022-10-01 04:17] fredericojordan commented on #600
To get the `investing_id`:

1. Navigate to https://tvc4.investing.com/
2. Open your browser console, go to network tab
3. Use the investing.com search bar to find your stock and click it
4. Search the network tab for the `/history?symbol=` and the `symbol` query param is your `investing_id`

[2022-10-02 06:41] webdevzilla commented on #607
You can use the API that I made for now: http://api.scraperlink.com/investpy/

For the India 10Y bond data, you would retrieve it like this: http://api.scraperlink.com/investpy/?email=your@email.com&type=historical_data&product=bonds&from_date=01/01/2022&to_date=09/28/2022&time_frame=Monthly&country=india&name=India%2010Y

You can change the time_frame params as needed (i.e. Daily, Weekly, Monthly

[2022-10-02 09:47] alvarobartt commented on #600
Hi @wajihwajeh, so you can either retrieve those manually from the `resources/stocks.csv` or any other CSV file under resources, taking the `id` of the column that you want, anyway I'll implement something in [`investiny`](https://github.com/alvarobartt/investiny) to easily look for those!

Please star [`investiny`](https://github.com/alvarobartt/investiny) and create all the related issues there,

[2022-10-02 09:48] alvarobartt commented on #600
Hi @fredericojordan, so this works if doing it manually, but I'm planning to actually develop a way to automatically retrieve those in order to avoid either manual search or relying on static CSV files!

Please star [`investiny`](https://github.com/alvarobartt/investiny) and create all the related issues there, not here, as it's easier for me to track, thanks! 🤗

[2022-10-02 09:50] alvarobartt commented on #600
Hi @nicklatin, yes, all the Investing.com data is retrievable from Investing.com using the `historical_data` function from [`investiny`](https://github.com/alvarobartt/investiny), but you need to know the Investing.com ID of your asset in advance! You can either look for it in the `id` column of the CSV files under `investpy/resources`, or just inspect the Investing.com source code. Anyway, I'm de

[2022-10-02 09:53] alvarobartt commented on #600
Hi, @webdevzilla I'll test your solution, but I'm trying to contact Investing.com or look for alternatives, not to actually bypass their protection as there may be legal terms there (so check those before actually sharing your solution), as I'm not responsible for that.

I'll let you all know when I get a response from Investing.com so as to see whether we can reach an agreement to continue `inves

[2022-10-02 09:56] alvarobartt commented on #600
FYI I've created here an issue at https://github.com/alvarobartt/investpy/issues/611, and a Discussing at https://github.com/alvarobartt/investpy/discussions/612, both are pinned and have some details on how to use [`investiny`](https://github.com/alvarobartt/investiny) which is a tiny version of `investpy` that I've just created so as to develop there some temporary solutions to keep on pulling d

[2022-10-02 09:59] alvarobartt commented on #607
Hi @akashghaytadkar1109, you can use [`investiny`](https://github.com/alvarobartt/investiny) in the meantime, which is a solution that I've created to retrieve the historical data of any Investing.com asset using the Investing.com ID. I'm not responsible for the usage of alternate solutions that may violate Investing.com terms of use like @webdevzilla's project to bypass the Cloudflare protection.

[2022-10-02 10:09] ymyke commented on #600
Are you sure that the workaround via https://tvc4.investing.com/ doesn't violate their TOS, @alvarobartt ?

[2022-10-02 10:12] alvarobartt commented on #600
Hi @ymyke so we are mentioning the source the data comes from and it's a publicly available API. What may violate those is to actually bypass their protection protocols, but not sure, this is why I'm telling people developing their own solutions to contact Investing.com just like I did some time ago, to get their approval.

[2022-10-02 20:37] Hcevahir34 commented on #440
VPN app solved the problem, thank you!

[2022-10-02 20:38] Hcevahir34 commented on #440
Evet, VPN uygulaması ile sorun çözüldü.

[2022-10-02 20:45] webdevzilla commented on #607
If their only requirement is to "mention the source", I don't believe my workaround would violate their terms either.

However, I tested [`investiny`](https://github.com/alvarobartt/investiny) and it works perfectly! Hopefully it continues that way, but it doesn't hurt to have my API as a quick backup if it stops. Redundancy is always good!

Great work on finding a solution @alvarobartt  @ramakris

[2022-10-02 20:52] alvarobartt commented on #607
That's right @webdevzilla it's a nice solution, just keep that in mind!

I'll check it in another branch or something and let you know! Thanks.

[2022-10-03 03:25] akashghaytadkar1109 commented on #607
Awesome, thanks!

On Mon, 3 Oct 2022, 2:22 am Alvaro Bartolome, ***@***.***>
wrote:

[2022-10-03 06:49] akashghaytadkar1109 commented on #607
hii,
from above api we get data but which is not in json format for analysis.
Please can you share the code to convert above data in "csv" or "json"
format directly.

On Mon, Oct 3, 2022 at 8:55 AM Akash Ghaytadkar ***@***.***>
wrote:

[2022-10-03 07:00] alvarobartt commented on #607
Hi @akashghaytadkar1109  I'd suggest you use [`investiny`](https://github.com/alvarobartt/investiny) instead as it's providing the data as a Python dictionary, there's still work in progress there, but currently is stable and open to issues/contributions.

In case you're wondering how to retrieve the Investing.com ID (param named `investing_id` in `investiny`) check the following comment's answer

[2022-10-03 09:23] OGsiji commented on #600
One simple question that has not been answered is, How do I install investiny?

[2022-10-03 10:08] alvarobartt commented on #600
Hi @OGsiji thanks for asking! To install it just `pip install investiny` and that will do the work, anyway make sure to read and go through [`investiny`](https://github.com/alvarobartt/investiny)'s README that contains more details and information!

FYI I'm also working on the documentation so hopefully, I can release it soon too to answer all the questions and provide code examples!

[2022-10-03 10:23] OGsiji commented on #600
[code]

[2022-10-03 11:11] alvarobartt commented on #600
Hi @OGsiji can you report this issue at https://github.com/alvarobartt/investiny/issues?

[2022-10-03 22:30] PrinceMalaba commented on #604
Any Luck on solution to 403 error?

[2022-10-04 07:31] alvarobartt commented on #604
Yes @PrinceMalaba I found a solution that I've developed in [`investiny`](https://github.com/alvarobartt/investiny) usage is limited, but it works fine. And, I've just released `investiny v0.3.0` with `search_assets` function to mimic `investpy.search_quotes` function which is not working here either.

💫 So please everyone go install `investiny`, star it to show me some support, provide me feedbac

[2022-10-04 15:07] ersaayan commented on #440
hangi vpn ile çözdün hotspot shield denedim olmadı.

[2022-10-04 15:21] ersaayan opened #613 "ConnectionError: ERR#0015: error 403, try again later."
I am trying to do data analysis using investpy library but I am getting this error. Anyone know the solution?
![image](https://user-images.githubusercontent.com/54419039/193859426-0cb143d3-a00a-4287-843a-7aadb6374302.png)

[2022-10-04 18:38] Hcevahir34 commented on #440
Privado VPN adında bir masaüstü uygulamasında aylık 10 GB ücretsiz kullanım
hakkı var. Londra üzerinden bağlanarak denersen çalışacaktır.

4 Eki 2022 Sal 18:07 tarihinde Eren Ali Şavk ***@***.***>
şunu yazdı:

[2022-10-05 06:03] alvarobartt commented on #613
Hi @ersaayan pkease temporarily use `investiny` instead!

https://github.com/alvarobartt/investpy/discussions/612
https://github.com/alvarobartt/investpy/issues/611

[2022-10-05 06:07] alvarobartt commented on #440
Hi everyone, so the VPN may temporarily solve the issue but block you after N requests so you’ll end up having the same issue (503 HTTP), so please use [`investiny`](https://github.com/alvarobartt/investiny) instead as currently `investpy` is not stable due to the latest changes on Investing.com.

Refer to:
- https://github.com/alvarobartt/investpy/discussions/612
- https://github.com/alvarobartt/

[2022-10-05 14:26] andresrogers commented on #611
Can it be used to get currency crosses ?

[2022-10-06 07:48] alvarobartt commented on #611
Hi, @andresrogers yes, it can be used for that, if you want to know how, please open a new Q&A discussion at https://github.com/alvarobartt/investiny/discussions/categories/q-a Thanks :hugs:

[2022-10-06 08:15] AyseTheArk commented on #600
I wanted to use the historical data for the trendet library, like in the code here https://github.com/alvarobartt/trendet

I had the same error, but with investiny I was able to create the df finally, however the column names seem to be different now. In the code you have 'Up Trend' , 'Down Trend', 'Date'. But in the investiny I only saw 'open', 'high', 'low'. Am I using the wrong data? I got the

[2022-10-06 08:37] alvarobartt commented on #600
Hi, @AyseTheArk do you mind opening that as a separate issue at https://github.com/alvarobartt/investiny/issues? Otherwise is just a mess for me to go through all the issues here, thanks!

[2022-10-11 07:56] akashghaytadkar1109 commented on #607
Thanks for your efforts

On Fri, 30 Sep 2022, 12:43 pm Alvaro Bartolome, ***@***.***>
wrote:

[2022-10-13 06:18] mscharstrom commented on #605
I am also having this problem, example code:

import investpy

data = investpy.economic_calendar(
    from_date = '13/10/2022',
    to_date  = '24/10/2022',
    importances = ['high'],
    countries = ['united states', 'euro zone']
)
print(data.head(100))

Error message: requests.exceptions.JSONDecodeError: Expecting value: line 1 column 1 (char 0).

Used to work fine. Maybe it has to do with inve

[2022-10-14 22:09] danielWagnerr opened #614 "New way to get technical analysis from investing.com"
I used the techincal_indicators function to get analysis of currency crosses, but with these new changes from Investing, this method stopped working.

I created one that gets the analyzes ONLY OF CURRENCY CROSSES:

technical.py:
[code]

constant.py:
[code]

I didn't open a pull request because I don't know if my code complies with the standards, I created this issue to help in case anyone has the

[2022-10-15 10:27] alvarobartt commented on #614
Hi @danielWagnerr thanks for posting this alternate solution, I'll try to test it on [`investiny`](https://github.com/alvarobartt/investiny) in the meantime!

[2022-10-19 08:03] yanghoonkim commented on #611
I found investiny doesn't work too

[2022-10-19 08:39] alvarobartt commented on #611
Hi @yanghoonkim it seems that the Investing.com APIs that `investiny` was using are blocked by Cloudflare too... Let's see if I get a response from Investing.com as I contacted them to get to an agreement / collaboration.

[2022-10-19 09:18] normanvdmeijden opened #615 "Expecting value: line 1 column 1 (char 0)"
Hi guys,

Yesterday I could retrieve the calender info with any issues, trying it this morning (same code),  I received the following error below.
How can I fix this?

Traceback (most recent call last):
  File "C:\Users\vanderMeijden\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\requests\models.py", line 971, in json

[2022-10-19 10:32] Lontaren commented on #615
I have the same problem

[2022-10-19 15:48] brianchu1986 commented on #615
same problem here, response 403 forbiden.

[2022-10-19 18:15] varshasahasrabuddhe commented on #615
same problem.

[2022-10-19 21:03] webdevzilla commented on #611
@alvarobartt Not quite sure why there's hesitation to use my solution for now.

Here's the API I built specifically for this community: http://api.scraperlink.com/investpy/

Using it in your scripts is just a matter of prefixing your current fetch requests with this: http://api.scraperlink.com/investpy/?email=your@email.com&url=

Example:

I have also added another option that supports historical

[2022-10-19 21:21] varshasahasrabuddhe commented on #611
Hi,
we are using investpy.economic_calendar and that is breaking too

[2022-10-20 09:35] IlliaBoloto commented on #615
Same!

[2022-10-20 13:39] alvarobartt commented on #615
Hi everyone, so this issue is due to Investing.com's new protection with Cloudflare V2, this has affected [`investpy`](https://github.com/alvarobartt/investpy) and [`investiny`](https://github.com/alvarobartt/investiny), but I've already contacted them so as to see whether we can get to a collaboration agreement, I'll keep you all posted, sorry for the inconveniences...

[2022-10-20 13:45] normanvdmeijden commented on #615
@alvarobartt thanks for the update. Really appreciate all the work you have done and what you have made possible thusfar!

[2022-10-21 06:22] davidpazo opened #616 "JSON error trying to obtain data from investpy"
Hi! I am trying to use investpy to obtain news in my channel. Two days ago this work perfectly but since then i have this error:

`Traceback (most recent call last):
  File "C:\Users\Usuario\PycharmProjects\test-investpy.py", line 7, in <module>
    data = investpy.economic_calendar(countries=countries, importances=importance)
  File "C:\Users\Usuario\AppData\Local\Programs\Python\Python310\lib\si

[2022-10-21 11:04] KostyaCholak commented on #600
Hi, @alvarobartt !
I've encountered the 403 Error problem today and found that using `curl` seem to be working fine, no 403 error.
And the only difference I can see is the headers ordering - requests shuffles headers, while curl preserves them as provided.
So I tried using urllib.request and it worked.

I'm using Python 3.10.5

Maybe this can solve all 403 errors in the project?

minimal working e

[2022-10-21 11:07] alvarobartt commented on #600
Thanks @KostyaCholak can you please open a separate issue at https://github.com/alvarobartt/investiny? I'll try to test that approach later today, thanks!

[2022-10-21 18:40] varshasahasrabuddhe commented on #605
I am also facing same problem
investpy.economic_calendar(time_zone = "GMT", countries = ["United States"], importances = ['high','medium','low'],from_date= get_exogs_from, to_date = get_exog_to)
with error as follows

Expecting value: line 1 column 1 (char 0)

[2022-10-22 00:55] jazz-g commented on #616
Getting the same issue, I'm guessing investing.com changed something which caused the scraper to break.

[2022-10-22 04:30] jazz-g commented on #616
yeah it's a 403 error, and it looks like investing.com doesn't want these libraries to work. The chance of this library working again doesn't look good.

[2022-10-22 05:43] jazz-g commented on #615
I've gotten the economic_calendar module working again by using the library cfscraper, and using that to make requests by adding
`import cfscraper` to the imports and
`scraper = cfscrape.create_scraper()` above the `while True` loop, and then replacing `req = requests.post(url, headers=headers, data=data)` with `req = scraper.post(url, headers=headers, data=data)`

[2022-10-22 06:09] brianchu1986 commented on #615
@jazz-g
it works with cfscrape.
thanks for info.

[2022-10-22 06:09] brianchu1986 commented on #615
@jazz-g
it works with cfscrape.
thanks for info.

[2022-10-23 20:50] AndresFe1996 commented on #600
hello everyone, my name is andres, I am a python programming student and investPY made me very happy, I would like to know if maybe investPY could find a solution by the end of the year? I don't know how serious the error is but from what I've been investigating it seems to be an update issue of investing.com itself. I thank all developers for their time and stay tuned.

[2022-10-24 03:37] InnovArul commented on #614
@alvarobartt Is this method useful in `investiny`?

[2022-10-24 07:25] normanvdmeijden commented on #615
@jazz-g Thanks, but when I tried this I am requested for a license key.
any idea what I am doing wrong?

[2022-10-24 07:51] Lontaren commented on #615
Hi! What a great community we have, thanks for the solution. @normanvdmeijden I believe you're importing the wrong module, it's supposed to be crscrape (not crscraper)
Thanks for the solution @jazz-g

[2022-10-24 08:02] normanvdmeijden commented on #615
@jazz-g @Lontaren Yes it is up and running now, thanks for all the support

[2022-10-24 22:18] varshasahasrabuddhe commented on #615
i need a little bit of help here.
i am using below function. how do i get it using  cfscrape
exogs = investpy.economic_calendar(time_zone = "GMT", countries = ["United States"], importances = ['high','medium','low'],from_date= date_from, to_date = date_to)

[2022-10-25 11:15] Lontaren commented on #615
@varshasahasrabuddhe You need to modify the investpy package (in this case the news.py file) with the code @jazz-g suggested

[2022-10-25 22:14] varshasahasrabuddhe commented on #615
Thank you Lontaren and @jazz-g

[2022-10-26 05:40] kth2 commented on #600
Hi @alvarobartt ,wondering if you get any update or feedback from Investing.com regarding this restriction? If they are open-source, it should allow everyone to do web-scraping. Thanks!

[2022-10-27 09:08] anarchy89 commented on #611
@webdevzilla could you add all the categories under the markets button?

[Indices](https://www.investing.com/indices/)
[Stocks](https://www.investing.com/equities/)
[Commodities](https://www.investing.com/commodities/)
[Cryptocurrency](https://www.investing.com/crypto/)
[Currencies](https://www.investing.com/currencies/)
[ETFs](https://www.investing.com/etfs/)
[Funds](https://www.investing.com/fun

[2022-10-30 06:57] patrikot commented on #611
@webdevzilla yes, please open up for indices, currencies and commodities, as well.

[2022-10-31 17:02] Merijn68 commented on #600
Hi, @alvarobartt,

I am a student of data science from the Netherlands and I am looking for some open source bond data. I came across InvestPy and this looks like a very useful package to get some history of corporate bonds. Unfortunately I encountered this 403 error when I try to run the examples. Is there a fix now? Or a fix expected shortly?

Also - when I install the package it gives an error

[2022-10-31 19:06] beinghorizontal commented on #616
I'm getting the same  403 error.  I tried to update the headers as shown in Chrome >>inspect>>network tab but nothing works.  I even copy-pasted the cookies but to no avail.
By the way, this issue is a duplicate of issue 615 [link](https://github.com/alvarobartt/investpy/issues/615)
For the solution check this [Reply](https://github.com/alvarobartt/investpy/issues/615#issuecomment-1287638648)

[2022-10-31 23:55] KTHor2 commented on #600
Hi @Merijn68
you can refer to "Issues" query here, currently there are known error 403 on investpy script running. This is due to the webscrapping to investing.com got blocked, not due to any sort of new Investing.com protection against investpy, but actually due to Cloudflare, as they included protection in the latest release of Investing.com, so the previous API was deprecated and the current on

[2022-11-02 12:56] Merijn68 commented on #600
Hi KTHor2,

Thanks for your reply. So Investpy is currently not working due to this error, and there is no solution for this? What do you mean when you say the "current API is protected"?

[2022-11-02 14:20] alvarobartt commented on #600
You can use [`investiny`](https://github.com/alvarobartt/investiny) in the meantime, even though at some point you'll face the same issue with Investing.com temporarily blocking you if you send too many requests... I've already contacted Investing.com in order to look for a solution to this... I'll keep you all posted regarding this matter!

[2022-11-07 10:57] gfx-prog commented on #600
You can use [investiny]
I do have the same error message using it.
In fine, anyone has a reliable alternative as it can be serious to build a download script given this restriction.
Anyone got answer from investing; com ?

[2022-11-07 18:21] superjunk1 commented on #611
This works fine for me with currencies and stocks. But I can't figure out how to make it work for funds. Is this category available too?

[2022-11-08 08:15] alvarobartt commented on #611
@webdevzilla can you migrate all those discussions/issues related to your project to a repository under your GitHub? Thanks

[2022-11-08 12:55] romanminkoff commented on #600
There is still yfinance around. Before investpy I was developing X-way scrapping/getting data from different sources (using timeouts to avoid potential bans for API overuse, and DB for caching results locally), and cross checking that data to make sure it's correct... need to resume that project.

[2022-11-09 09:14] gfx-prog commented on #600
haven't tried scrapping yet. May be the inly safe way ...

[2022-11-09 09:19] gfx-prog commented on #600
anyone having a hint and/or a function that can download using url such as ...  'https://www.investing.com/equities/ubisoft-historical-data'  it seems that we can't  pass dates in the url

[2022-11-10 02:09] webdevzilla commented on #611
Yep, it's all added: http://api.scraperlink.com/investpy/

Here's the sample APIs:

[code]

This was only meant to serve as a temporary solution. It wasn't my intention to create a competing repository.

If you feel that's appropriate, I can put one together.

[2022-11-10 02:18] webdevzilla commented on #600
You can use the workaround API that I built for this community: http://api.scraperlink.com/investpy/

For example, here's the sample API for stocks:

[2022-11-14 14:00] stagnoman commented on #600
webdevzilla, well done!

[2022-11-14 17:46] claudio2323 commented on #600
hi, still having issues.

import investiny
from investiny import historical_data
data = historical_data(investing_id=6408, from_date="09/01/2022", to_date="10/01/2022")

i get "ConnectionError: Request to Investing.com API failed with error code: 403."**

[2022-11-16 11:40] gfx-prog commented on #600
Thks ! Great. how do you handle it back to python ?

url = "http://api.scraperlink.com/investpy/?email=myemail@email.com&type=historical_data&product=stocks&country=united%20states&symbol=TSLA&from_date=11/14/2022&to_date=11/15/2022"
response = requests.get(url).content

can't manage to access to individual fields.

{"data":[{"direction_color":"greenFont","rowDate":"Nov 15, 2022","rowDateRaw":1668

[2022-11-16 12:23] stagnoman commented on #600
use json to parse and deserialize the response into an object.
import json ...

https://json2csharp.com/code-converters/json-to-python

[2022-11-16 12:45] gfx-prog commented on #600
Thks. For those who may be interested.

response = requests.get(url)
resp_dict = response.json()
print(type(resp_dict))
df = pd.DataFrame(resp_dict.get('data'))
print(df.columns.values)
print(df['last_close'], df['rowDate'])

[2022-11-17 03:30] elricStormBringer commented on #611
hi @alvarobartt  / @webdevzilla , I came to know of this great python module 'investiny' and 'investpy' today, from StackOverflow.com.

I tried using it, and keeps getting the dreaded '403' error even though I am a new user. Is this APIscraperLink the only current fix?

I have been using python for more than 4 years, but my programming is more in modelling, rather than IT infrastructure coding...

[2022-11-17 03:57] elricStormBringer commented on #610
@ramakrishnamekala129 , I used this snippet, and unfortunately, it just loos with a 403 error code. This is as of 17/11/2022, United Kingdom location.

[2022-11-17 04:36] ramakrishnamekala129 commented on #610
Because we used this api that why investing.com close this backend api

[2022-11-18 11:20] KapteinBabbalas commented on #610
I dont think that is the case.
If you open the url in any browser it works perfectly.
If you just do a get in postman for that link you see that it return html with a form and a script with a function in there that does some magic in the window. I'm not that clued up with front end but maybe have a look to see if you can take that raw response and do something with it.

[2022-11-18 13:28] ngeorgj commented on #616
@alvarobartt do you know if this data scrapping can be fixed? (not trying to push you guys on fixing, just to understand if this can be fixed), I kinda used the library a lot, this is affecting my research.

[2022-11-21 01:46] arrowstem commented on #600
Thanks, but can I use your tool to get the economic calendar? I tried but didn't succeed:

`url = 'http://api.scraperlink.com/investpy/?email=my@email.com&type=economic_calendar&country=united%20states&from_date=21/11/2022&to_date=25/11/2022'`

response:

`b'Please specify &id=, &symbol= or &name='`

I'm not sure if this response is from your tool (looks like it) or from investing.com. Now I'm los

[2022-11-22 11:36] PolBarreiro commented on #600
Max retries exceeded with url investing.com with scraperlink
Does anyone know how much time do we have to wait go call again?

[2022-11-22 16:26] GregorioRozario commented on #600
I use 2,5 seconds. 2 seconds between each request may work:
https://github.com/alvarobartt/investpy/issues/467#issuecomment-962017694

[2022-11-22 17:17] webdevzilla commented on #600
It shouldn't be happening. Can you contact me the next time it happens?

I am guessing the issue was with Investing.com downtime.

[2022-11-28 17:14] mscharstrom commented on #611
@alvarobartt any updates from investing.com? I'm mostly interested in the economic calendar. Does your workaround fix that @webdevzilla ?

Thanks in advance.